<section class="parallax-window" data-parallax="scroll" data-image-src="img/single_tour_bg_1.jpg"
    data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Mount Longonot Hike</h1>
                    <h3 style="color: aliceblue;"><strong>Date: </strong>17/10/2020</h3>
                    <span class=""></span>
                </div>
                <div class="col-md-4">
                    <div id="price_single_main" >
                        from/per person <span style="color:#417a04;"><sup>kshs</sup>2700</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>                       
               
                <li>Mount Longonot Hike Tour</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->


    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8" id="single_tour_desc">
                <div id="single_tour_feat">
                    <ul>
                        <!-- <li><i class="icon_set_1_icon-4"></i>Museum</li> -->
                        <li><i class="icon_set_1_icon-83"></i>3 Hours</li>
                        <li><i class="icon_set_1_icon-97"></i>Audio guide</li>
                        <li><i class="icon_set_1_icon-29"></i>Tour guide</li>
                        <li><i class="icon_set_1_icon-13"></i>Accessibiliy</li>
                        <li><i class="icon_set_1_icon-82"></i>16 Likes</li>
                        <!-- <li><i class="icon_set_1_icon-22"></i>Pet allowed</li> -->
                        
                    </ul>
                </div>

                <!-- <p class="d-none d-md-block d-block d-lg-none"><a class="btn_map" data-toggle="collapse"
                        href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map"
                        data-text-original="View on map">View on map</a>
                </p> -->
                <!-- Map button for tablets/mobiles -->

                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _2500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _22000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _22000x1333.jpg">                                   
                         </div>
                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _11000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _1500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _11000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _12000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _12000x1333.jpg">   
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _3500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _32000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _32000x1333.jpg">   
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _4500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _42000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _42000x1333.jpg">   
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _5500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _52000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _52000x1333.jpg">   
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _7500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _72000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _72000x1333.jpg"> 
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _6500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _62000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _62000x1333.jpg"> 
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _8500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _82000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _82000x1333.jpg"> 
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _9500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _92000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _92000x1333.jpg"> 
                         </div>
                    </div>
                    <div class="sp-thumbnails">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _11000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg">
                    </div>
               </div>

                <hr>

                <div class="row">
                    
                    <div class="col-lg-12">
                        <h3>Mount Longonot Hike</h3>
                        <p>
                            <strong>MOUNT LONGONOT HIKE</strong> is calling.... and we must respond!!! Grab your seat <strong>NOW</strong> for <strong>KSHS 2700</strong>
                        </p>
                        <div>
                            <hr>
                        </div>
                        
                        <p>
                            <strong>Mount Longonot</strong> is a stratovolcano located southeast of Lake Naivasha in the Great Rift Valley of Kenya, Africa. 
                            It is thought to have last erupted in the 1860s. Its name is derived from the Maasai word Oloonong'ot, meaning "mountains of many spurs" 
                            or "steep ridges"
                        </p>
                        <p>
                            Hike your way up Mt. Longonot on this trip from Nairobi, and admire the national park’s volcanic terrain of
                            bubbling geysers and soaring rift valley cliffs. After your climb to the crater’s rim, you’ll relax with a
                            lunch, then hop on a boat for a cruise around Lake Naivasha, looking for hippos and eagles as you go. The full climb and
                            descent takes up to four hours, and a good general standard of fitness is needed.
                            
                            Read more about Private Hiking Day Trip to Mt. Longonot from Nairobi 2020 
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>What's included?</h4>
                                <ul class="list_ok">
                                    <li>Transport to and fro (As per the new Covid19 Rule)</li>
                                    <li> Photographer </li>
                                    <li>Park fee/ Guide fee</li>
                                    <li> Branded Mask</li>
                                    <li>Lunch and drinking water (500ml)</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4>What's excluded?</h4>
                                <ul class="list_ok">
                                    <li>Refreshments/extra water</li>
                                    <li>Snacks</li>
                                    <li>Tips and gratuity</li>
                                    <li>Any items not stipulated above</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End row  -->
                        <div>
                            <p><strong>𝐑𝐄𝐐𝐔𝐈𝐑𝐄𝐌𝐄𝐍𝐓𝐒</strong></p>
                            <p>Comfortable hiking shoes & attire / Rucksack/Sun cream/cameras/ Mask/ Sanitizer</p>
                        </div>
                        <div>
                            <h4><strong>DETAILED ITINERARY</strong></h4>
                            <p><strong>𝟎𝟔:30𝐚𝐦:</strong> Meeting at international house opposite cfc stanbic bank.</p>
                            <p><strong>𝟎𝟔:𝟒𝟓𝐚𝐦:</strong> Departure time</p>
                            <p>
                                You will make a scheduled stop at the view point on the side of the escarpment to take photos and to enjoy the view of 
                                the Rift valley floor from a birds eye view. After which we will depart to the famous "small chuch". 
                                The rift valley system was formed 5 million years ago 
                                and the rift runs from the red sea through Ethiopia and Kenya and Tanzania. The rift valley is an 
                                active volcanic area and has some of the most interesting features including more than 8 lakes, 
                                dormant and active volcanic mountains and hotsprings and geysers like the Olkaria geothermal wells 
                                and Lake Bogoria geysers.
                            </p>
                           
                            <p>
                                Arrival at The Travelers’ Chapel, smallest church in Kenya possibly built by Italian Prisoners Of War. 
                                This church is commonly referred to as msikiti – mosque by the locals because it 
                                resembles one. Furthermore, prior to the four pews, worshipers used to pray on their knees.
                            </p>
                            
                           
                            <p>
                                Arrive at Mount Longonot National Park. 
                                Briefing and start the hike. Like all good uphill hikes it will lull you into a sense of false security 
                                with a slow gentle rise to the first peak. This will give you the chance to get your lungs and limbs 
                                freed up for the second section, which is the best section.
                            </p>
                            <p> Descend and 30 mins rest at the foot of the mountain. This will be the conclusion of your tour  after which you will driven to Mai Mahiu for buffet lunch and photography</p>
                            <p> <strong>𝟎𝟓:𝟎𝟎𝐩𝐦:</strong> Depart for Nairobi city.<i class="fa-li fa fa-spinner fa-spin" aria-hidden="true"></i></p>
                            <p>Arrive in Nairobi city -drop offs</p>
                        </div>
                    </div>
                </div>
                <!--To be remeoved
                <hr>
                
                <div class="row">
                    <div class="col-lg-3">
                        <h3>Schedule</h3>
                    </div>
                    <div class="col-lg-9">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            <h3>17th October 2020</h3>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Monday
                                        </td>
                                        <td>
                                            10.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Tuesday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Wednesday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Thursday
                                        </td>
                                        <td>
                                            <span class="label label-danger">Closed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Friday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Saturday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sunday
                                        </td>
                                        <td>
                                            10.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong><em>Last Admission</em></strong>
                                        </td>
                                        <td>
                                            <strong>17.00</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            1st November to 28th February
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Monday
                                        </td>
                                        <td>
                                            10.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Tuesday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Wednesday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Thursday
                                        </td>
                                        <td>
                                            <span class="label label-danger">Closed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Friday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Saturday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sunday
                                        </td>
                                        <td>
                                            10.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong><em>Last Admission</em></strong>
                                        </td>
                                        <td>
                                            <strong>17.00</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
       End of to be removed-->
               
                    <div class="row" >
                        <div class="col-md-6">
                            <h4><strong>𝐏𝐀𝐘𝐌𝐄𝐍𝐓 𝐀𝐍𝐃 𝐑𝐄𝐒𝐄𝐑𝐕𝐀𝐓𝐈𝐎𝐍𝐒</strong></h4>
                            <p>Reserve by making a 50% down payment and clear the balance before departure.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="lipa">
                                <h4><strong>𝐋𝐈𝐏𝐀 𝐍𝐀 𝐌𝐏𝐄𝐒𝐀</strong> </h4>
                                <p>Paybill Number <strong>874323</strong> 
                                       H-ART OF AFRICA SAFARIS LTD</p>
                              
                            </div>
                        </div> 
                        
                    </div>
              

            </div>
            <!--End  single_tour_desc-->

            <aside class="col-lg-4">    
                <div class="box_style_1 expose">                                
                    <a class="btn_full" href="/contact">Confirm Attendance</a>                   
                </div>              

                <app-book-by-phone-right></app-book-by-phone-right>
               

            </aside>
            
        </div>
        <!--End row -->
    </div>
    <!--End container -->
    <!--start of footer-->

	<app-footer></app-footer>

	<!--End of footer-->

    <div id="overlay"></div>
    <!-- Mask on input focus -->

</main>