<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../../assets/img/advert-campaigns/longonot/mt longonot copy-100.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">                 
                    <h2 class="page-header tour_titles campaign-content">
                        Highlights of Mt Longonot Hike
                   </h2>
                   <h3 class="campaign-content-mobile" style="color: aliceblue;"><strong>Date: </strong>17/10/2020</h3>
                </div>
                <div class="col-md-4">
                    <div class="campaign-content" id="price_single_main">
                        per person <span style="color:#f3ef07e1;"><sup>kshs</sup>2600</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>

                <li>Mount Longonot Hike Tour</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->


    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8" id="single_tour_desc">
                <div id="single_tour_feat">
                    <ul>
                        <!-- <li><i class="icon_set_1_icon-4"></i>Museum</li> -->
                        <li><i class="icon_set_1_icon-83"></i>12 Hours</li>
                        <!-- <li><i class="icon_set_1_icon-97"></i>Audio guide</li> -->
                        <li><i class="icon_set_1_icon-29"></i>Tour guide</li>
                        <li><i class="icon_set_1_icon-13"></i>Accessibiliy</li>
                        <li><i class="icon_set_1_icon-82"></i>16 Likes</li>
                        <!-- <li><i class="icon_set_1_icon-22"></i>Pet allowed</li> -->

                    </ul>
                </div>

                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_2-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_2@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_2-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_2@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_2@2x-100.jpg">
                        </div>                     

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_10-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_10@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_10-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_10@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_10@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_4-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_4@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_4-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_4@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_4@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_7-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_7@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_7-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_7@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_7@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_5@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_5@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_5@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_6-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_6@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_6-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_6@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_6@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_3-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_3@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_3-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_3@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_3@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_9-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_9@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_9-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_9@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_9@2x-100.jpg">
                        </div>>
                    </div>
                    <div class="sp-thumbnails">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_2-100.jpg">                      
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_10-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_4-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_7-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_6-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_3-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_9-100.jpg">
                    </div>
                </div>

                <hr>

                <div class="row">

                    <div class="col-lg-12">
                        <h4>Mount Longonot Hike</h4>
                        <div>
                            <strong>MOUNT LONGONOT HIKE</strong> is calling.... and we must respond!!! Grab your seat
                            <strong>NOW</strong> for <strong>KSHS 2600</strong>
                        </div>
                        <div>
                            <hr>
                        </div>

                        <div>
                            <strong>Mount Longonot</strong> is a stratovolcano located southeast of Lake Naivasha in the
                            Great Rift Valley of Kenya, Africa.
                            It is thought to have last erupted in the 1860s. Its name is derived from the Maasai word
                            Oloonong'ot, meaning "mountains of many spurs"
                            or "steep ridges"
                        </div>
                        <div>
                            Hike your way up Mt. Longonot on this trip from Nairobi, and admire the national park’s
                            volcanic terrain of
                            bubbling geysers and soaring rift valley cliffs. After your climb to the crater’s rim,
                            you’ll relax with a
                            lunch, then hop on a boat for a cruise around Lake Naivasha, looking for hippos and eagles
                            as you go. The full climb and
                            descent takes up to four hours, and a good general standard of fitness is needed.

                            Read more about Private Hiking Day Trip to Mt. Longonot from Nairobi 2020
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-6">
                                <h4>Prices</h4>
                                <table>                                   
                                    <tr>
                                      <td>CITIZENS:</td>
                                      <td>kshs. 2,600</td>                                    
                                    </tr>
                                    <tr>
                                      <td>KIDS:</td>
                                      <td>kshs. 2,200</td>                                     
                                    </tr>
                                    <tr>
                                      <td>RESIDENTS:</td>
                                      <td>kshs. 3,700</td>                                     
                                    </tr>
                                    <tr>
                                      <td>COUPLES:</td>
                                      <td>kshs. 5,000</td>                                   
                                    </tr>                                                           
                                  </table>           
                            </div>
                            <div class="col-md-6">                               
                            </div>
                         
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-6">
                                <h4>What's included?</h4>
                                <ul>
                                    <li>Transport to and fro (As per the new Covid19 Rule)</li>
                                    <li> Photographer </li>
                                    <li>Park fee/ Guide fee</li>
                                    <li> Branded Mask</li>
                                    <li>Lunch and drinking water (500ml)</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4>What's excluded?</h4>
                                <ul>
                                    <li>Refreshments/extra water</li>
                                    <li>Snacks</li>
                                    <li>Tips and gratuity</li>
                                    <li>Any items not stipulated above</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End row  -->
                        <div>
                            <h4>REQUIREMENTS</h4>
                            <p>Comfortable hiking shoes & attire / Rucksack/Sun cream/cameras/ Mask/ Sanitizer</p>
                        </div>
                        <div>
                            <h4>DETAILED ITINERARY</h4>
                            <p><strong>06:30am:</strong> Meeting at international house opposite cfc stanbic bank.
                            </p>
                            <p><strong>06:45am:</strong> Departure time</p>
                            <p>
                                You will make a scheduled stop at the view point on the side of the escarpment to take
                                photos and to enjoy the view of
                                the Rift valley floor from a birds eye view. After which we will depart to the famous
                                "small chuch".
                                The rift valley system was formed 5 million years ago
                                and the rift runs from the red sea through Ethiopia and Kenya and Tanzania. The rift
                                valley is an
                                active volcanic area and has some of the most interesting features including more than 8
                                lakes,
                                dormant and active volcanic mountains and hotsprings and geysers like the Olkaria
                                geothermal wells
                                and Lake Bogoria geysers.
                            </p>

                            <p>
                                Arrival at The Travelers’ Chapel, smallest church in Kenya possibly built by Italian
                                Prisoners Of War.
                                This church is commonly referred to as msikiti – mosque by the locals because it
                                resembles one. Furthermore, prior to the four pews, worshipers used to pray on their
                                knees.
                            </p>


                            <p>
                                Arrive at Mount Longonot National Park.
                                Briefing and start the hike. Like all good uphill hikes it will lull you into a sense of
                                false security
                                with a slow gentle rise to the first peak. This will give you the chance to get your
                                lungs and limbs
                                freed up for the second section, which is the best section.
                            </p>
                            <p> Descend and 30 mins rest at the foot of the mountain. This will be the conclusion of
                                your tour after which you will driven to Mai Mahiu for buffet lunch and photography</p>
                            <p> <strong>05:00pm:</strong> Depart for Nairobi city.</p>
                            <p>Arrive in Nairobi city -drop offs</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4><strong>PAYMENTS AND RESERVATIONS</strong></h4>
                        <span id="reservation"><strong>Reserve by making a 50% down payment and clear the balance before departure.</strong></span>
                    </div>
                    <div class="col-md-6">
                        <div class="lipa">
                            <h4><strong>LIPA NA MPESA</strong> </h4>
                            <p>
                                Paybill Number: <strong> 874323</strong><br>
                                H-ART OF AFRICA SAFARIS LTD
                            </p>

                        </div>
                    </div>
                </div>

            </div>
            <!--End  single_tour_desc-->

            <aside class="col-lg-4">
                <div class="box_style_1 expose">
                    <a class="btn_full" href="/contact">Confirm Attendance</a>
                </div>
                <div class="box_style_4">
                    <i class="icon_set_1_icon-90"></i>
                    <h4><span>Book</span> by phone</h4>
                    <a href="tel://254208000243" class="phone need_help_right">+254 20 8000 243</a>
                    <a href="tel://00254721913293" class="phone need_help_right">+254 721 913 293</a>
                    <small>Monday to Saturday 7.00am - 8.00pm</small>
                </div>
            </aside>
                        

        </div>
        <!--End row -->
    </div>
    <!--End container -->
    <!--start of footer-->

    <app-footer></app-footer>

    <!--End of footer-->

    <div id="overlay"></div>
    <!-- Mask on input focus -->

</main>