<section class="parallax-window" data-parallax="scroll" data-image-src="img/single_tour_bg_1.jpg"
    data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Mount Longonot Hike</h1>
                    <h3 style="color: aliceblue;"><strong>Date: </strong>17/10/2020</h3>
                    <span class=""></span>
                </div>
                <div class="col-md-4">
                    <div id="price_single_main">
                        from/per person <span><sup>kshs</sup>2700</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>                       
               
                <li>Mount Longonot Hike Tour</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->


    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8" id="single_tour_desc">
                <div id="single_tour_feat">
                    <ul>
                        <!-- <li><i class="icon_set_1_icon-4"></i>Museum</li> -->
                        <li><i class="icon_set_1_icon-83"></i>3 Hours</li>
                        <li><i class="icon_set_1_icon-97"></i>Audio guide</li>
                        <li><i class="icon_set_1_icon-29"></i>Tour guide</li>
                        <li><i class="icon_set_1_icon-13"></i>Accessibiliy</li>
                        <li><i class="icon_set_1_icon-82"></i>16 Likes</li>
                        <!-- <li><i class="icon_set_1_icon-22"></i>Pet allowed</li> -->
                        
                    </ul>
                </div>

                <!-- <p class="d-none d-md-block d-block d-lg-none"><a class="btn_map" data-toggle="collapse"
                        href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map"
                        data-text-original="View on map">View on map</a>
                </p> -->
                <!-- Map button for tablets/mobiles -->

                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _2500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _22000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _22000x1333.jpg">                                   
                         </div>
                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _11000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _1500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _11000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _12000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _12000x1333.jpg">   
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _3500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _32000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _32000x1333.jpg">   
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _4500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _42000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _42000x1333.jpg">   
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _5500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _52000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _52000x1333.jpg">   
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _7500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _72000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _72000x1333.jpg"> 
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _6500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _62000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _62000x1333.jpg"> 
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _8500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _82000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _82000x1333.jpg"> 
                         </div>

                         <div class="sp-slide">
                              <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                   data-src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg"
                                   data-small="../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _9500x333.jpg"
                                   data-medium="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg"
                                   data-large="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _92000x1333.jpg"
                                   data-retina="../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _92000x1333.jpg"> 
                         </div>
                    </div>
                    <div class="sp-thumbnails">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _11000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg">
                         <img alt="Image" class="sp-thumbnail"
                              src="../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg">
                    </div>
               </div>

                <hr>

                <div class="row">
                    <div class="col-lg-3">
                        <h3>Description</h3>
                    </div>
                    <div class="col-lg-9">
                        <h3>Mount Longonot Hike</h3>
                        <p>
                            <strong>MOUNT LONGONOT HIKE</strong> is calling.... and we must respond!!! Grab you seat <strong>NOW</strong> for <strong>KSHS 2700</strong>
                        </p>
                        <h4>What's include</h4>
                        <p>
                            Lorem ipsum dolor sit amet, at omnes deseruisse pri. Quo aeterno legimus insolens ad. Sit cu
                            detraxit constituam, an mel iudico constituto efficiendi.
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list_ok">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>No scripta electram necessitatibus sit</li>
                                    <li>Quidam percipitur instructior an eum</li>
                                    <li>Ut est saepe munere ceteros</li>
                                    <li>No scripta electram necessitatibus sit</li>
                                    <li>Quidam percipitur instructior an eum</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list_ok">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>No scripta electram necessitatibus sit</li>
                                    <li>Quidam percipitur instructior an eum</li>
                                    <li>No scripta electram necessitatibus sit</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End row  -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-3">
                        <h3>Schedule</h3>
                    </div>
                    <div class="col-lg-9">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            <h3>17th October 2020</h3>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Monday
                                        </td>
                                        <td>
                                            10.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Tuesday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Wednesday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Thursday
                                        </td>
                                        <td>
                                            <span class="label label-danger">Closed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Friday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Saturday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sunday
                                        </td>
                                        <td>
                                            10.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong><em>Last Admission</em></strong>
                                        </td>
                                        <td>
                                            <strong>17.00</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            1st November to 28th February
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Monday
                                        </td>
                                        <td>
                                            10.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Tuesday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Wednesday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Thursday
                                        </td>
                                        <td>
                                            <span class="label label-danger">Closed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Friday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Saturday
                                        </td>
                                        <td>
                                            09.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sunday
                                        </td>
                                        <td>
                                            10.00 - 17.30
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong><em>Last Admission</em></strong>
                                        </td>
                                        <td>
                                            <strong>17.00</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               

            </div>
            <!--End  single_tour_desc-->

            <aside class="col-lg-4">    
                <div class="box_style_1 expose">                                
                    <a class="btn_full" href="cart.html">Confirm Attendance</a>                   
                </div>              

                <div class="box_style_4">
                    <i class="icon_set_1_icon-90"></i>
                    <h4><span>Book</span> by phone</h4>
                    <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>

            </aside>
        </div>
        <!--End row -->
    </div>
    <!--End container -->

    <div id="overlay"></div>
    <!-- Mask on input focus -->

</main>