<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../../assets/img/advert-campaigns/maasai-mara-miti-mingi/mara-o-landing1.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">             
                   <h3 class="campaign-date"><strong>Date: </strong>11<sup>th</sup>- 13<sup>th</sup> December 2020
                   </h3>                  
                </div>
                <div class="col-md-4">
                    <div class="campaign-content-mobile-display" id="price_single_main">
                        per person <span><sup>kshs</sup>15,000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>

                <li>Maasai Mara 3 Days 2 Nights</li>
            </ul>
        </div>
    </div>
    
    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8 mobile-view-margins" id="single_tour_desc">
                <div id="single_tour_feat">
                    <ul>
                        <!-- <li><i class="icon_set_1_icon-4"></i>Museum</li> -->
                        <li><i class="icon_set_1_icon-83"></i>12 Hours</li>
                        <!-- <li><i class="icon_set_1_icon-97"></i>Audio guide</li> -->
                        <li><i class="icon_set_1_icon-29"></i>Tour guide</li>
                        <li><i class="icon_set_1_icon-13"></i>Accessibiliy</li>
                        <li><i class="icon_set_1_icon-82"></i>16 Likes</li>
                        <!-- <li><i class="icon_set_1_icon-22"></i>Pet allowed</li> -->

                    </ul>
                </div>

                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_7@1x80.jpg"
                                data-small="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/small/Miti-Mingi-Mara_7@0.5x-80 .jpg"
                                data-medium="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_7@1x80.jpg"
                                data-large="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_7@2x-80.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_7@2x-80.jpg">
                        </div>                     

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_6@1x80.jpg"
                                data-small="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/small/Miti-Mingi-Mara_6@0.5x-80.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_6@1x80.jpg"
                                data-large="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_6@2x-80.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_6@2x-80.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_2@1x80.jpg"
                                data-small="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/small/Miti-Mingi-Mara_2@0.5x-80.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_2@1x80.jpg"
                                data-large="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_2@2x-80.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_2@2x-80.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara@1x80.jpg"
                                data-small="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/small/Miti-Mingi-Mara@0.5x-80.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara@1x80.jpg"
                                data-large="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara@2x-80.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara@2x-80.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_1@1x80.jpg"
                                data-small="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/small/Miti-Mingi-Mara_1@0.5x-80.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_1@1x80.jpg"
                                data-large="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_1@2x-80.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_1@2x-80.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_5@1x80.jpg"
                                data-small="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/small/Miti-Mingi-Mara_5@0.5x-80.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_5@1x80.jpg"
                                data-large="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_5@2x-80.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/large/Miti-Mingi-Mara_5@2x-80.jpg">
                        </div>

                    </div>
                    <div class="sp-thumbnails">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_7@1x80.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_6@1x80.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_2@1x80.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara@1x80.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_1@1x80.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/maasai-mara-miti-mingi/medium/Miti-Mingi-Mara_5@1x80.jpg">     
                    </div>
                </div>

                <hr>

                <div class="row">

                    <div class="col-lg-12 main-content">
                        <h4 class="content-headers">Maasai Mara 3 Days 2 Nights Safari Overland Truck </h4>
                        <div class="campaign-content">
                            <strong>Date: </strong>11<sup>th</sup> December 2020 
                            <strong>Departure: 7.00am</strong>
                            <strong> NOW</strong> for <strong>kshs 15,000</strong>

                        </div>
                        

                        <div class="campaign-content">
                            <h4><strong>CORONA SAFETY RULES</strong></h4>
                            <ul>
                                <li>Social distancing will be observed in vehicle capacity</li>
                                <li>Hand sanitizers will be available for use at all times.</li>
                                <li>You will be required to wear face mask at all times.</li>
                            </ul>
                        </div>
                        <div class="campaign-content">
                            <h4><strong>ACTIVITIES</strong></h4>
                            <ul>
                                <li>Road trip with stop overs at scenic locations</li>
                                <li>Comprehensive game drive in the park</li>
                                <li>Night bonfire and games</li>
                            </ul>
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-5">
                                <h4>What's included</h4>
                                <ul>
                                    <li>Transport in safari van with hatch roof</li>
                                    <li>Pick up from the Airport</li>
                                    <li>Accommodation as per itinerary</li>
                                    <li>All meals (B L D)</li>
                                    <li>Services of our Professional Guide/Driver</li>
                                    <li>All park entrance fees</li>
                                    <li>All game drives</li>
                                    <li>Statutory taxes</li>
                                </ul>
                            </div>
                            <div class="col-md-5   ">
                                <h4>What's excluded</h4>
                                <ul>
                                    <li>Personal Insurance</li>
                                    <li>Items of personal nature</li>
                                    <li>Alcoholic & Soft drinks like Sodas</li>
                                    <li>Balloon safari</li>
                                    <li>Maasai Village</li>
                                    <li>Visa</li>
                                    <li>Tips</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End row  -->
                        <div class="campaign-content">
                            <h6><strong>NB:</strong></h6>
                            <div>
                                In the event that we do not attain the minimum numbers for the truck, we shall use safari vans at no additional costs.
                            </div>
                        </div>

                        <div>
                            <h4 class="content-headers">Detailed Itinerary</h4>
                           <div class="campaign-content">
                               <strong>
                                Day 1: Nairobi - Masai Mara
                               </strong>
                               <div class="campaign-list">
                                After breakfast, you will be picked up from your hotel at 8:00am and drive west to Maasai Mara Game Reserve with lunch enroute arriving in time for an evening game drive. Masai
                                Mara game reserve is Kenya's finest wildlife sanctuary. Including migrants, well over 450 species of animals have been recorded here. Although July, August, and September are the months when the Mara plains are filled with migrating wildebeest and zebra, there
                                is also resident wildlife year round. The famous Maasai tribesmen live within the dispersal area of the game reserve. Dinner and overnight accommodations will be at the Camp with hot showers and flush toilets.
                               </div>
                               <ul class="campaign-content list-campaign">
                                   <li><strong>Main destination:</strong> Masai Mara National Reserve</li>
                                   <li><strong>Accommodation:</strong> Miti Mingi Eco Camp</li>
                                   <li><strong>Meals & drinks:</strong> Lunch & dinner (Breakfast excluded) Drinking water (Other drinks excluded)</li>
                               </ul>
                           </div>
                           <div class="campaign-content">
                            <strong>
                                Day 2: Masai Mara Full Day
                            </strong>
                            <div class="campaign-list">
                                After breakfast we will proceed on a full day of game viewing within the reserve. The landscape here is 
                                scenic savannah grassland on rolling hills. The reserve is the best park
                                for game in Kenya as it has an extensive road and track network which allows for close range viewing 
                                and photography. Break for your picnic lunch at the hippo pool, looking out 
                                for hippos and crocodile. Dinner and overnight accommodations is at the camp.
                            </div>
                            <ul class="campaign-content">
                                <li><strong>Main destination:</strong> Masai Mara National Reserve</li>
                                <li><strong>Accommodation:</strong> Miti Mingi Eco Camp</li>
                                <li><strong>Meals & drinks:</strong> All meals included Drinking water (Other drinks excluded)</li>
                            </ul>
                        </div>
                        <div class="campaign-content">
                            <strong>
                                Day 3: Masai Mara - Nairobi
                            </strong>
                            <div class="campaign-list">
                                Early breakfast will be followed by a day of tracking game with your guide in this park of savannah grassland. The driver will drop you at the camp for breakfast. Afterwards,
                                you will depart to Nairobi with lunch enrote. Arriving in the evening to be dropped off at the airport to connect flight back home.
                               
                               
                            </div>
                            <ul class="campaign-content">
                                <li><strong>Main destination:</strong> Nairobi</li>
                                <li><strong>Accommodation:</strong>  End of tour (no accommodation)</li>
                                <li><strong>Meals & drinks:</strong>  Breakfast & lunch (Dinner not included) Drinking water (Other drinks not included)</li>
                            </ul>
                        </div>
                        <div class="campaign-content">
                            Our campsite is permanently build and attached with private bathroom with hot showers, Electricity, bed and bedding's. 
                            Mosquito nets. Meals: we provide buffet vegetarian and non-vegetarian or any other special meals
                         </div>
                        </div>
                    </div>
                    <!--End of main content-->
                </div>
                <div class="row row-spacing">
                    <div class="col-md-6">
                        <h4 class="content-headers">Prices</h4>
                        <table class="price-table">                          
                            <tbody>
                                <tr>
                                    <td class="price-group">Individual</td>
                                    <td>kshs 15,000</td> 
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="payment-instruction">
                    Reserve by making a 50% down payment and clear the balance before departure.
                </div>

                <app-payment-details></app-payment-details>

            </div>
            <!--End of row spacing-->

            <aside class="col-lg-4">
                <div class="box_style_1 expose">
                    <a class="btn_full" href="/contact">Confirm Attendance</a>
                </div>
                <div class="box_style_4">
                    <i class="icon_set_1_icon-90"></i>
                    <h4><span>Book</span> by phone</h4>
                    <a href="tel://254208000243" class="phone need_help_right">+254 20 8000 243</a>
                    <a href="tel://00254721913293" class="phone need_help_right">+254 721 913 293</a>
                    <small>Monday to Saturday 7.00am - 8.00pm</small>
                </div>
            </aside>
                        

        </div>
        <!--End row -->
    </div>
    <!--End container -->
    <!--start of footer-->

    <app-footer></app-footer>

    <div id="toTop"></div>   

</main>