<section class="parallax-window" data-parallax="scroll" data-image-src="../../../../assets/img/hart/contact/leopard.jpg"
	data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Inquire Now</h1>
			<p>Please use form below to make an inquiry.</p>
		</div>
	</div>
</section>
<!-- End Section -->
<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="Index.html">Home</a>
				</li>
				<li>Contact Us</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->
	<div class="container margin_60">
		<div class="row">
			<div class="col-md-8">
				<div class="form_title">
					<h3>
						<strong>
							<i class="icon-pencil"></i>
						</strong>
						Fill form below with your inquiry
					</h3>
				</div>
				<div class="step">
					<!-- <div [hidden]="submitted"> -->
					<div id="message-contact"></div>
					<form (ngSubmit)="submitForm()" #contactForm="ngForm">
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group">
									<dd>
										<select name="" id="salutation" class="form-control">
											<option value="">Mr</option>
											<option value="">Mrs</option>
											<option value="">Miss</option>
											<option value="">Ms</option>
										</select>
									</dd>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>First Name</label>
									<input type="text" class="form-control" id="firstName" name="firstName"
										placeholder="Enter Name" [(ngModel)]="model.firstName" required
										#firstNameInput="ngModel">
									<div *ngIf="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)"
										class="alert alert-danger">
										<div *ngIf="firstNameInput.errors?.required">
											Firstname is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Last Name</label>
									<input type="text" class="form-control" id="lastname_contact"
										name="lastname_contact" placeholder="Enter Last Name"
										[(ngModel)]="model.lastName" required #lastNameInput="ngModel" ng-untouched
										ng-pristine ng-valid>
									<div *ngIf="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)"
										class="alert alert-danger">
										<div *ngIf="lastNameInput.errors?.required">
											Lastname is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End row -->
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Email</label>
									<input type="email" id="email_contact" name="email_contact" class="form-control"
										placeholder="Enter Email" [(ngModel)]="model.email" required email
										#emailInput="ngModel" ng-untouched ng-pristine ng-valid>
									<div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
										class="alert alert-danger">
										<div *ngIf="emailInput.errors?.required">
											Email is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Phone</label>
									<input type="text" id="phone_contact" name="phone_contact" class="form-control"
										placeholder="Enter Phone number" [(ngModel)]="model.phone" required required
										#phoneInput="ngModel" ng-untouched ng-pristine ng-valid>
									<div *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)"
										class="alert alert-danger">
										<div *ngIf="phoneInput.errors?.required">
											Phone is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<h5>Your Travel Plans</h5>
									<p>
										If there is a particular itinerary you are interested in then please select from
										the list below *
									</p>
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">

									<dd>
										<select name="" id="" class="form-control">
											<option value="">4 DAYS SIRIMON ROUTE DIRECT TOUR</option>
											<option value="">8 DAYS TURKANA SPECIAL TOUR</option>
											<option value="">6 DAYS CHOGORIA EASY PACE TOUR</option>
											<option value="">5 DAYS MAASAI MARA TOUR</option>
											<option value="">AFROCHIC DIANI BEACH TOUR</option>
											<option value="">3 DAYS HEMMINGYWAY TRAIL TOUR</option>
											<option value="">PRIDEINN EXPRESS RESORT TOUR</option>
											<option value="">7 DAYS MAASAI MARA TOUR</option>
											<option value="">ENGLISHPOINT MARINA TOUR</option>
											<option value="">4 DAYS MAASAI MARA TOUR</option>
											<option value="">4 DAYS MAASAI MARA TOUR</option>
											<option value="">NEPTUNE BEACH RESORT TOUR</option>
											<option value="">9 DAYS MAASAI MARA TOUR</option>
											<option value="">NAIROBI NATIONAL PARK TOUR</option>
											<option value="">LEOPARD BEACH RESORT TOUR</option>
											<option value="">NAIROBI CITY TOUR</option>
											<option value="">5 DAYS SIRIMON NARO MORU ROUTE TOUR</option>
											<option value="">KAREN BLIXEN AND GIRAFFE CENTER TOUR</option>
											<option value="">6 DAYS MAASAI MARA TOUR</option>
											<option value="">BOMAS OF KENYA TOUR</option>
											<option value="">GREAT RIFT VALLEY LAKE NAKURU TOUR</option>
										</select>
									</dd>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<p>
										If you have specific requests for your itinerary then please use the box at the
										bottom of this page to
										tell us about them and we'd be happy to tailor an itinerary to suit you
									</p>
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-9">
								<div class="form-group">
									<label>How many people are travelling?</label>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Adults *</label>
									<input type="number" required min="1" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Children</label>
									<input type="number" required min="1" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>What is your date of arrival?</label>
									<div id="dob">
										<input type="date" name="dateofbirth" id="dateofbirth"
											class="arrival-input form-control">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>What is your date of departure?</label>
									<input type="date" name="dateofbirth" id="dateofbirth"
										class="arrival-input form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Arrival Point</label>
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Departure Point</label>
									<input type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<h5>Requirements</h5>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<p>
										Please use this space to provide us with any additional requests or information
										that you
										think is relevant to your trip.
									</p>
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<p>
										(e.g.: Are there any particular places or experiences you specifically want to
										include
										in your itinerary, or any special
										interests you have that you'd like accommodated).
									</p>
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label>Message</label>
									<textarea rows="5" id="message_contact" name="message_contact" class="form-control"
										placeholder="Write your message" style="height:200px;"
										[(ngModel)]="model.message" required #messageInput="ngModel" ng-untouched
										ng-pristine ng-valid></textarea>
									<div *ngIf="messageInput.invalid && (messageInput.dirty || messageInput.touched)"
										class="alert alert-danger">
										<div *ngIf="messageInput.errors?.required">
											Message is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<p>How did you hear about Hart of Africa Safaris?</p>
									<input type="text" class="form-control ">
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<p>
										We'd love to send you our e-newsletter which features exciting new itineraries,
										blog
										posts from the team, and fabulous
										competitions. We'll always treat your personal details with the utmost care,
										further
										details of which can be found
										in our Privacy Policy. *
									</p>
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<div>
										<input type="checkbox">
										<label for="">Yes please, I'd like to be inspired for my next adventure</label>
									</div>
									<div>
										<input type="checkbox">
										<label for="">No thanks, I don't want to hear about new tours and
											itineraries</label>
									</div>
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<!-- Todo: Add captcha here.... -->
								<!-- <label>Human verification</label> -->
								<input type="submit" class="btn_1" [disabled]="!contactForm.valid">
							</div>

						</div>
					</form>
					<!-- </div> -->
				</div>
			</div>
			<!-- End col-md-8 -->

			<div class="col-md-4 contact-us">
				<div class="box_style_4">
					<i class="icon_set_1_icon-90"></i>
					<h4><span>Book</span> by phone</h4>
					<a href="tel://254208000243" class="phone need_help_right">+254 20 8000 243</a>
					<a href="tel://00254721913293" class="phone need_help_right">+254 721 913 293</a>
					<small>Monday to Saturday 7.00am - 8.00pm</small>
				</div>
			</div>
			<!-- End col-md-4 -->
		</div>
	</div>
</main>
<!-- End main -->

<app-footer></app-footer>