table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

  #main-content{
    padding-left: 0px !important;
}

.content-margins {
  margin-top: 30px;
}

.content-margins-list-items {
  margin-top: 15px;
}

#payment-info {
  color:#60b10a;
  font-weight: bold;
}

#payment-details {
  margin-top: 5px;
}

#contact-us {
  margin-top: 30px;
}

@media screen and (max-width: 720px) {
  #package-header {
    font-size: 12px;
  } 
}
ul{
  
  padding-left: 0.99rem;
}
abbr{
  text-decoration: none;
}

