<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../assets/img/package-landing-pages/scenic-view.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Getaways</h1>
            <p>Check out the list of packages below to find out which package suits you.</p>
        </div>
    </div>
</section>


<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li>Short Breaks</li>
                <li>Getaways</li>
            </ul>
        </div>
    </div>	

	<div class="container margin_60">       
		<div class="row">
			<aside class="col-lg-3">

				<app-side-menu></app-side-menu>

				<app-book-by-phone-left></app-book-by-phone-left>

			</aside>
			<!--End aside -->

			<div class="col-lg-9">
				<div class="isotope-wrapper">
                    <h3 id="package-header">
                        <strong>H-ART OF <span>AFRICA</span> SAFARIS LTD <span>CALENDER</span> OF EVENTS <span>2021</span></strong>                    
                    </h3>   
                    <div>
                        <div>
                            Is your bank balance making you feel a bit blue? Or are you trying to save money but desperate for a getaway? 
                            Don’t worry, we’ve found some of the best cheap breaks available so you can have something both fun and affordable
                             to look forward to. You can search through plenty of budget friendly events from our catalog to find that little splash 
                             of sun you’ve been missing.
                        </div>
                        <br>
                        <div>
                            Secure a seat with only Ks. 1,000 (For day trips) then pay the balance POLE POLE...). Our Budget friendly prices range from 
                            Individual prices to Per Person Sharing(<abbr title="Per Person Shairing"><b>P.P.S</b></abbr>)
                        </div>
                        <br>
                        <div>
                            If you’re looking for something a bit longer than a weekend break, we can still <a href="./contact">help</a>. 
                            Our <a href="./domestic">cheap holidays</a>  can whisk you away to some of the 
                            top hot spots in the Kenya, East Africa and the rest of the world without breaking the bank! Beaches, city breaks, walking 
                            holidays – you can find everything you’re looking for without burning through your savings
                             or scrimping on quality, comfort and style...
                        </div>
                    </div>


                    <div class="row content-margins">
                       
                        <div class="col-lg-12">
                            <div style="overflow-x:auto;">
                                <table>
                                    <tr>
                                        <th>EVENT</th>
                                        <th>DATE</th>
                                        <th>PRICE</th>
                                      
                                    </tr>
                                    <tr>
                                        <td>Paradise Lost Day Trip</td>
                                        <td>9<sup>th</sup> January</td>
                                        <td>Kshs.1,950</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Elephant Hill Hike</td>
                                        <td>16<sup>th</sup> January</td>
                                        <td>Kshs.1,950</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Girraffe Ark Nyeri(Central Circuit)</td>
                                        <td>30<sup>th</sup>/31<sup>st</sup> January</td>
                                        <td>Kshs.3,450</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Kereita Forest Ziplining</td>
                                        <td>6<sup>th</sup> February</td>
                                        <td>Kshs.2,950</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Chalbi Vaslentines Edition(Nothern Circuit)</td>
                                        <td>11<sup>th</sup>-15<sup>th</sup> February</td>
                                        <td>Kshs.34,000</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Ziplining, High ropes , Archery, Wall Climbing</td>
                                        <td>28<sup>th</sup> February</td>
                                        <td>Kshs.3,499</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Lake Nakuru Natinal Park</td>
                                        <td>6<sup>th</sup> March</td>
                                        <td>Kshs.3,499</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Serville Elementaita(<b>Ladies Only)</b></td>
                                        <td>6<sup>th</sup>/7<sup>th</sup> March</td>
                                        <td>Kshs.6,950 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Takawiri/Rusinga/Western Circuit</td>
                                        <td>2<sup>nd</sup>-4<sup>th</sup> March</td>
                                        <td>Kshs.15,450</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Ol Jogi Singles Day Trip</td>
                                        <td>1<sup>st</sup> May</td>
                                        <td>Kshs.3,499 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Mt Kenya Forest Castle Day Trip</td>
                                        <td>14<sup>th</sup> May</td>
                                        <td>Kshs.1,999</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Chaka Ranch Day Trip( <b>Mother's Day</b>)</td>
                                        <td>9<sup>th</sup> May</td>
                                        <td>Kshs.2,950 Lunch self sponsored/kshs.3,550 All Inclusive </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Amboseli Nat Park Game Drive(<b>Madaraka Day</b>)</td>
                                        <td>1<sup>st</sup> June</td>
                                        <td>Kshs.4,850 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Tsavo West Nat Park</td>
                                        <td>2<sup>nd</sup>-4<sup>th</sup> July</td>
                                        <td>Kshs.23,000(<b>H.B</b>)</td>
                                        
                                    </tr>
                                   
                                   
                                   
                                </table>
                                <br>
                                <h4><b>Maasai <span>Mara</span> Great <span>Migration</span> Deals</b></h4>
                                <br>
                                <table>
                                    <tr>
                                        
                                        <th>DATES</th>
                                        <th>ACCOMODATION TYPE</th>
                                    </tr>
                                    <tr>
                                        
                                        <td>
                                            <ul>
                                                
                                                <li>9 <sup>th</sup>-11th July </li>
                                                <li>15<sup>th</sup>/16<sup>th</sup>-17th/18th July</li>
                                                <li>23<sup>rd</sup>-25<sup>th</sup> July</li>
                                                <li>30<sup>th</sup>-1<sup>st</sup> Aug</li>
                                                <li>6<sup>th</sup> -8<sup>th</sup> Aug</li>
                                                <li>13<sup>th</sup>-15<sup>th</sup> Aug</li>
                                                <li>20<sup>th</sup>-22<sup>nd</sup> Aug</li>
                                                <li>28<sup>th</sup>-30<sup>th</sup> Aug</li>
                                                <li>3<sup>rd</sup>-5<sup>th</sup> Sep</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>Mara Budget Camp: Ksh.13,999 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></li>
                                                <li>Olmoran Tented Camp: Ksh.20,999 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></li>
                                                <li>Jambo Mara: Ksh.24,499 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></li>
                                                <li>Enkorok Mara: Ksh.24,700 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></li>
                                                <li>Simba Oryx: Ksh.27,500 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></li>
                                                <li>Sarova Mara: Ksh.40,000 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></li>
                                                <li>Emayian Luxury Camp: Ksh.44,000 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></li>
                                                <li>Rhino Tourist Camp: Ksh.23,954 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></li>
                                                <li>Entumoto ToTo Camp: Ksh.48,000 <abbr title="Per Person Shairing"><b>P.P.S</b></abbr></li>
                                            </ul>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- End col lg-9 -->
                    </div>
                    <!-- End row -->
                    <div class="row ">
            
                        <div class="col-lg-12 main-content">
            
                            <div class="row row-spacing">
                                <div class="col-md-12 content-margins-list-items">
                                    <h4>Package Includes</h4>
                                    <ul>
                                        <li>1 night accomodation</li>
                                        <li>Meals as indicated on each hotel</li>                            
                                    </ul>
                                </div>
                                <div class="col-md-12 content-margins-list-items">
                                    <h4>Package Excludes</h4>
                                    <ul>
                                        <li>Transport</li>
                                        <li>Other meals not included</li>
                                        <li>Tips</li>
                                        <li>Excursions</li>
                                        <li>Any items of personal nature</li>
                                    </ul>
                                </div>
                                <div class="col-md-12 content-margins-list-items">
                                    <h4><strong>Terms and conditions</strong></h4>
                                    <ul>
                                        <li><strong>Transport can be arranged upon request</strong></li>
                                        <li><strong>Rates are subject to availability and may change</strong></li>
                                        <li><strong>Rates are valid till November</strong></li>                                      
                                    </ul>
                                </div>                              
                                <div class="col-md-12">
                                    <div>
                                        <h4><strong>Payment Details</strong></h4>
                                    </div>     
                                    <div>
                                        <span id="payment-info">Payment can be done using the following detais</span> 
                                        <div id="payment-details">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Paybill Number: 
                                                </div>
                                                <div class="col-md-9">
                                                    <strong>874323</strong> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Account name:
                                                </div>
                                                <div class="col-md-9">
                                                    <strong>H-ART OF AFRICA SAFARIS LTD</strong>
                                                </div>
                                            </div>      
                                        </div>          
                                    </div>      
                                </div> 
                                <div id="contact-us" class="col-md-3">
                                    <!-- Todo: Enable this once package have been added to the drop-down -->
                                    <!-- <app-request-quote-button></app-request-quote-button> -->

                                    <a class="btn_map"  href="/contact" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">Contact Us</a>

                                </div>  
                                <p class=" d-xl-block d-lg-block ">
                                    
                                </p>                           
                            </div>
                        </div>            
                    </div>			
					<!--End of row-->
				</div>
				<!-- End isotope-wrapper -->
			</div>
			<!-- End col lg 9 -->
		</div>
		<!-- End row -->

	</div>
	<!-- End container -->
</main>
<!-- End main -->

<app-footer></app-footer>

<!-- Back to top button -->
<div id="toTop"></div>



