<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../assets/img/hart/day/nairobi/rift-valley.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of the Lake Nakuru National Park Tour</h2>

				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/day-trips">Day Trip Tours</a>
				</li>
				<li>Lake Nakuru National Park Tour</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->




	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">




				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/1_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/1_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/1_large.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/2_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/2_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/2_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/3_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/3_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/3_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/4_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/4_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/4_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/5_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/5_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/5_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/6_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/6_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/6_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/7_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/7_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/7_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/8_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/8_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/8_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/9_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/9_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/9_large.jpg">
						</div>
					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/1_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/2_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/3_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/4_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/5_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/6_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/7_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/8_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/9_medium.jpg">
					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-9">
						<h4> <strong>Lake Nakuru National Park</strong> </h4>
						<p>
                            Leave your Nairobi hotel, Residence or apartment with our safari driver guide between 0600 am and 0700 am and 
                            driver via Waiyaki Way with a stop over at the view point where you will see the escarpment wall. Escarpment is 
                            the wall that was left after the formation of the great Rift Valley, enjoy amazing views and take great photos. 
                            Descend the escarpment wall towards Naivasha with a view of Mount Longonot and lake Naivasha from the main highway.
                        </p>
                        <p>
                            You will get to see animals  such as Zebras, Giraffes and Gazelles that graze alongside the Nairobi – Nakuru 
                            highway immediately after passing Naivasha town. Proceed arriving Nakuru town before 1000 am, pick the picnic lunch 
                            and drive to the main entrance gate. Have a great game drive as you watch the black and white rhinos, Flamingos and 
                            other wildlife that inhabit in this National Park.    
                        </p>
                        <p>
                            Lake Nakuru is Kenya’s most visited National Park. Located 160 km and 2½ hours from Nairobi, the park is an important 
                            Ramsar site and home to thousands of different bird species.
                        </p>
                        <p>
                            The 188 sq km Lake Nakuru is the only KWS-administered reserve that is fully enclosed. Once just a bird sanctuary, 
                            Lake Nakuru is now the best place in Kenya to see the highly protected black and white rhino. Among other animals 
                            found in the park include rhino, lion, leopard, flamingos, Egyptian geese, waterbuck, giraffe, hyena, buffalo, baboons, 
                            vervet monkeys, gazelles. Enjoy your picnic lunch inside the park and continue with the game drive upto 1500 hrs or 1530hrs, 
                            check out and drive back to Nairobi.
                        </p>
                        <p>
                            On the way back you can make a stopover at Lake Naivasha where an optional activity such as boat ride can be arranged at 
                            extra cost for bird watching and Hippopotamus. Later with your guide drive direct to Nairobi where you will be dropped at 
                            your Nairobi Hotel or Residence.
                        </p>
					</div>
				</div>
				<app-request-quote-button></app-request-quote-button>
			</div>
			<!--End  single_tour_desc-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End row -->
	</div>
	<!--End container -->



</main>
<!-- End main -->


<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->


<div id="toTop"></div><!-- Back to top button -->