<section class="parallax-window" data-parallax="scroll"
   data-image-src="../../../../../assets/img/package-landing-pages/lion-and-cab.jpg" data-natural-width="1400"
   data-natural-height="470">
   <div class="parallax-content-2">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <h2 class="page-header tour_titles"> Highlights of The Breathtaking Wonders Group Joining Safari</h2>
               <!-- <span>Hemmingway Trail</span> -->
               <!-- <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small></span> -->
            </div>
            <div class="col-md-4">
               <div id="price_single_main">
                  <!-- from/per person <span><sup>$</sup>52</span> -->
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End section -->
<main>
   <div id="position">
      <div class="container">
         <ul>
            <li> <a href="index.html">Home</a> </li>
            <li> 
               <a href="/domestic/group-safaris">Group Safaris Tours</a> 
            </li>
            <li>Breathtaking wonders of Kenya 8 Days And 7 Nights Tour</li>
         </ul>
      </div>
   </div>
   <!-- End Position -->
   <div class="container margin_60">
      <div class="row">
         <div class="col-lg-8" id="single_tour_desc">
            <div id="Img_carousel" class="slider-pro">
               <div class="sp-slides">
                  <div class="sp-slide">
                     <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_101000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_10500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_101000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_102000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_102000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image"
                        src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya1000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya//Breathtaking wonders of Kenya1000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya2000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya2000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image"
                        src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_161000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_16500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_161000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_162000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_162000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image"
                        src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_151000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_15500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_151000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_152000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_152000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image"
                        src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_141000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_14500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_141000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_142000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_142000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image" src="css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_131000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_13500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/Breathtaking wonders of Kenya_131000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/Breathtaking wonders of Kenya_132000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_132000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image"
                        src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_71000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_7500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_71000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_72000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_72000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image"
                        src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_91000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_9500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_91000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_92000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_92000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image"
                        src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_81000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_8500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_81000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_82000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_82000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image"
                        src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_111000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_11500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_111000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_112000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_112000x1333.jpg">
                  </div>
                  <div class="sp-slide"> <img alt="Image" class="sp-image"
                        src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_121000x667.jpg"
                        data-small="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/small/Breathtaking wonders of Kenya_12500x333.jpg"
                        data-medium="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_121000x667.jpg"
                        data-large="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_122000x1333.jpg"
                        data-retina="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/large/Breathtaking wonders of Kenya_122000x1333.jpg">
                  </div>
               </div>
               <div class="sp-thumbnails">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_101000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya1000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_161000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_151000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_141000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_131000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_71000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_91000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_81000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_111000x667.jpg">
                  <img alt="Image" class="sp-thumbnail"
                     src="../../../../../../../assets/img/packages-carousel/breathtaking-wonders-of-kenya/medium/Breathtaking wonders of Kenya_121000x667.jpg">
               </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-lg-9">
                  <h4> <strong>Breathtaking wonders of Kenya 8 Days And 7 Nights</strong> </h4>
                  <p> Enjoy scenic and magical tours filled with interesting wildlife in Maasai Mara National
                     Park, Serengeti National Park, and Ngorongoro Crater.
                  </p>
                  <h4><strong>DETAILED ITINERARY</strong></h4> <br>
                  <h4><strong> Day 1: Nairobi- Maasai Mara National Park</strong></h4>
                  <p>
                     An early morning drive to Maasai Mara National Reserve. It holds on as one of the few places left
                     on earth where wildlife still lives comparatively
                     undisturbed, in the numbers that once roamed the plains and forests of Africa. As the northern tip
                     of the vast Serengeti ecosystem, the Mara hosts
                     the spectacular seasonal migration of many thousands of Wildebeest, Zebras and attendant predators.
                     Arrive in time for lunch followed by an afternoon
                     game drive. Dinner and overnight at tented camp or lodge.
                  </p>
                  <h4><strong>Day 2 & 3: Maasai Mara Game Reserve </strong> </h4>
                  <p>
                     Two full days in the Maasai Mara with flexible schedule and unlimited mileage. After breakfast, we
                     have a full day dame drive with packed lunch provided.
                     The reserve is well known for its black-manned lion as well as its abundant resident wildlife and
                     its one of the few places where it's possible to see
                     the big five during a morning's game drive. Many of the cheetahs are so tame they seek shelter from
                     the hot sun under one's vehicle and several even climb
                     onto the roof to get a better view of prospective prey. For the bird enthusiast, almost 500 species
                     have been recorded: among these 16 species of eagle,
                     plus many hawks and falcons, 6 species of vultures, 8 species of storks, 4 of bustard (including
                     the Kori bustard, the world's heaviest flying bird), and 9
                     species of sunbirds. Dinner and overnight at tented camp or lodge.
                  </p>
                  <h4><strong>Day 4: Maasai Mara NP- Serengeti NP</strong> </h4>
                  <p>
                     We will initiate the day with an early morning game drive in Maasai Mara while driving out of the
                     National Reserve. After border formalities, drive to the
                     Serengeti National Park in Tanzania. It will be a long day of driving but the game drives in and
                     out of the parks can be surprisingly incredible. However,
                     we always recommend flying from one park to the other so that you can have more time to go on
                     Safari. Alternatively, you can add an extra day to visit Lake
                     Victoria, halfway between the two parks. Dinner and overnight at tented camp or lodge.
                  </p>
                  <h4><strong>Day 5 & 6: Seregeti National Park</strong> </h4>
                  <p>
                     Two full days in the Serengeti with a flexible schedule and unlimited mileage. As you crest the
                     hillside, spread out before you, as far as the eyes can see,
                     is the vast Serengeti. Serengeti means 'endless plains' in Kiswahili and this 6,900 sq. mile
                     (18,000 sq. km) park is inhabited by more than 2 million large
                     animals including more than a million wildebeest, hundreds of thousands of plains zebras, and
                     Thomson's gazelles. Large predators including lions, cheetahs,
                     and hyenas are drawn to the area by this abundance of prey which migrates throughout the park. Many
                     smaller animals like rock hyrax, bat eared foxes, mongoose,
                     honey badger, jackals, monkeys, baboons and African hares also inhabit the area along with nearly
                     500 species of birds. On the way into the Serengeti, option
                     to stop at the famous Olduvai Gorge, where Dr Louis and Mary Leakey made their discovery of the
                     first man that walked the earth. After attending a short lecture
                     describing the archaeological digs and geology of the gorge, you'll have time to visit the small
                     museum. Afternoon game drive en-route to the campsite.Dinner and
                     overnight at a public campsite or private tented camp or lodge.
                  </p>
                  <h4><strong>Day 7: Serengeti National Park /Ngorongoro National Park </strong> </h4>
                  <p>
                     Today you will wake up very early to do an early morning safari before breakfast, to spot the
                     animals when they are more active and also to have a fantastic sunrise
                     in front of you. The sunrise in the African Savannah is one of the most beautiful experiences one
                     can have. After the game drive, return to the camp for brunch. In
                     the afternoon, transfer to Ngorongoro, the 8th natural wonder of the world. With walls 2,000 ft
                     high and a crater floor that spreads for 102 sq. miles, the crater
                     is a virtual Noahs Ark, inhabited by almost every species of wildlife indigenous to East Africa
                     including the rare black rhino. In fact, the crater has the greatest
                     concentration of wildlife on the planet. It contains a river, several swamps, a soda lake that,
                     from the top, looks like steam, full of flamingoes, forest and open plains.
                     The large bull elephants that reside here have an extremely large tusk, due to the rich mineral
                     content of the volcanic soil and its grasses. They are the most incredible
                     elephants you'll ever see in your life.

                  </p>
                  <h4><strong>Day 8: Ngorongoro- Arusha </strong> </h4>
                  <p>
                     We will start the day very early and descend into the crater floor for an incredible morning of
                     wildlife in one of the most stunning places on Earth. After
                     the game drive, there will be time for a picnic lunch near the beautiful hippo Lake. After lunch,
                     we will have time for a short game drive and then ascend
                     the crater and exit Ngorongoro Conservation Area towards Arusha. We expect to be back in Arusha
                     around 5 pm although we are flexible in case there is a
                     flight to catch or another situation.
                  </p>

                  <app-request-quote-button></app-request-quote-button>
               </div>
            </div>
         </div>
         <!--End tour itinerary description-->
         <aside class="col-lg-4">
            <app-book-by-phone-right></app-book-by-phone-right>
         </aside>
      </div>
      <!--End row -->
   </div>
   <!--End container -->
</main>
<!-- End main -->
<!--start of footer-->
<app-footer></app-footer>
<!--End of footer-->
<div id="toTop"></div>
<!-- Back to top button -->