<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../assets/img/package-landing-pages/scenic-view.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Bush Safaris</h1>
            <p>Check out the list of packages below to find out which package suits you.</p>
        </div>
    </div>
</section>


<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li>Short Breaks</li>
                <li>Bush Safaris</li>
            </ul>
        </div>
    </div>	

	<div class="container margin_60">       
		<div class="row">
			<aside class="col-lg-3">

				<app-side-menu></app-side-menu>

				<app-book-by-phone-left></app-book-by-phone-left>

			</aside>
			<!--End aside -->

			<div class="col-lg-9">
				<div class="isotope-wrapper">
                    <h3 id="package-header">
                        <strong>Experience the <span>Destination</span> with our <span>Bush Safari</span>  Packages Starting from kshs 16,900</strong>                    
                    </h3>              

                    <div class="row content-margins">
                       
                        <div class="col-lg-12">
                            <div style="overflow-x:auto;">
                                <table>
                                    <tr>
                                        <th>HOTEL OPTIONS</th>
                                        <th>RATE PER PERSON SHARING</th>
                                        <th>MEAL PLANS</th>
                                        <th>LOCATION</th>
                                    </tr>
                                    <tr>
                                        <td>Lenchada Tented Camp</td>
                                        <td>Kshs 14,999</td>
                                        <td>Full Board</td>
                                        <td>Maasai Mara</td>
                                    </tr>
                                    <tr>
                                        <td>Mara Topi Lodge</td>
                                        <td>Kshs 16,999</td>
                                        <td>Full Board</td>
                                        <td>Maasai Mara</td>
                                    </tr>
                                    <tr>
                                        <td>Enchoro Tented Camp</td>
                                        <td>Kshs 16,999</td>
                                        <td>Full Board</td>
                                        <td>Maasai Mara</td>
                                    </tr>
                                    <tr>
                                        <td>Oldarpoi Mara Camp</td>
                                        <td>Kshs 17,999</td>
                                        <td>Bed & B</td>
                                        <td>Nakuru</td>
                                    </tr>
                                    <tr>
                                        <td>Olmoran Tented Camp</td>
                                        <td>Kshs 18,500</td>
                                        <td>Full Board</td>
                                        <td>Maasai Mara</td>
                                    </tr>
                                    <tr>
                                        <td>Jambo Mara Lodge</td>
                                        <td>Kshs 20,700</td>
                                        <td>Full Board</td>
                                        <td>Maasai Mara</td>
                                    </tr>
                                    <tr>
                                        <td>Mara Chui Camp</td>
                                        <td>Kshs 22,000</td>
                                        <td>Full Board</td>
                                        <td>Maasai Mara</td>
                                    </tr>
                                    <tr>
                                        <td>Simba Oryx</td>
                                        <td>Kshs 21,999</td>
                                        <td>Full Board</td>
                                        <td>Maasai Mara</td>
                                    </tr>
                                    <tr>
                                        <td>Siana Springs</td>
                                        <td>Kshs 20,800 </td>
                                        <td>Full Board</td>
                                        <td>R.Valley, Marigat</td>
                                    </tr>
                                    <tr>
                                        <td>Enkorok Mara</td>
                                        <td>Kshs 22,500</td>
                                        <td>Full Board</td>
                                        <td>Maasai Mara</td>
                                    </tr>
                                    <tr>
                                        <td>Oldarpoi Wageni Camp</td>
                                        <td>Kshs 22,500</td>
                                        <td>Full Board</td>
                                        <td>Maasai Mara</td>
                                    </tr>
                                    <tr>
                                        <td>Salt Lick Safari Lodge</td>
                                        <td>Kshs 20,700</td>
                                        <td>Full Board</td>
                                        <td>Tsavo West</td>
                                    </tr>
                                    <tr>
                                        <td>Taita Hills Safari Lodge</td>
                                        <td>Kshs 18,500</td>
                                        <td>Full Board</td>
                                        <td>Tsavo West</td>
                                    </tr>
                                    <tr>
                                        <td>Voi Safari Lodge</td>
                                        <td>Kshs 20,000</td>
                                        <td>Full Board</td>
                                        <td>Tsavo West</td>
                                    </tr>
                                    <tr>
                                        <td>Ashnil Aruba Lodge</td>
                                        <td>Kshs 24,500</td>
                                        <td>Full Board</td>
                                        <td>Samburu</td>
                                    </tr>
                                    <tr>
                                        <td>Sentrim Tsavo Camp</td>
                                        <td>Kshs 26,500</td>
                                        <td>Full Board</td>
                                        <td>Samburu</td>
                                    </tr>
                                    <tr>
                                        <td>Sarova Shaba Game Lodge</td>
                                        <td>Kshs 42,800</td>
                                        <td>Bed & B</td>
                                        <td>Samburu</td>
                                    </tr>
                                    <tr>
                                        <td>Simba Lodge</td>
                                        <td>Kshs 33,500</td>
                                        <td>Full Board</td>
                                        <td>Naivasha</td>
                                    </tr>
                                    <tr>
                                        <td>Elephant Bedroom Camp</td>
                                        <td>Kshs 36,000</td>
                                        <td>Full Board</td>
                                        <td>Olpejeta</td>
                                    </tr>
                                    <tr>
                                        <td>AA Lodge Amboseli</td>
                                        <td>Kshs 17,500</td>
                                        <td>Full Board</td>
                                        <td>Amboseli</td>
                                    </tr>
                                    <tr>
                                        <td>Kilima Safari Lodge</td>
                                        <td>Kshs 23,500</td>
                                        <td>Full Board</td>
                                        <td>Amboseli</td>
                                    </tr>
                                    <tr>
                                        <td>Oltukai Lodge</td>
                                        <td>Kshs 27,900</td>
                                        <td>Full Board</td>
                                        <td>Amboseli</td>
                                    </tr>
                                    <tr>
                                        <td>Serena Lodge</td>
                                        <td>Kshs 28,500</td>
                                        <td>Full Board</td>
                                        <td>Tsavo West</td>
                                    </tr>
                                    <tr>
                                        <td>Kibo Safari Camp</td>
                                        <td>Kshs 29,700</td>
                                        <td>Full Board</td>
                                        <td>Amboseli</td>
                                    </tr>
                                    <tr>
                                        <td>Ngulia Safari Lodge</td>
                                        <td>Kshs 20,000</td>
                                        <td>Full Board</td>
                                        <td>Taita Hills</td>
                                    </tr>
                                    <tr>
                                        <td>Kilanguni Serena Safari Lodge</td>
                                        <td>Kshs 28,500</td>
                                        <td>Full Board</td>
                                        <td>Taita Hills</td>
                                    </tr>
                                    <!--xtra-->
                                    <tr>
                                        <td>Naivasha Sopa Lodge</td>
                                        <td>Kshs 8,999</td>
                                        <td>Full Board</td>
                                        <td>Naivasha</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- End col lg-9 -->
                    </div>
                    <!-- End row -->
                    <div class="row ">
            
                        <div class="col-lg-12 main-content">
            
                            <div class="row row-spacing">
                                <div class="col-md-12 content-margins-list-items">
                                    <h4>Package Includes</h4>
                                    <ul>
                                        <li>Night accomodation</li>
                                        <li>Meals as indicated on each hotel</li>                            
                                    </ul>
                                </div>
                                <div class="col-md-12 content-margins-list-items">
                                    <h4>Package Excludes</h4>
                                    <ul>
                                        <li>Transport</li>
                                        <li>Other meals not included</li>
                                        <li>Tips</li>
                                        <li>Excursions</li>
                                        <li>Any items of personal nature</li>
                                    </ul>
                                </div>
                                <div class="col-md-12 content-margins-list-items">
                                    <h4><strong>Terms and conditions</strong></h4>
                                    <ul>
                                        <li><strong>Transport can be arranged upon request</strong></li>
                                        <li><strong>Rates are subject to availability and may change</strong></li>
                                        <li><strong>Rates are valid till November</strong></li>                                      
                                    </ul>
                                </div>                              
                                <div class="col-md-12">
                                    <div>
                                        <h4><strong>Payment Details</strong></h4>
                                    </div>     
                                    <div>
                                        <span id="payment-info">Payment can be done using the following detais</span> 
                                        <div id="payment-details">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Paybill Number: 
                                                </div>
                                                <div class="col-md-9">
                                                    <strong>874323</strong> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Account name:
                                                </div>
                                                <div class="col-md-9">
                                                    <strong>H-ART OF AFRICA SAFARIS LTD</strong>
                                                </div>
                                            </div>      
                                        </div>          
                                    </div>      
                                </div> 
                                <div id="contact-us" class="col-md-3">
                                    <!-- Todo: Enable this once package have been added to the drop-down -->
                                    <!-- <app-request-quote-button></app-request-quote-button> -->

                                    <a class="btn_map"  href="/contact" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">Contact Us</a>

                                </div>  
                                <p class=" d-xl-block d-lg-block ">
                                    
                                </p>                           
                            </div>
                        </div>            
                    </div>			
					<!--End of row-->
				</div>
				<!-- End isotope-wrapper -->
			</div>
			<!-- End col lg 9 -->
		</div>
		<!-- End row -->

	</div>
	<!-- End container -->
</main>
<!-- End main -->

<app-footer></app-footer>

<!-- Back to top button -->
<div id="toTop"></div>



