<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/package-landing-pages/park-jeep.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header tour_titles">Big Five Budget 7 Days Group Joining Safari</h2>
					<!-- <span>Maasai Mara, Lake Nakuru and Samburu</span> -->
				</div>
				<div class="col-md-4">
					<div id="price_single_main">					  
					  from/per person <span><sup>$</sup>840</span>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/safaris">Safaris Tours</a>
				</li>
				<li>7 Days Maasai Mara Safari Tours</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->




	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">
				<div id="single_tour_feat">
					<!-- <h2>Highlights of 7 Days Maasai Mara Safari
					</h2> -->
				</div>



				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<!-- <div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_61000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_6500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_61000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_62000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_62000x1333.jpg">
						</div> -->
						<!-- <div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_51000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_5500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_51000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_52000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_52000x1333.jpg">
						</div> -->

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_11000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_1500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_11000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_12000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_12000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_41000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_4500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_41000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_42000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_42000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_91000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_9500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_91000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_92000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_92000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_31000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_3500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_31000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_32000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_32000x1333.jpg">
						</div>
					</div>
					<div class="sp-thumbnails">
						<!-- <img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_61000x667.jpg"> -->
						<!-- <img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_51000x667.jpg"> -->
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_11000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_41000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_91000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_31000x667.jpg">
						
					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-9">

						<div class="col-lg-9">
							<h4> <strong>Maasai Mara, Lake Nakuru and Samburu</strong> </h4>
							<p>
								Want to have the experience of a life-time and enjoy the Majesty of African Safari,
								Climb Mount Kenya or lay down in the white sands of Mombasa? Just drop us a message with
								what you have in mind. We will strive get back to you ASAP.
							</p>
							<br>
							<p><strong>Option 5th Day: Lake Nakuru or Amboseli.</strong></p>

							<h4><strong>DETAILED ITINERARY</strong></h4> <br>
							<h4><strong> Day 1: Nairobi- Maasai Mara</strong></h4>
							<p>
								Depart Nairobi for Maasai Mara. Picnic lunch enroute. On arrival at the game reserve,
								proceed for a game drive enroute the camp in search of black manned lions, elephants,
								cheetah, buffalo and other plains game. Proceed to the camp for dinner and overnight.
							</p>
							<h4><strong>Day 2: Maasai Mara</strong> </h4>
							<p>Full day is spent exploring this unique park, which forms the northern parts of the
								famous Serengeti National Park. Meals and overnight at the base camp.</p>

							<h4><strong>Day 3: Maasai Mara</strong></h4>
							<p>Full day game viewing is provided. Meals and overnight at the camp/lodge.</p>
							<br>

							<h4><strong>Day 4: Maasai Mara - Nakuru</strong></h4>
							<p>After breakfast leave camp for Lake Nakuru. Picnic enroute at the safari junction. After
								lunch proceed to lake Elementaita stopping for panoramic and scenery viewing. You will
								arrive in Nakuru later in the afternoon, dinner and overnight in your hotel or camp.</p>
							<br>

							<h4><strong>Day 5: Option 1 - Samburu</strong></h4>
							<p>Depart Nakuru after breakfast and drive north via Mt Kenya. Picnic enroute. Proceed to
								Samburu game reserve in time for a short game drive enroute to the camp. Dinner and
								overnight at the camp.</p>
							<br>
							<h4><strong>Day 6: Samburu</strong></h4>
							<p>Full day game viewing in Samburu in search for the ORYX GERENUK, gravy zebra, reticulated
								giraffe, crocodile and hippos along the ewaso nyiro river. Meals and overnight at the
								camp.</p>
							<br>
							<h4><strong>Day 7: Samburu - Nairobi</strong></h4>
							<p>0630 hrs. Pre-breakfast game drive. After breakfast return to Nairobi with a picnic lunch
								arriving late afternoon.</p>
							<br>
							<h4><strong>Day 5: Option 2 - Nakuru - Nairobi - Amboseli</strong></h4>
							<p>After breakfast leave Nakuru for Nairobi and proceed to Amboseli. Lunch is served
								enroute. Once in the National park a game viewing enroute to the camp. Dinner and
								Overnight at the Camp.</p>
							<br>
							<h4><strong>Day 6: Option 3 - Amboseli</strong></h4>
							<p>After breakfast leave camp for the last game viewing as you leave Amboseli for Nairobi.
								Picnic lunch enroute. Arrive in Nairobi in the afternoon.</p>

							<app-request-quote-button></app-request-quote-button>

						</div>

						<!-- End row  -->
					</div>
				</div>

			</div>
			<!--End  single_tour_desc-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End row -->
	</div>
	<!--End container -->


</main>
<!-- End main -->

<app-footer></app-footer>

<div id="toTop"></div><!-- Back to top button -->