<section class="parallax-window" data-parallax="scroll"
     data-image-src="../../../../../assets/img/package-landing-pages/lion-and-cab.jpg" data-natural-width="1400"
     data-natural-height="470">
     <div class="parallax-content-2">
          <div class="container">
               <div class="row">
                    <div class="col-md-8">
                         <h2 class="page-header tour_titles">
                              Highlights of The Great Mara 3 Days & 4 Nights
                         </h2>
                         <!-- <span>Hemmingway Trail</span> -->
                         <!-- <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small></span> -->
                    </div>
                    <div class="col-md-4">
                         <div id="price_single_main">
                              from/per person <span><sup>$</sup>300</span>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- End section -->

<main>
     <div id="position">
          <div class="container">
               <ul>
                    <li>
                         <a href="index.html">Home</a>
                    </li>
                    <li>
                         <a href="/safaris">Safaris Tours</a>
                    </li>
                    <li>The Great Mara 3 Days And 2 Nights Tour</li>
               </ul>
          </div>
     </div>
     <!-- End Position -->

     <div class="container margin_60">
          <div class="row">
               <div class="col-lg-8" id="single_tour_desc">

                    <div id="Img_carousel" class="slider-pro">
                         <div class="sp-slides">

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _2500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _22000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _22000x1333.jpg">                                   
                              </div>
                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _11000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _1500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _11000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _12000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _12000x1333.jpg">   
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _3500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _32000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _32000x1333.jpg">   
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _4500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _42000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _42000x1333.jpg">   
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _5500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _52000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _52000x1333.jpg">   
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _7500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _72000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _72000x1333.jpg"> 
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _6500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _62000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _62000x1333.jpg"> 
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _8500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _82000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _82000x1333.jpg"> 
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _9500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _92000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _92000x1333.jpg"> 
                              </div>
                         </div>
                         <div class="sp-thumbnails">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _11000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg">
                         </div>                         
                    </div>

                    <hr>
                    <div class="row">

                         <div class="col-lg-9">
                              <h4> <strong>The Great Mara 3 Days And 2 Nights</strong> </h4>
                              <p>
                                   Maasai Mara National Reserve is one of the most famous game reserves in the world,
                                   known for
                                   its native populations of antelopes, gazelles, giraffes, and more. Make the most of
                                   your trip
                                   to the reserve on this 3-day budget tour, which includes multiple game drives for the
                                   greatest
                                   chance of spotting wildlife. See Mount Longonot National Park and Mara River, and
                                   enjoy the
                                   convenience of having meals, transport, and safari tent accommodation included
                              </p>
                              <h4><strong>DETAILED ITINERARY</strong></h4> <br>
                              <h4><strong> Day 1: Nairobi- Maasai Mara</strong></h4>
                              <p>
                                   An early morning drive to Maasai Mara National Reserve, it holds on as one of the 
                                   few places left on earth where wildlife still lives comparatively undisturbed, in 
                                   the numbers that once roamed the plains and forests of Africa. As the northern tip 
                                   of the vast Serengeti ecosystem, the Mara hosts the spectacular seasonal migration 
                                   of many thousands of Wildebeest, Zebras and attendant predators. Arrive in time for 
                                   lunch then have an afternoon game drive. Dinner and overnight at campsite or lodge.
                              </p>
                              <h4><strong>Day 2: Maasai Mara</strong> </h4>
                              <p>
                                   After breakfast, we have a full day game drive, with packed lunch provided. The reserve
                                    is well known for its black-maned lion, as well as its abundant resident wildlife 
                                    and its one of the few places where it's possible to see the big five during a morning's
                                     game drive. Many of the cheetahs are so tame they seek shelter from the hot sun under 
                                     one's vehicle and several even climb onto the roof to get a better view of prospective 
                                     prey. For the bird enthusiast, almost 500 species have been recorded: among these 16 
                                     species of eagle, plus many hawks and falcons, 6 species of vultures, 8 species of storks
                                      4 of bustard (including the Kori bustard, the world's heaviest flying bird), and 
                                      9species of sunbirds. Dinner and overnight at campsite or lodge.
                              </p>
                              <h4><strong>Day 3: Maasai Mara - Nairobi</strong></h4>
                              <p>
                                   After breakfast, we have a full day game drive. Depart late in the morning to Nairobi. 
                                   Lunch en-route and arrival in Nairobi in the late afternoon.
                              </p>
                             <app-request-quote-button></app-request-quote-button>
                         </div>
                    </div>
               </div>
               <!--End  tour itinerary description-->

               <aside class="col-lg-4">
                    <app-book-by-phone-right></app-book-by-phone-right>
               </aside>
          </div>
          <!--End row -->
     </div>
     <!--End container -->



</main>
<!-- End main -->
<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->
<div id="toTop"></div><!-- Back to top button -->
