<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../assets/img/hart/safari/lions_and_cabs.jpg"
	src="../../../../assets/img/hart/safari/lions_and_cabs.jpg" data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Group Safari Tours</h1>
			<p>Budget Group Joining & Camping Tours</p>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="/domestic">All Tours</a>
				</li>
				<li>Group Safari Tours</li>
			</ul>
		</div>
	</div>
	<!-- Position -->



	<div class="container margin_60">
		<div class="row">
			<aside class="col-lg-3">

				<app-side-menu></app-side-menu>

				<app-book-by-phone-left></app-book-by-phone-left>

			</aside>
			<!--End aside -->

			<div class="col-lg-9">
				<div class="isotope-wrapper">
					<!--End of row-->
					<div class="row">
						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-four-days-maasai-mara-nakuru">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara/The Great Mara_14.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										from/per person<span class="price"><sup>$</sup>450</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-four-days-maasai-mara-nakuru">
										<h3><strong>Maasai Mara and Lake Nakuru 4 Days Wildebeest</strong> Safari, Kenya</h3>
										<span class="tour_package_duration">
											4 Days <i class="icon-sun"></i> || 3 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
						<div class="col-md-6 isotope-item higher_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-five-days-maasai-mara-lake-nakuru">
										<img src="../../../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_11800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										from/per person <span class="price"><sup>$</sup>580</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-five-days-maasai-mara-lake-nakuru">
										<h3><strong>Lake Nakuru and Maasai Mara 5 Days</strong> Safari, Kenya</h3>
										<span class="tour_package_duration">
											5 Days <i class="icon-sun"></i> || 4 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!--End of row-->
					<div class="row">
						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-the-great-mara-and-amboseli">
										<img src="../../../../../../../assets/img/packages-collection/the-great-mara-and-amboseli/Great-lakes_1800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										from/per person<span class="price"><sup>$</sup>720</span>
									</div>
								</div>

								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-the-great-mara-and-amboseli">
										<h3><strong>Maasai Mara, Lake Nakuru and Amboseli 6 Days</strong> Safari, Kenya
										</h3>
										<span class="tour_package_duration">
											6 Days <i class="icon-sun"></i> || 5 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>						
						</div>
						<!-- End col-md-6 -->
						<div class="col-md-6 isotope-item higher_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-seven-days-maasai-mara-samburu">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara-and-amboseli/The Great Mara and Amboseli_2.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										from/per person<span class="price"><sup>$</sup>840</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-seven-days-maasai-mara-samburu">
										<h3><strong>Big Five Budget 7 Days</strong> Safari, Kenya</h3>
										<span class="tour_package_duration">
											7 Days <i class="icon-sun"></i> || 6 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!--End of row-->
					<div class="row">
						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-eight-days-turkana-special">
										<img src="../../../../../../../assets/img/packages-collection/turkana-special/turkana_2@800x-10.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										from/per person<span class="price"><sup>$</sup>960</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-eight-days-turkana-special">
										<h3><strong>Turkana Special in Magical Maasai Mara 8 Days</strong> Safari, Kenya
										</h3>
										<span class="tour_package_duration">
											8 Days <i class="icon-sun"></i> || 7 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
						<div class="col-md-6 isotope-item higher_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-nine-days-maasai-mara-kisumu-amboseli">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara-and-amboseli/The Great Mara and Amboseli_8.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										from/per person<span class="price"><sup>$</sup>1080</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-nine-days-maasai-mara-kisumu-amboseli">
										<h3><strong>Great Migriation in Magical Maasai Mara 9 Days</strong> Safari,
											Kenya</h3>
										<span class="tour_package_duration">
											9 Days <i class="icon-sun"></i> || 8 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>

					<div class="row">
						<div class="col-md-6 isotope-item lower_price">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-the-great-mara-three-days-and-two-nights">
										<img src="../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_15800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										from/per person<span class="price"><sup>$</sup>330</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-the-great-mara-three-days-and-two-nights">
										<h3 class="tour_package_title"> <strong>Budget Masaai Mara 3 Days</strong>
											Safari, Kenya</h3>
										<span class="tour_package_duration">
											3 Days <i class="icon-sun"></i> || 2 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 isotope-item higher_price lower_ranking">
								<div class="tour_container">
									<!-- <div class="ribbon_3 popular"><span>Popular</span>
									</div>
									<div class="img_container">
										<a href="/domestic/group-safari-breathtaking-eight-days-and-seven-nights">
											<img src="../../../../../assets/img/packages-collection/breathtaking-wonders-of-kenya/Breathtaking wonders of Kenya_10800x533.jpg"
												width="800" height="533" class="img-fluid" alt="Image">
										</a>
										<div class="short_info">
											per person from<span class="price"><sup>$</sup>300</span>
										</div>
									</div>
									<div class="tour_title tour_extra">
										<a href="/domestic/group-safari-breathtaking-eight-days-and-seven-nights">
											<h3 class="tour_package_title"><strong>Breathtaking wonders of Kenya 8
													Days</strong> TOUR</h3>
											<span class="tour_package_duration">
												8 Days <i class="icon-sun"></i> || 7 Nights <i class="icon-moon"></i>
											</span>
										</a>
									</div> -->
								</div>
							</div>

						<div class="col-md-6 isotope-item higher_price lower_ranking">	
							<div class="tour_container">
								<!-- <div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-six-days-maasai-mara-lake-nakuru-baringo">
										<img src="../../../../../../../assets/img/packages-all-tours/great-lakes/Great-lakes_9.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										from/per person from<span class="price"><sup>$</sup>720</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-six-days-maasai-mara-lake-nakuru-baringo">
										<h3><strong>Maasai Mara, Lake Nakuru and Amboseli 6 Days XX</strong> Safari, Kenya
										</h3>
										<span class="tour_package_duration">
											6 Days <i class="icon-sun"></i> || 5 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div> -->
							</div>				
						</div>						
					</div>
				
			

						<!-- <div class="col-md-6 isotope-item higher_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-three-days-the-hemmingway-trail">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara/The Great Mara_6.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										per person<span class="price"><sup>$</sup>300</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-three-days-the-hemmingway-trail">
										<h3><strong>Hemmingyway Trail 3 Days</strong> Tour</h3>
										<span class="tour_package_duration">
											3 Days <i class="icon-sun"></i> || 2 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>							
						</div>						 -->
					</div>




					<!-- <div class="row">
						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-home-of-the-big-five-nine-days-and-eight-nights">
										<img src="../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_9800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										per person from<span class="price"><sup>$</sup>300</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-home-of-the-big-five-nine-days-and-eight-nights">
										<h3 class="tour_package_title"><strong>Home of the Big Five 9 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											9 Days <i class="icon-sun"></i> || 8 Nights <i class="icon-moon"></i>
										</span>
									</a>    
								</div>
							</div>							
						</div>
						

						<div class="col-md-6 isotope-item higher_price lower_ranking">
							<div class="tour_container">								
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-bush-and-lake">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara/safari-bush-and-lake-100.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										per person from<span class="price"><sup>$</sup>300</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-bush-and-lake">
										<h3><strong>Bush and Lake Safari 7 Days</strong> Tour</h3>
										<span class="tour_package_duration">
											7 Days <i class="icon-sun"></i> || 6 Nights <i class="icon-moon"></i>
										</span>									</a> 

								</div>
							</div>							
						</div>
					</div>	 -->




					<!-- <div class="row">						
						<div class="col-md-6 isotope-item lower_price lower_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-reconnect-with-nature-seven-days-and-six-nights">
										<img src="../../../../../../../assets/img/packages-collection/reconnect-with-nature/Reconnect with Nature_1800x533.jpg" width="800"
											height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										per person from<span class="price"><sup>$</sup>300</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-reconnect-with-nature-seven-days-and-six-nights">
										<h3 class="tour_package_title"><strong>Reconnect with Nature 7 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											7 Days <i class="icon-sun"></i> || 6 Nights <i class="icon-moon"></i>
										</span>
									</a>									
								</div>
							</div>							
						</div>			

						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-great-lakes-six-days-and-five-nights">
										<img src="../../../../../../../assets/img/packages-collection/great-lakes/Great-lakes_10800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										per person from<span class="price"><sup>$</sup>300</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-great-lakes-six-days-and-five-nights">
										<h3><strong>Great Lakes 6 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											6 Days <i class="icon-sun"></i> || 5 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>							
						</div>
					</div> -->


					<!-- <div class="row">
						<div class="col-md-6 isotope-item lower_price lower_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-magnificent-excursions-five-days-and-four-nights">
										<img src="../../../../../../../assets/img/packages-collection/magmificent-excuson/Magmificent-Excuson_1800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										per person from<span class="price"><sup>$</sup>300</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-magnificent-excursions-five-days-and-four-nights">
										<h3 class="tour_package_title"><strong>The Magnificent Excursions 5 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											5 Days <i class="icon-sun"></i> || 4 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>							
						</div>
						
						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-the-great-mara-eleven-days-and-ten-nights">
										<img src="../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_1800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										per person from<span class="price"><sup>$</sup>300</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-the-great-mara-eleven-days-and-ten-nights">
										<h3 class="tour_package_duration"><strong>Kenya Tanzania Adventure</strong> TOUR</h3>
										<span class="tour_package_duration">
											11 Days <i class="icon-sun"></i> || 10 Nights <i class="icon-moon"></i>
										</span>
									</a>    
								</div>
							</div>							
						</div>							
					</div> -->

					<!-- <div class="row">
						<div class="col-md-6 isotope-item lower_price lower_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-land-giants-five-days-and-four-nights">
										<img src="../../../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_6800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										per person from<span class="price"><sup>$</sup>300</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-land-giants-five-days-and-four-nights">
										<h3><strong>The Land Giants Five 5 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											5 Days <i class="icon-sun"></i> || 4 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>							
						</div>						

						<div class="col-md-6 isotope-item higher_price lower_ranking">
							<div class="tour_container">								
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/group-safari-home-of-the-wild-elephant-three-days-and-two-nights">
										<img src="../../../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_12800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										per person from<span class="price"><sup>$</sup>300</span>
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/group-safari-home-of-the-wild-elephant-three-days-and-two-nights">
										<h3><strong>The Home of The Wild Elephant 3 Days</strong> Tour</h3>
										<span class="tour_package_duration">
											3 Days <i class="icon-sun"></i> || 2 Nights <i class="icon-moon"></i>
										</span>
									</a> 
								</div>
							</div>							
						</div>						
					</div> -->


					<!--End of row-->
				</div>
				<!-- End isotope-wrapper -->
			</div>
			<!-- End col lg 9 -->
		</div>
		<!-- End row -->

	</div>
	<!-- End container -->
</main>
<!-- End main -->

<app-footer></app-footer>

<div id="toTop"></div><!-- Back to top button -->