<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../assets/img/hart/day/nairobi/rift-valley.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of the Fourteen Falls Tour</h2>

				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/day-trips">Day Trip Tours</a>
				</li>
				<li>Fourteen Falls Tour</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->




	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">




				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/1_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/1_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/1_large.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/2_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/2_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/2_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/3_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/3_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/3_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/4_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/4_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/4_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/5_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/5_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/5_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/6_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/6_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/6_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/7_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/7_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/7_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/8_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/8_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/8_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/9_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/9_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/9_large.jpg">
						</div>
					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/1_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/2_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/3_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/4_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/5_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/6_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/7_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/8_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/9_medium.jpg">
					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-9">
						<h4> <strong>Fourteen Falls</strong> </h4>
						<p>
                            Lake Bogoria is located a distance from Nairobi around 285 Kilometers and we have to start the safari early 
                            enough so that we have enough time at the National Reserve. Pick up from Nairobi Hotel latest by 0630 am then 
                            depart via the View Point and Nakuru Town to Lake Bogoria National Reserve, you will take at least 4 hours drive 
                            from Nairobi.
                        </p>
                        <p>
                            Fourteen falls are located near Kilimambogo along Thika – Garissa road; you will leave Nairobi either in the morning 
                            or afternoon and drive approximately 65 kms via Thika Town. Upon arrival you will meet the local guide for the day 
                            activities and guiding.
                        </p>
                        <h6><strong>ACTIVITIES</strong></h6>
                        <ul>
                            <li>Get information first about the name fourteen falls</li>
                            <li>Short boat ride, the boat guide uses a long pole to guide and move the boat towards the heart of the waterfall</li>
                            <li>Nature walk at the base of the 25 foot water drop</li>
                            <li>Bird watching and photography</li>
                            <li>Swimming/diving by locals</li>
                        </ul>

                        <p>
                            You will spend a couple of Hours later say bye bye to your guide and with your driver drive back to Nairobi. You may 
                            stopover at the shopping malls or a restaurant for your Lunch. Upon arrival be transferred to airport or drop off at 
                            your Hotel.

                        </p>
					</div>
				</div>
				<app-request-quote-button></app-request-quote-button>
			</div>
			<!--End  single_tour_desc-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End row -->
	</div>
	<!--End container -->



</main>
<!-- End main -->


<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->


<div id="toTop"></div><!-- Back to top button -->