<section class="parallax-window" data-parallax="scroll" data-image-src="img/bg_blog.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Tour Blog</h1>
            <p>“What's greatest risk of all? Not taking one.”</p>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Category</a>
                </li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- End position -->

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3">

                <app-side-menu></app-side-menu>

                <app-book-by-phone-left></app-book-by-phone-left>
            </aside>
            <!-- End aside -->

            <div class="col-lg-9">
                <div class="box_style_1">
                    <div class="post">
                        <a href="blog_post.html" title="blog_post.html">
                            <!--Resize of image needed-->
                            <img src="../../../../assets/img/blog/longonot/image1.jpg" alt="Image"
                                class="img-fluid">
                        </a>
                        <div class="post_info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li><i class="icon-calendar-empty"></i> On <span>17 Oct 2020</span>
                                    </li>
                                    <li><i class="icon-inbox-alt"></i> In <a href="domestic">Top tours</a>
                                    </li>
                                    <li><i class="icon-tags"></i> Tags <a href="longonot">Longonot</a>, <a href="#">Personal</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
                            </div>
                        </div>
                        <h2>H-art Of Africa Mt. Longonot Hike Experience! </h2>
                        <p>
                            Do you remember how long those nights before a school trip were? That's exactly how mine 
                            was. I was super pumped for this one because hiking is one of the ways I get my adrenaline going.......
                        </p>
                        <p>
                            So, morning FINALLY came, I met up with the rest of my squad for the day at around 6:30am. We were clearly 
                            all in high spirits and ready to take on the day.......
                        </p>
                        <!--I need the blogpost html so that I can link the readmore button to it-->
                        <a href="blog_post.html" class="btn_1" title="blog_post.html">Read more</a>
                    </div>
                    <!-- end post -->

                    <hr>

                    <div class="post">
                        <a href="blog_post.html" title="blog_post.html"><img src="img/blog-1.jpg" alt="Image"
                                class="img-fluid">
                        </a>
                        <div class="post_info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li><i class="icon-calendar-empty"></i> On <span>12 Nov 2020</span>
                                    </li>
                                    <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                                    </li>
                                    <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
                        </div>
                        <h2>Duis aute irure dolor in reprehenderit</h2>
                        <p>
                            Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce
                            suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi
                            nunc odio, gravida at, cursus nec, luctus a, lorem.....
                        </p>
                        <a href="blog_post.html" class=" btn_1">Read more</a>
                    </div>
                    <!-- end post -->

                    <hr>

                    <div class="post">
                        <a href="blog_post.html" title="blog_post.html"><img src="img/blog-2.jpg" alt="Image"
                                class="img-fluid">
                        </a>
                        <div class="post_info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li><i class="icon-calendar-empty"></i> On <span>12 Nov 2020</span>
                                    </li>
                                    <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                                    </li>
                                    <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
                        </div>
                        <h2>Duis aute irure dolor in reprehenderit</h2>
                        <p>
                            Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce
                            suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi
                            nunc odio, gravida at, cursus nec, luctus a, lorem.....
                        </p>
                        <p>
                            Ludus albucius adversarium eam eu. Sit eu reque tation aliquip. Quo no dolorum albucius
                            lucilius, hinc eligendi ut sed. Ex nam quot ferri suscipit, mea ne legere alterum
                            repudiandae. Ei pri quaerendum intellegebat, ut vel consequuntur voluptatibus. Et volumus
                            sententiae adversarium duo......
                        </p>
                        <a href="blog_post.html" class="btn_1" title="blog_post.html">Read more</a>
                    </div>
                    <!-- end post -->
                </div>
                <!-- end box style -->
               