<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../assets/img/hart/faq/leopard_on_tree.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Frequently questions</h1>
			<!---->
			<p>HOW CAN WE HELP YOU?</p>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="#">Home</a>
				</li>

				<li>FAQ</li>
			</ul>
		</div>
	</div>
	<!-- Position -->

	<div class="container margin_60">
		<div class="row">
			<aside class="col-lg-3" id="sidebar">
				<div class="theiaStickySidebar">
					<div class="box_style_cat" id="faq_box">
						<ul id="cat_nav">
							<li><a href="#payment" class="active"><i class="icon_set_1_icon-95"></i>Payments</a>
							</li>
							<li><a href="#tips"><i class="icon_set_1_icon-95"></i>Suggestions and tips</a>
							</li>
							<li><a href="#reccomendations"><i class="icon_set_1_icon-95"></i>Travel reccomendations</a>
							</li>
							<li><a href="#terms"><i class="icon_set_1_icon-95"></i>Terms and conditons</a>
							</li>
							<li><a href="#booking"><i class="icon_set_1_icon-95"></i>Booking and vouchers</a>
							</li>

						</ul>
					</div>
				</div>
				<!--End sticky -->
			</aside>
			<!--End aside -->
			<div class="col-lg-9" id="faq">
				<h3 class="nomargin_top">Payments</h3>
				<div id="payment" class="accordion_styled">
					<div class="card">
						<div class="card-header">
							<h4>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#payment"
									href="#collapseOne_payment">What are the payment methods?<i
										class="indicator icon-minus float-right"></i></a>
							</h4>
						</div>
						<div id="collapseOne_payment" class="collapse show" data-parent="#payment">
							<div class="card-body">
								For the down payment, we accept payments via wire transfer to our Equity Bank account.
								On some occasions payments are also possible with credit card via Pesapal/M-Pesa PayBill
								Number although there is a fee for this service. For the final payment, you can use the
								same method or pay us in cash or credit card when you arrive.
							</div>
						</div>
					</div>

				</div>
				<!--End payment -->

				<h3>Suggestions and tips</h3>
				<div id="tips" class="accordion_styled">
					<div class="card">
						<div class="card-header">
							<h4>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#tips"
									href="#collapseOne_tips">What should I take for the safari?<i
										class="indicator icon-plus float-right"></i></a>
							</h4>
						</div>
						<div id="collapseOne_tips" class="collapse" data-parent="#tips">
							<div class="card-body">
								All necessary documents: passport, vaccine certificate and others that might apply; Any
								medication you might need: This should include medication for possible common situations
								like headaches or diarrhoea; Sunblock, sunglasses, hat, lip balm and moisturizer; Your
								camera: we recommend bringing a wide lens (about 17-55mm) for those scenery pictures,
								and a telephoto lens (in the 200-400mm range) to catch animals at a distance;
								Binoculars: We do provide a pair of top notch binoculars per every 2 persons in the
								vehicle but feel free to bring your own which you may be more used to. Binoculars really
								make a big difference on a safari; Clothes: Comfortable and casual clothing, with khaki,
								beige or green colours. You should pack T-shirts, shirts with long sleeves, jeans, a
								sweater and a jacket (for the cold mornings), swimwear (if the accommodation you
								selected has pool or if you do a beach extension) and comfortable hiking shoes; Insect
								repellent.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h4>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#tips"
									href="#collapseTwo_tips">Do I need any vaccination?<i
										class="indicator icon-plus float-right"></i></a>
							</h4>
						</div>
						<div id="collapseTwo_tips" class="collapse" data-parent="#tips">
							<div class="card-body">
								It is very important to set an appointment with a travel doctor in your home country
								before you come. Depending on the situation, you might take vaccine for yellow fever and
								may take prophylaxis pills to protect you against Malaria. If you go to Zanzibar or come
								(or have a transit) in an endemic yellow fever country, proof of vaccination against
								yellow fever may be required at the airport.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h4>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#tips"
									href="#collapseThree_tips">Can I take plastic bags?<i
										class="indicator icon-plus float-right"></i></a>
							</h4>
						</div>
						<div id="collapseThree_tips" class="collapse" data-parent="#tips">
							<div class="card-body">
								Regarding Kenya, please see additional information on this link regarding the government
								decision to ban the plastic bags in Kenya: <a
									href="https://www.nema.go.ke/images/featured/FAQS_on_plastics_ban.pdf">NEMA</a> . As
								for Tanzania, from 1st June 2019, all plastic carrier bags regardless of their thickness
								will be prohibited from being used in mainland Tanzania. However, plastics carrier items
								known as “Ziploc bags” that are specifically used to carry toiletries will be permitted
								as they are expected to remain in the permanent possession of visitors and are not
								expected to be disposed in the country.
							</div>
						</div>
					</div>
				</div>
				<!--End tips -->

				<h3>Visa Requirements</h3>
				<div id="reccomendations" class="accordion_styled">
					<div class="card">
						<div class="card-header">
							<h4>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#reccomendations"
									href="#collapseOne_reccomendations">What are the visa requirements?<i
										class="indicator icon-plus float-right"></i></a>
							</h4>
						</div>
						<div id="collapseOne_reccomendations" class="collapse" data-parent="#reccomendations">
							<div class="card-body">
								We normally recommend getting the visa on arrival as it is a very straightforward
								process. It costs $50 USD per person except for U.S Citizens who pay $100 USD per
								person. Some countries do require a referral visa in advance. Please contact us if you
								are a citizen of any of the following countries: Afghanistan, Bangladesh, Ethiopia,
								Kazakhstan, Mali, Niger, Senegal, Tajikistan, Sri Lanka, Abkhazia, Chad, Equatorial
								Guinea, Kyrgyztan, Mauritania, Palestine, Somalia, Turkmenistan, Azerbaijan, Djibouti,
								Eritrea, Lebanon, Morocco, Sierra Leone or Uzbekistan. In any case, please do keep in
								mind your passport needs to have at least 6 months of validity.
							</div>
						</div>
					</div>

				</div>
				<!--End reccomendations -->

				<h3>Booking and vouchers</h3>
				<div id="booking" class="accordion_styled">
					<div class="card">
						<div class="card-header">
							<h4>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#booking"
									href="#collapseOne_booking">What is included in the tours?<i
										class="indicator icon-plus float-right"></i></a>
							</h4>
						</div>
						<div id="collapseOne_booking" class="collapse" data-parent="#booking">
							<div class="card-body">
								Our tours include: excellent Toyota minivans or LandCruisers with pop-up roof and
								unlimited mileage; all national parks entrances; camping fees and permits; unlimited
								water during the safaris; donations to the local communities; accommodation as agreed
								(on full board or all-inclusive basis).
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h4>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#booking"
									href="#collapseTwo_booking">What is excluded?<i
										class="indicator icon-plus float-right"></i></a>
							</h4>
						</div>
						<div id="collapseTwo_booking" class="collapse" data-parent="#booking">
							<div class="card-body">
								We do not include the country visas, and items of personal interest like souvenirs or
								extra services/tours not agreed beforehand. Tips are not included (the industry
								recommends a guideline of $10 USD per person per day). Also, if after you book your
								tour, the government decides to apply increases in park fees, camping fees, concession
								fees or others, these shall be added to your contract as well.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h4>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#booking"
									href="#collapseThree_booking">Is accommodation in Nairobi required before or after
									the safari?<i class="indicator icon-plus float-right"></i></a>
							</h4>
						</div>
						<div id="collapseThree_booking" class="collapse" data-parent="#booking">
							<div class="card-body">
								Well, we always recommend it because we like to start our safaris early in the morning
								and on the last day we like to avoid having to worry about reaching the airport on time.
								But, of course, we are flexible and we can start the safari when you arrive at the
								airport and can finish any safari with a drop off at the airport. However, in those
								cases, we always recommend flights arriving in the morning of the first day and flights
								leaving in the evening of the last day.
							</div>
						</div>
					</div>
				</div>
				<!--End booking -->

				<h3>Cancellation</h3>
				<div id="transfers" class="accordion_styled">
					<div class="card">
						<div class="card-header">
							<h4>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#transfers"
									href="#collapseOne_transfers">What is your cancellation policy?<i
										class="indicator icon-plus float-right"></i></a>
							</h4>
						</div>
						<div id="collapseOne_transfers" class="collapse" data-parent="#transfers">
							<div class="card-body">
								We apply a penalty of 10% if you cancel more than 30 days before your tour, a penalty of
								40% if you cancel with 15 to 30 days’ notice, a 60% penalty if you cancel with 7 to 14
								days’ notice, and a penalty of 100% if you cancel with less than a week notice.
							</div>
						</div>
					</div>

				</div>
				<!--End transfers -->

			</div>
			<!-- End col lg-9 -->
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</main>
<!-- End main -->

<!--Footer tag-->
<app-footer></app-footer>