<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/package-landing-pages/scenic-view.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header tour_titles">Highlights of 9 Days Maasai Mara Safari</h2>
					<!-- <span>Maasai Mara, Kisumu, Bondo/Kogelo village, Nakuru and Amboseli.</span>						 -->
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/safaris">Safaris Tours</a>
				</li>
				<li>9 Days Maasai Mara Safari Tours</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->





	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">
				<div id="single_tour_feat">
					<!-- <h2>Highlights of 9 Days Maasai Mara Safari</h2> -->
				</div>



				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_81000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_8500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_81000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_82000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_82000x1333.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_11000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_1500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_11000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_12000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_12000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_91000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_9500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_91000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_92000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_92000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_31000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_3500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_31000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_32000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_32000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_51000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_5500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_51000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_52000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_52000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_61000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_6500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_61000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_62000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_62000x1333.jpg">
						</div>


					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_81000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_11000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_91000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_31000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_51000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_61000x667.jpg">

					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-9">
						<h4> <strong>Maasai Mara, Kisumu, Bondo/Kogelo village, Nakuru and Amboseli.</strong> </h4>
						<p>
							0930 hrs. Depart Nairobi for Maasai Mara Game reserve. Picnic lunch enroute. On arrival at
							the game reserve, proceed for a game drive enroute to camp/lodge search for black manned
							lions, elephants, leopards, cheetah, buffalo and other animals. Proceed to the camp/lodge
							for dinner and overnight.
						</p>

						<h4><strong>DETAILED ITINERARY</strong></h4> <br>
						<h4><strong>Day 1: Nairobi - Maasai Mara</strong></h4>
						<p>
							Leaving Nairobi for lake Baringo. Picnic enroute. On arrival at Lake Bogoria in the
							afternoon, set up camp. Dinner and overnight.
						</p>
						<h4><strong>Day 2: Maasai Mara</strong> </h4>
						<p>Full day is spent exploring this unique park, which forms the northern part of the famous
							Serengeti National Park. Meals and overnight at the camp/lodge.</p>

						<h4><strong>Day 3: Maasai Mara</strong></h4>
						<p>Full day game viewing with morning and evening game drives. Afternoon will be spent at
							leisure with optional activities. All meals and overnight at camp/lodge.</p>
						<br>

						<h4><strong>Day 4: Maasai Mara - Kisumu</strong></h4>
						<p>Morning game drives in Maasai Mara. After breakfast drive to Kisumu/Bondo for overnight.</p>
						<br>

						<h4><strong>Day 5: Kisumu/Bondo - Kogelo village.</strong></h4>
						<p>A full day spent exploring this village. This is the ancestral home of the first Black
							American President - Barrack Obama. Overnight at Kisumu/Bondo hotel.</p>
						<br>
						<h4><strong>Day 6: Kisumu - Nakuru</strong></h4>
						<p>After breakfast drive to Nakuru for overnight at a budget Hotel/lodge.</p>
						<br>
						<h4><strong>Day 7: Nakuru - Nairobi - Amboseli</strong></h4>
						<p>After breakfast proceed to Nakuru National park for a game drive, leave Nakuru for Nairobi
							and proceed to Amboseli. Lunch is served enroute. Once in the national park a game viewing
							enroute to the camp base. Dinner and overnight at the lodge/camp.</p>
						<br>
						<h4><strong>Day 8: Amboseli</strong></h4>
						<p>Full in Amboseli (am and pm game drive) with a chance to see rhinos, lion, giraffe, herds of
							elephants and many other animals with Mt Kilimanjaro as the backdrop. Dinner and overnight
							at the camp/lodge.</p>
						<br>
						<h4><strong>Day 9: Amboseli – Nairobi</strong></h4>
						<p>After breakfast leave the lodge for the last game viewing as you leave Amboseli for Nairobi
							in the late afternoon.</p>
						<br>
						<h4><strong>Other tailor-made trips to the western circuit available.</strong></h4>

						<app-request-quote-button></app-request-quote-button>
					</div>
				</div>

			</div>
			<!--End of tour itinerary description-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--book by phone -->
	</div>

</main>
<!-- End main -->

<app-footer></app-footer>

<div id="toTop"></div><!-- Back to top button -->