<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../assets/img/package-landing-pages/baloon.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Day tours</h1>
			<p>Luxury Safari Tours Made Just For You</p>
		</div>
	</div>
</section>
<!-- End section -->
<main>
	<div id="position">
		<div class="container">
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="/domestic">All Tours</a>
				</li>
				<li>Day Trip Tours</li>
			</ul>
		</div>
	</div>
	<!-- Position -->

	<div class="collapse" id="collapseMap">
		<div id="map" class="map"></div>
	</div>
	<!-- End Map -->

	<div class="container margin_60">
		<div class="row">
			<aside class="col-lg-3">

				<app-side-menu></app-side-menu>

				<app-book-by-phone-left></app-book-by-phone-left>

			</aside>
			<!--End aside -->

			<div class="col-lg-9">
				<div class="isotope-wrapper">
					<div class="row">
						<div class="col-md-6 isotope-item lower_price">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/bomas-kenya-tour">
										<img src="../../../../../../../assets/img/packages-collection/day-trips/bomas-kenya-tour_1@800x-100.jpg" width="800"
											height="533" class="img-fluid" alt="Image">
										<div class="short_info">

										</div>
									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/bomas-kenya-tour">
										<h3><strong>Bomas of Kenya</strong> tour</h3>
										<span class="tour_package_duration">
											6 Hours <i class="fa fa-clock-o" aria-hidden="true"></i>
										</span>									
									</a>
									
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
<!--
	Excluded package
							<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/great-riftvalley-lake-nakuru-tour">
										<img src="../../../../../../../assets/img/packages-collection/day-trips/Day-trips_5@800x-100.jpg" width="800"
											height="533" class="img-fluid" alt="Image">
										<div class="short_info">
										</div>
									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/great-riftvalley-lake-nakuru-tour">
										<h3><strong>Great Rift Valley Lake Nakuru</strong> tour </h3>									
									</a>
									
								</div>
							</div>
							
						</div>
						
   
-->

					</div>
					<!-- End row -->

					<div class="row">
						<div class="col-md-6 isotope-item higher_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/karen-blixen-and-giraffee-centre-tour">
										<img src="../../../../../../../assets/img/packages-all-tours/karen-blixen-and-giraffee-centre/afrochic-diani-beach_1@351x-100.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
										<div class="short_info">

										</div>
									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/karen-blixen-and-giraffee-centre-tour">
										<h3 class="tour_package_title"><strong>Karen Blixen Giraffe Center</strong> tour</h3>
										<span class="tour_package_duration">
											6 Hours <i class="fa fa-clock-o" aria-hidden="true"></i>
										</span>									
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->

						<div class="col-md-6 isotope-item higher_price lower_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/nairobi-city-tour">
										<img src="../../../../../../../assets/img/packages-collection/day-trips/Day-trips_6@800x-100.jpg" width="800"
											height="533" class="img-fluid" alt="Image">
										<div class="short_info">
										</div>
									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/nairobi-city-tour">
										<h3><strong>Nairobi City (3 hrs)</strong> Tour</h3>	
										<span class="tour_package_duration">
											3 Hours <i class="fa fa-clock-o" aria-hidden="true"></i>
										</span>									
									</a>

								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!-- End row -->

					<div class="row">
						<div class="col-md-6 isotope-item isotope-item lower_price lower_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/national-park-tour">
										<img src="../../../../../../../assets/img/packages-collection/nairobi-national-park/domestic-national-park-tour@800x-100.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
										<div class="short_info">
										</div>
									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/national-park-tour">
										<h3><strong>Nairobi National Park </strong> tour</h3>	
										<span class="tour_package_duration">
											4 Hours <i class="fa fa-clock-o" aria-hidden="true"></i>
										</span>									
									</a>
								</div>
							</div>							
						</div>					
					</div>					
				</div>
				
				<hr>
			</div>
			<!-- End col lg 9 -->
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</main>
<!-- End main -->


<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->


<div id="toTop"></div><!-- Back to top button -->
