<section class="parallax-window" data-parallax="scroll"
     data-image-src="../../../../../assets/img/package-landing-pages/lion-and-cab.jpg" data-natural-width="1400"
     data-natural-height="470">
     <div class="parallax-content-2">
          <div class="container">
               <div class="row">
                    <div class="col-md-8">
                         <h2 class="page-header tour_titles">
                              Highlights of Home of the Big Five 9 days & 8 nights
                         </h2>
                         <!-- <span>Hemmingway Trail</span> -->
                         <!-- <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small></span> -->
                    </div>
                    <div class="col-md-4">
                         <div id="price_single_main">
                              <!-- from/per person <span><sup>$</sup>52</span> -->
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- End section -->

<main>
     <div id="position">
          <div class="container">
               <ul>
                    <li>
                         <a href="index.html">Home</a>
                    </li>
                    <li>
                         <a href="/safaris">Safaris Tours</a>
                    </li>
                    <li>Home of the Big Five Nine 9 And 8 Nights Tour</li>
               </ul>
          </div>
     </div>
     <!-- End Position -->

     <div class="container margin_60">
          <div class="row">
               <div class="col-lg-8" id="single_tour_desc">

                    <div id="Img_carousel" class="slider-pro">
                         <div class="sp-slides">

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_41000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/small/Home of the Big Five_4500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_41000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_42000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_42000x1333.jpg">
                              </div>
                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_91000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/small/Home of the Big Five_9500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_91000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_92000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_92000x1333.jpg">
                              </div>
                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_131000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/small/Home of the Big Five_13500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_131000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_132000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_132000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_111000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/small/Home of the Big Five_11500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_111000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_112000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_112000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_31000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/small/Home of the Big Five_3500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_31000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_32000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_32000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_121000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/small/Home of the Big Five_12500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_121000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_122000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_122000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_161000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/small/Home of the Big Five_16500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_161000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_162000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_162000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_71000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/small/Home of the Big Five_7500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_71000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_72000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_72000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_171000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/small/Home of the Big Five_17500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_171000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_172000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/large/Home of the Big Five_172000x1333.jpg">
                              </div>
                         </div>
                         <div class="sp-thumbnails">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_41000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_91000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_131000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_111000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_31000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_121000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_161000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_71000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/home-of-the-big-five/medium/Home of the Big Five_171000x667.jpg">
                         </div>
                    </div>

                    <hr>
                    <div class="row">

                         <div class="col-lg-9">
                              <h4> <strong>Home of the Big Five 9 Days And 8 Nights </strong> </h4>
                              <p>
                                   Tailored 9 days of viewing the big five in their typical habitats in the biggest
                                   parks.
                                   Tsavo West National park, Amboseli National Park, Lake Naivasha, Maasai Mara National
                                   Reserve, and Lake Nakuru National Park.
                              </p>
                              <h4><strong>DETAILED ITINERARY</strong></h4> <br>
                              <h4><strong> Day 1: Nairobi- Tsavo West National Park</strong></h4>
                              <p>
                                   We depart by road for Tsavo West National Park. Arrive in time for lunch then
                                   an optional afternoon or evening game drive. Tsavo West is the most visited section
                                   in Tsavo National Park, offering many attractions apart from its wildlife. The
                                   foremost
                                   is the famous Mzima Springs where up to 227.3 million litres of cool crystal clear
                                   water flows out of the ground through porous volcanic rocks. The water is believed to
                                   originate from Chuyulu Hills, via an underground river. Dinner and overnight at
                                   campsite
                                   or lodge.
                              </p>
                              <h4><strong>Day 2: Tsavo West National Park </strong> </h4>
                              <p>
                                   After breakfast, we have a full day game drive, packed lunch provided. Other
                                   interesting
                                   places to visit are the Roaring Rocks, which get their name from the wind that
                                   hurtles
                                   through them. From here there are wonderful views over Tsavo from the top of a 98m
                                   rock
                                   face; similar views can be experienced from the poacher's lookout. The volcanic
                                   Chaimu
                                   Crater, less than 200 years old and composed of black coke, is worth visiting and can
                                   be
                                   climbed if one is interested. The area is a good place to look out for klipspringer,
                                   a
                                   small antelope that's as agile as its Swahili name Mbuzi mawe(mountain goat). In the
                                   south-west corner of Tsavo West is Lake Jipe, which has the Kenyan-Tanzanian border
                                   running through it.
                              </p>
                              <h4><strong>Day 3: Tsavo West National Park- Amboseli National Park</strong> </h4>
                              <p>
                                   Early morning start and drive to Amboseli National Park, check in at your
                                   accommodation,
                                   day spent at leisure. Amboseli National Park is situated due south of Nairobi. Most
                                   of
                                   the park consists of a dry, ancient lake bed and fragile grassland with patches of
                                   acacia
                                   woodland, while in the southern area there is a number of small, rocky, volcanic
                                   hills.
                                   Around the swamp s Ol Okenya, Ol Tukai and Enkongo Narok, the vegetation is lush with
                                   yellow-barked acacias and phoenix palms. Dinner and overnight at campsite or lodge.
                              </p>
                              <h4><strong>Day 4: Exploration of Amboseli National Park</strong> </h4>
                              <p>
                                   Rising early for good views of Mount Kilimanjaro before clouds build up over the
                                   summit
                                   with packed lunch provided. An optional visit to a Maasai village can be planned
                                   after
                                   breakfast. A visit reveals the singing and dancing that are part of their daily lives
                                   and sacred rituals. A glimpse into their homes and social structure is a poignant
                                   experience. Despite its changing habitat, Amboseli National Park is possibly the best
                                   wildlife area In the whole of Africa to experience elephants at close range. Left
                                   unharassed by poachers, elephants feeding and bathing in the swamps must form the
                                   highlights of any Safari. Dinner and overnight at campsite or lodge.
                              </p>
                              <h4><strong>Day 5: Amboseli National Park- Lake Nakuru </strong> </h4>
                              <p>
                                   An early morning pick up then drive to Lake Nakuru National Park, across the equator,
                                   southwards of Bogoria, lies the
                                   Rift Valley most famous Lake Nakuru. Known all over the world for its flamingoes,
                                   it's alkaline and is recognized as
                                   being one of the natural wonders of the world. Lake Nakuru is now a rhino sanctuary,
                                   harboring a population of over 40
                                   black and over 60 white rhinos, but the flamingoes, of course, have always been the
                                   main attraction. At times there may
                                   be almost 2million flamingoes in the residence, forming a stunningly beautiful deep
                                   pink band around the edge of the
                                   lake shore. Arrive in time for lunch then have an afternoon game drive.
                                   Dinner and overnight at campsite or lodge

                              </p>
                              <h4><strong>Day 6: Lake Nakuru- Lake Naivasha </strong> </h4>
                              <p>
                                   An early morning drive to Lake Naivasha, it is the highest and the most beautiful of
                                   the Rif Valley lakes. At 1910m
                                   (6200f), the water is fresh and the lake is fringed with dense clumps of papyrus
                                   (ancient Egyptian once used this
                                   to make paper). Kingfishers use the papyrus as a perch, herons hide in it while
                                   searching for food. Naivasha is yet
                                   another area popular for bird watching (over 400species have been recorded). It is
                                   also a favorite weekend retreat
                                   for Nairobi residents, who come here to sail, water ski and fish. There are no
                                   crocodiles in the lake as the water
                                   is too cold for them, due to altitude but there are a number of hippos. Along the
                                   lake shore, vineyards produce
                                   grapes for the country's fledging wine industry. Dinner and overnight at campsite or
                                   lodge.
                              </p>
                              <h4><strong>Day 7: : Lake Naivasha- Maasai Mara Natural Reserve </strong> </h4>
                              <p>
                                   An early morning drive to Maasai Mara National Reserve, it holds on as one of the few
                                   places left on earth where
                                   wildlife still lives comparatively undisturbed, in the numbers that once roamed the
                                   plains and forests of Africa.
                                   As the northern tip of the vast Serengeti ecosystem, the Mara hosts the spectacular
                                   seasonal migration of many
                                   thousands of Wildebeest, Zebras and attendant predators. Arrive in time for lunch
                                   then have an afternoon game drive.
                              </p>
                              <p>Dinner and overnight at campsite or lodge.</p>
                              <h4><strong>Day 8: Maasi Mara </strong> </h4>
                              <p>
                                   After breakfast we have a full day dame drive, with packed lunch provided. The
                                   reserve is well known for its black-
                                   manned lion, as well as its abundant resident wildlife and its one of the few places
                                   where it's possible to see the
                                   big five during a morning's game drive. Many of the cheetahs are so tame they seek
                                   shelter from the hot sun under
                                   one's vehicle and several even climb onto the roof to get better view of prospective
                                   prey. For the bird enthusiast,
                                   almost 500 species have been recorded: among these 16 species of eagle, plus many
                                   hawks and falcons, 6 species of
                                   vultures, 8 species of storks 4 of bustard (including the Kori bustard, the world's
                                   heaviest flying bird), and 9
                                   species of sun birds.
                              </p>
                              <h4><strong>Day 9: Maasi Mara </strong> </h4>
                              <p>Depart for a morning game drive after breakfast. Depart to Nairobi late in the morning.
                                   Lunch en route.</p>

                              <app-request-quote-button></app-request-quote-button>

                         </div>
                    </div>
               </div>
               <!--End  tour itinerary description-->

               <aside class="col-lg-4">
                    <app-book-by-phone-right></app-book-by-phone-right>
               </aside>
          </div>
          <!--End row -->
     </div>
     <!--End container -->



</main>
<!-- End main -->
<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->
<div id="toTop"></div><!-- Back to top button -->