<div class="box_style_cat side_menu">
    <ul id="cat_nav">
        <li><a href="/domestic" id="active"><i class="icon_set_1_icon-51"></i>All tours </a>
        </li>
        <li><a href="/domestic/safaris"><i class="icon_set_1_icon-3"></i>Safari </a>
        </li>
        <li><a href="/domestic/mountains"><i class="icon_set_1_icon-4"></i>Mountain Climbing </a>
        </li>
        <li><a href="/domestic/beaches"><i class="icon_set_1_icon-44"></i>Beach </a>
        </li>
        <li><a href="/domestic/day-trips"><i class="icon_set_1_icon-37"></i>Day Trip</a>
        </li>					
    </ul>
</div>

<!--End filters col-->
