<div class="box_style_cat side_menu">
    <ul id="cat_nav">
        <li>
            <a href="/domestic" id="active"><i class="icon_set_1_icon-51"></i>All tours </a>
        </li>
        <li>
            <a href="/domestic/group-safaris"><i class="icon_set_1_icon-3"></i>Budget Group Safaris </a>
        </li>
        <li>
            <a href="/domestic/private-safaris"><i class="icon_set_1_icon-3"></i>Private Luxury Safaris </a>
        </li>
        <li>
            <a href="/domestic/mountains"><i class="icon_set_1_icon-3"></i>Mount Kenya Hiking </a>
        </li>
        <li>
            <a href="/domestic/beaches"><i class="icon_set_1_icon-44"></i>Beach </a>
        </li>
        <li>
            <a href="/domestic/day-trips"><i class="icon_set_1_icon-37"></i>Day Trip</a>
        </li>
        <li>
            <a href="/longonot"><i class="icon_set_1_icon-3"></i><strong>Mount Longonot Hike</strong> </a>
        </li>       
        <li>
            <a href="/diani"><i class="icon_set_1_icon-3"></i><strong>3 Days Diani X Wasini Island X</strong> </a>
        </li>    					
    </ul>
</div>

<!--End filters col-->
