<div class="box_style_cat side_menu">
    <ul id="cat_nav">
        <li>
            <a href="/domestic" id="active">All tours </a>
        </li>
        <li>
            <a href="/domestic/group-safaris">Budget Group Safaris </a>
        </li>
        <li>
            <a href="/domestic/private-safaris">Private Luxury Safaris </a>
        </li>
        <li>
            <a href="/domestic/bush-safaris">Bush Safari Packages</a></li>  
        <li>
            <a href="/domestic/mountains">Hiking and Trekking</a>
        </li>
        <li>
            <a href="/domestic/beaches">Beach Holidays</a>
        </li>
        <li><a href="/domestic/coast-holidays ">Coast Holiday Packages</a>
        </li>  
        <li>
            <a href="/domestic/day-trips">Day Trip</a>
        </li>
        <li>
            <a href="/domestic/getaways">Getaways</a>
        </li>
        <li>
            <a href="/longonot"><strong>Mount Longonot Hike</strong> </a>
        </li>       
        <li>
            <a href="/diani"><strong>3 Days Diani X Wasini Island</strong> </a>
        </li> 
        <li>
            <a href="/mombasa"><strong>3 Days Mombasa Beach Daze</strong> </a>
        </li> 
        <li>
            <a href="/maasai-mara"><strong>3 Days Maasai Mara Overland</strong></a>
        </li>     					
    </ul>
</div>

<!--End filters col-->

