<footer class="revealed">
    <div class="container">
        <div class="row">           
            <div class="col-md-4">
                <h3>Need help?</h3>
                <a href="tel://00254208000243" id="phone">(+254) 20 8000 243</a>
                <a href="tel://00254721913293" id="phone">(+254) 721 913 293</a>
                <a href="mailto:info@h-artofafricasafaris.com" id="email_footer">info@h-artofafricasafaris.com</a>
            </div>
            <div class="col-md-3">
                <h3>Address</h3>
                <ul>
                    <li>View Park Towers, 1st Floor Suite 3 Monrovia Street, Utalii Lane Nairobi, Kenya</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>About</h3>
                <ul>
                    <li><a href="./about">About us</a></li>
                    <li><a href="./faq">FAQ</a></li>
                    <li><a href="./contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <!-- TrustBox widget - Starter -->
                    <div id="trustp" class="trustpilot-widget" data-locale="en-US" data-template-id="5613c9cde69ddc09340c6beb" data-businessunit-id="5d54a3e17b8b570001f3dd3b" data-style-height="100%" data-style-width="100%" data-theme="dark">
                        <a href="https://www.trustpilot.com/review/h-artofafricasafaris.com" target="_blank" rel="noopener">Trustpilot</a>
                    </div>
                <!-- End TrustBox widget -->       
            </div>
        </div><!-- End row -->
        <div class="PesapalDiv row">
            <a href="https://payments.pesapal.com/h-artofafricasafaris" id="pesapalbtn" class="medium">
                <img src="https://payments.pesapal.com/site/images/pesapalpaybtn.png" title="Payonline"
                    alt="Pay online">
            </a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="https://www.facebook.com/HeartofAfricasafaris/?ti=as" target="_blank"><i
                                    class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/HartSafaris?s=08" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://h-art-of-africa-safaris-ltd.business.site" target="_blank"><i
                                    class="icon-google"></i></a></li>
                        <li><a href="https://www.instagram.com/hartofafricasafaris/?hl=en" target="_blank"><i
                                    class="icon-instagram"></i></a></li>

                        <li><a href="https://www.youtube.com/channel/UCyf2g-Cv8Jdb_55u3GP5DQA?reload=9" target="_blank"><i
                                    class="icon-youtube-play"></i></a></li>
                    </ul>                    
                    <p id="copyright">© 2019 H-Art of Africa Safaris. All rights reserved </p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer><!-- End footer -->