<section class="parallax-window" data-parallax="scroll" data-image-src="../../../../assets/img/blog/longonot/logonot-blog-landing.jpg"
    data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Tour Blogs</h1>
            <p>“What's the greatest risk of all? Not taking one at all.”</p>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>    
                <li>
                    All Blogs
                </li>
            </ul>
        </div>
    </div>
    <!-- End position -->

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3 add_bottom_30">

                <app-side-menu-blog></app-side-menu-blog>
                
            </aside>
            <!-- End aside -->

            <div class="col-lg-9">
                <div class="box_style_1">
                    <div class="post">
                        <a href="/nairobi-national-park-blog" title="blog_post.html"><img
                                src="../../../../../assets/img/blog/all-blogs/Blog_3-100.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post_info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li><i class="icon-calendar-empty"></i> On <span>19 Sep 2020</span>
                                    </li>
                                
                                </ul>
                            </div>                        
                        </div>
                        <h2>Nairoibi National Park</h2>
                        <p>
                            I am a bit ashamed to say this. I was born and raised in Nairobi but had never visited Nairobi 
                    National Park, so when I heard about this specific safari I ......
                        </p>  
                        <a href="/nairobi-national-park-blog" class="btn_1" title="blog_post.html">Read more</a>
                    </div>
                    <!-- end post -->

                    <hr>

                    <div class="post">
                        <a href="/longonot-blog" title="blog_post.html"><img
                                src="../../../../../assets/img/blog/all-blogs/Blog_5-100.jpg" alt="Image" class="img-fluid">
                        </a>
                        <div class="post_info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li><i class="icon-calendar-empty"></i> On <span>17 Oct 2020</span>
                                    </li>    
                                </ul>
                            </div>                            
                        </div>
                        <h2>Mt Longonot Hike</h2>
                        <p>
                            Do you remember how long those nights before a school trip were? That's exactly how mine
                        was. I was super pumped for this one because hiking is one of the ways I get my......
                    
                        </p>
                        <a href="/longonot-blog" class=" btn_1">Read more</a>
                    </div>
                    <!-- end post -->

                    <hr>

                    <!-- <div class="post">
                        <a href="blog_post.html" title="blog_post.html"><img src="../../../../../assets/img/blog/temp/blog-3.jpg" alt="Image"
                                class="img-fluid">
                        </a>
                        <div class="post_info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li><i class="icon-calendar-empty"></i> On <span>12 Nov 2020</span>
                                    </li>
                                    <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a>
                                    </li>
                                    <li><i class="icon-tags"></i> Tags <a href="#">Works</a>, <a href="#">Personal</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-right"><i class="icon-comment"></i><a href="#">25 </a>Comments</div>
                        </div>
                        <h2>Duis aute irure dolor in reprehenderit</h2>
                        <p>
                            Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce
                            suscipit varius mi nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi
                            nunc odio, gravida at, cursus nec, luctus a, lorem.....
                        </p>
                        <p>
                            Ludus albucius adversarium eam eu. Sit eu reque tation aliquip. Quo no dolorum albucius
                            lucilius, hinc eligendi ut sed. Ex nam quot ferri suscipit, mea ne legere alterum
                            repudiandae. Ei pri quaerendum intellegebat, ut vel consequuntur voluptatibus. Et volumus
                            sententiae adversarium duo......
                        </p>
                        <a href="blog_post.html" class="btn_1" title="blog_post.html">Read more</a>
                    </div> -->
                    <!-- end post -->
                </div>
            </div>
            <!-- End col-md-9-->
        </div>
        <!-- End row-->
    </div>
    <!-- End container -->
</main>
<!-- End main -->

<app-footer></app-footer>

<!-- Back to top button -->
<div id="toTop"></div>