<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../assets/img/hart/safari/lions_and_cabs.jpg"
	src="../../../../assets/img/hart/safari/lions_and_cabs.jpg" data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Private Safari Tours</h1>
			<p>Luxury Safari Tours Made Just For You</p>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="/domestic">All Tours</a>
				</li>
				<li>Safari Tours</li>
			</ul>
		</div>
	</div>
	<!-- Position -->



	<div class="container margin_60">
		<div class="row">
			<aside class="col-lg-3">

				<app-side-menu></app-side-menu>

				<app-book-by-phone-left></app-book-by-phone-left>

			</aside>
			<!--End aside -->

			<div class="col-lg-9">
				<div class="isotope-wrapper">
					<div class="row">
						<div class="col-md-6 isotope-item lower_price">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-the-great-mara-three-days-and-two-nights">
										<img src="../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_15800x533.jpg" width="800" height="533"
											class="img-fluid" alt="Image">
									</a>
									<div class="short_info">
										<!-- per person from<span class="price"><sup>$</sup>300</span> -->
									</div>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-the-great-mara-three-days-and-two-nights">
										<h3 class="tour_package_title"> <strong>The Great Mara 3 Days</strong> tour</h3>
										<span class="tour_package_duration">
											3 Days <i class="icon-sun"></i> || 2 Nights <i class="icon-moon"></i>
										</span>
									</a>									
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->

						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-the-great-mara-eleven-days-and-ten-nights">
										<img src="../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_1800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">
									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-the-great-mara-eleven-days-and-ten-nights">
										<h3 class="tour_package_duration"><strong>Kenya Tanzania Adventure</strong> TOUR</h3>
										<span class="tour_package_duration">
											11 Days <i class="icon-sun"></i> || 10 Nights <i class="icon-moon"></i>
										</span>
									</a>    
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!-- End row -->

					<div class="row">
						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<!-- <div class="ribbon_3 popular"><span>Popular</span>
								</div> -->
								<div class="img_container">
									<a href="/domestic/safari-home-of-the-big-nine-days-and-eight-nights">
										<img src="../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_9800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-home-of-the-big-nine-days-and-eight-nights">
										<h3 class="tour_package_title"><strong>Home of the Big Five 9 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											9 Days <i class="icon-sun"></i> || 8 Nights <i class="icon-moon"></i>
										</span>
									</a>    
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->

						<div class="col-md-6 isotope-item higher_price lower_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-breathtaking-wonders-of-kenya-eight-days-and-seven-nights">
										<img src="../../../../../assets/img/packages-collection/breathtaking-wonders-of-kenya/Breathtaking wonders of Kenya_10800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-breathtaking-wonders-of-kenya-eight-days-and-seven-nights">
										<h3 class="tour_package_title"><strong>Breathtaking wonders of Kenya 8 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											8 Days <i class="icon-sun"></i> || 7 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!-- End row -->

					<div class="row">
						<div class="col-md-6 isotope-item lower_price lower_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-reconnect-with-nature-seven-days-and-six-nights">
										<img src="../../../../../../../assets/img/packages-collection/reconnect-with-nature/Reconnect with Nature_1800x533.jpg" width="800"
											height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-reconnect-with-nature-seven-days-and-six-nights">
										<h3 class="tour_package_title"><strong>Reconnect with Nature 7 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											7 Days <i class="icon-sun"></i> || 6 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->

						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-great-lakes-six-days-and-five-nights">
										<img src="../../../../../../../assets/img/packages-collection/great-lakes/Great-lakes_10800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-great-lakes-six-days-and-five-nights">
										<h3><strong>Great Lakes 6 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											6 Days <i class="icon-sun"></i> || 5 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!-- End row -->

					<div class="row">
						<div class="col-md-6 isotope-item lower_price lower_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-magnificent-excursions-five-days-and-four-nights">
										<img src="../../../../../../../assets/img/packages-collection/magmificent-excuson/Magmificent-Excuson_1800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-magnificent-excursions-five-days-and-four-nights">
										<h3 class="tour_package_title"><strong>The Magnificent Excursions 5 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											5 Days <i class="icon-sun"></i> || 4 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->

						<div class="col-md-6 isotope-item higher_price lower_ranking">
							<div class="tour_container">								
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-the-great-mara-and-amboseli-six-days-and-five-nights">
										<img src="../../../../../../../assets/img/packages-collection/the-great-mara-and-amboseli/Great-lakes_1800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<!--start of the change-->
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-the-great-mara-and-amboseli-six-days-and-five-nights">
										<h3><strong>The Great Mara and Amboseli 6 Days</strong> Tour</h3>
										<span class="tour_package_duration">
											6 Days <i class="icon-sun"></i> || 5 Nights <i class="icon-moon"></i>
										</span>
									</a> 

								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!-- End row -->
					<div class="row">
						<div class="col-md-6 isotope-item lower_price lower_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-land-giants-five-days-and-four-nights">
										<img src="../../../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_6800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-land-giants-five-days-and-four-nights">
										<h3><strong>The Land Giants Five 5 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											5 Days <i class="icon-sun"></i> || 4 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->

						<div class="col-md-6 isotope-item higher_price lower_ranking">
							<div class="tour_container">								
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-home-of-the-wild-elephant-three-days-and-two-nights">
										<img src="../../../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_12800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-home-of-the-wild-elephant-three-days-and-two-nights">
										<h3><strong>The Home of The Wild Elephant 3 Days</strong> Tour</h3>
										<span class="tour_package_duration">
											3 Days <i class="icon-sun"></i> || 2 Nights <i class="icon-moon"></i>
										</span>
									</a> 

								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					
					<!-- End row -->
					<div class="row">
						<div class="col-md-6 isotope-item higher_price lower_ranking">
							<div class="tour_container">								
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/safari-bush-and-lake">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara/safari-bush-and-lake-100.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/safari-bush-and-lake">
										<h3><strong>Bush and Lake Safari 7 Days</strong> Tour</h3>
										<span class="tour_package_duration">
											7 Days <i class="icon-sun"></i> || 6 Nights <i class="icon-moon"></i>
										</span>
									</a> 

								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
						<div class="col-md-6 isotope-item higher_price higher_ranking">
							<div class="tour_container">								
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/three-days-hemmingway-trail">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara/The Great Mara_6.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/three-days-hemmingway-trail">
										<h3><strong>Hemmingyway Trail 3 Days</strong> Tour</h3>
										<span class="tour_package_duration">
											3 Days <i class="icon-sun"></i> || 2 Nights <i class="icon-moon"></i>
										</span>
									</a> 

								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!--End of row-->
				    <div class="row">
						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/four-days-maasai-mara-safari">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara/The Great Mara_14.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="four-days-maasai-mara-safari">
										<h3><strong>MAASAI MARA 4 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											4 Days <i class="icon-sun"></i> || 3 Nights <i class="icon-moon"></i>
										</span>
									</a>    
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
						<div class="col-md-6 isotope-item higher_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/five-days-maasai-mara-safari">
										<img src="../../../../../../../assets/img/packages-collection/the-great-mara/The Great Mara_11800x533.jpg" width="800"
											height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/five-days-maasai-mara-safari">
										<h3><strong>MAASAI MARA 5 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											5 Days <i class="icon-sun"></i> || 4 Nights <i class="icon-moon"></i>
										</span>
									</a>       
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!--End of row-->
					<div class="row">
						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/six-days-maasai-mara-safari">
										<img src="../../../../../../../assets/img/packages-all-tours/great-lakes/Great-lakes_9.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/six-days-maasai-mara-safari">
										<h3><strong>MAASAI MARA 6 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											6 Days <i class="icon-sun"></i> || 5 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
						<div class="col-md-6 isotope-item higher_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3 popular"><span>Popular</span>
								</div>
								<div class="img_container">
									<a href="/domestic/seven-days-maasai-mara-safari">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara-and-amboseli/The Great Mara and Amboseli_6.jpg" width="800"
											height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/seven-days-maasai-mara-safari">
										<h3><strong>MAASAI MARA 7 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											7 Days <i class="icon-sun"></i> || 6 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!--End of row-->
					<div class="row">
						<div class="col-md-6 isotope-item lower_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/eight-days-turkana-special">
										<img src="../../../../../../../assets/img/packages-collection/magmificent-excuson/Magmificent-Excuson_16800x533.jpg"
											width="800" height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/eight-days-turkana-special">
										<h3><strong>TURKANA SPECIAL 8 Days</strong> TOUR</h3>
										<span class="tour_package_duration">
											8 Days <i class="icon-sun"></i> || 7 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
						<div class="col-md-6 isotope-item higher_price higher_ranking">
							<div class="tour_container">
								<div class="ribbon_3"><span>Top rated</span>
								</div>
								<div class="img_container">
									<a href="/domestic/nine-days-maasai-mara-safari">
										<img src="../../../../../../../assets/img/packages-all-tours/the-great-mara-and-amboseli/The Great Mara and Amboseli_8.jpg" width="800"
											height="533" class="img-fluid" alt="Image">

									</a>
								</div>
								<div class="tour_title tour_extra">
									<a href="/domestic/nine-days-maasai-mara-safari">
										<h3><strong>Maasai Mara 9 Days</strong> tour</h3>
										<span class="tour_package_duration">
											9 Days <i class="icon-sun"></i> || 8 Nights <i class="icon-moon"></i>
										</span>
									</a>
								</div>
							</div>
							<!-- End box tour -->
						</div>
						<!-- End col-md-6 -->
					</div>
					<!--End of row-->
				</div>
				<!-- End isotope-wrapper -->
			</div>
			<!-- End col lg 9 -->
		</div>
		<!-- End row -->
		
	</div>
	<!-- End container -->
</main>
<!-- End main -->

<app-footer></app-footer>

<div id="toTop"></div><!-- Back to top button -->
