<section class="parallax-window" data-parallax="scroll" data-image-src="../../../../assets/img/hart/contact/leopard.jpg"
	data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Inquire Now</h1>
			<p>Please use form below to make an inquiry.</p>
		</div>
	</div>
</section>
<!-- End Section -->
<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="Index.html">Home</a>
				</li>
				<li>Inquire</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->
	<div class="container margin_60">
		<div class="row">
			<div class="col-md-8">
				<div class="form_title">
					<h3>
						<strong>
							<i class="icon-pencil"></i>
						</strong>
						Fill form below with your inquiry
					</h3>
				</div>
				<div class="step">
					<!-- <div [hidden]="submitted"> -->
					<div id="message-contact"></div>
					<form (ngSubmit)="submitForm(inquiryForm)" #inquiryForm="ngForm">						
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group">
									<dd>
										<select name="salutation" id="salutation" class="form-control"
											[(ngModel)]="model.title" #salutationInput="ngModel" required>
											<option disabled hidden value="undefined">Select</option>
											<option value="Mr">Mr</option>
											<option value="Mrs">Mrs</option>
											<option value="Miss">Miss</option>
											<option value="Miss">Ms</option>
										</select>
									</dd>
									<div *ngIf="salutationInput.invalid && (salutationInput.dirty || salutationInput.touched)"
										class="alert alert-danger">
										<div *ngIf="salutationInput.errors?.required">
											Salutation is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>First Name</label>
									<input type="text" class="form-control" id="firstName" name="firstName"
										placeholder="Enter Name" [(ngModel)]="model.firstName" required
										#firstNameInput="ngModel">
									<div *ngIf="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)"
										class="alert alert-danger">
										<div *ngIf="firstNameInput.errors?.required">
											Firstname is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Last Name</label>
									<input type="text" class="form-control" id="lastname_contact"
										name="lastname_contact" placeholder="Enter Last Name"
										[(ngModel)]="model.lastName">									
								</div>
							</div>
						</div>
						<!-- End row -->
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Email</label>
									<input type="email" id="email_contact" name="email_contact" class="form-control"
										placeholder="Enter Email" [(ngModel)]="model.email" required email
										#emailInput="ngModel" ng-untouched ng-pristine ng-valid>
									<div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
										class="alert alert-danger">
										<div *ngIf="emailInput.errors?.required">
											Email is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Phone</label>
									<input type="text" id="phone_contact" name="phone_contact" class="form-control"
										placeholder="Enter Phone number" [(ngModel)]="model.phone" required
										#phoneInput="ngModel" ng-untouched ng-pristine ng-valid>
									<div *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)"
										class="alert alert-danger">
										<div *ngIf="phoneInput.errors?.required">
											Phone is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<h5>Your Travel Plans</h5>
									<p>
										If there is a particular itinerary you are interested in then please select from
										the list below
									</p>
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
							 <div class="form-group">
										<dd>
										<select name="tourPackage" id="tourPackage" class="form-control" [(ngModel)]="model.tourPackage" #tourPackageInput="ngModel"
											ng-untouched ng-pristine ng-valid required>
											<option disabled hidden value="undefined">Select Package</option>
											<option value="THE GREAT MARA 3 DAYS TOUR">THE GREAT MARA 3 DAYS TOUR</option>
											<option value="KENYA TANZANIA ADVENTURE TOUR">KENYA TANZANIA ADVENTURE TOUR</option>
											<option value="HOME OF THE BIG FIVE 9 DAYS TOUR">HOME OF THE BIG FIVE 9 DAYS TOUR</option>
											<option value="BREATHTAKING WONDERS OF KENYA 8 DAYS TOUR">BREATHTAKING WONDERS OF KENYA 8 DAYS TOUR</option>
											<option value="RECONNECT WITH NATURE 7 DAYS TOUR">RECONNECT WITH NATURE 7 DAYS TOUR</option>
											<option value="GREAT LAKES 6 DAYS TOUR">GREAT LAKES 6 DAYS TOUR</option>
											<option value="THE GREAT MARA AND AMBOSELI 6 DAYS TOUR">THE GREAT MARA AND AMBOSELI 6 DAYS TOUR</option>
											<option value="THE MAGNIFICENT EXCURSIONS 5 DAYS TOUR">THE MAGNIFICENT EXCURSIONS 5 DAYS TOUR</option>
											<option value="THE LAND GIANTS FIVE 5 DAYS TOUR">THE LAND GIANTS FIVE 5 DAYS TOUR</option>
											<option value="THE HOME OF THE WILD ELEPHANT 3 DAYS">THE HOME OF THE WILD ELEPHANT 3 DAYS TOUR</option>
											<option value="BUSH AND LAKE SAFARI 7 DAYS TOUR">BUSH AND LAKE SAFARI 7 DAYS TOUR</option>
											<option value="HEMMINGYWAY TRAIL 3 DAYS TOUR">HEMMINGYWAY TRAIL 3 DAYS TOUR</option>
											<option value="MAASAI MARA 4 DAYS TOUR">MAASAI MARA 4 DAYS TOUR</option>
											<option value="MAASAI MARA 5 DAYS TOUR">MAASAI MARA 5 DAYS TOUR</option>
											<option value="MAASAI MARA 6 DAYS TOUR">MAASAI MARA 6 DAYS TOUR</option>
											<option value="MAASAI MARA 7 DAYS TOUR">MAASAI MARA 7 DAYS TOUR</option>
											<option value="TURKANA SPECIAL 8 DAYS TOUR">TURKANA SPECIAL 8 DAYS TOUR</option>
											<option value="MAASAI MARA 9 DAYS TOUR">MAASAI MARA 9 DAYS TOUR</option>
											<option value="SIRIMON ROUTE TOUR">SIRIMON ROUTE TOUR</option>
											<option value="SIRIMON NARO MORU ROUTE TOUR">SIRIMON NARO MORU ROUTE TOUR</option>
											<option value="CHOGORIA EASY PACE TOUR">CHOGORIA EASY PACE TOUR</option>
											<option value="AFROCHIC DIANI BEACH TOUR">AFROCHIC DIANI BEACH TOUR</option>
											<option value="ENGLISHPOINT MARINA TOUR">ENGLISHPOINT MARINA TOUR</option>
											<option value="LEOPARD BEACH RESORT TOUR">LEOPARD BEACH RESORT TOUR</option>
											<option value="NEPTUNE BEACH RESORT TOUR">NEPTUNE BEACH RESORT TOUR</option>
											<option value="PRIDEINN EXPRESS RESORT TOUR">PRIDEINN EXPRESS RESORT TOUR</option>
											<option value="BOMAS OF KENYA TOUR">BOMAS OF KENYA TOUR</option>
											<option value="KAREN BLIXEN GIRAFFE CENTER TOUR">KAREN BLIXEN GIRAFFE CENTER TOUR</option>
											<option value="NAIROBI CITY (3 HRS) TOUR">NAIROBI CITY (3 HRS) TOUR</option>
											<option value="NAIROBI NATIONAL PARK TOUR">NAIROBI NATIONAL PARK TOUR</option>
										</select>
									</dd>
									<div *ngIf="tourPackageInput.invalid && (tourPackageInput.dirty || tourPackageInput.touched)"
										class="alert alert-danger">
										<div *ngIf="tourPackageInput.errors?.required">
											Tour package is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<p>
										If you have specific requests for your itinerary then please use the box at the
										bottom of this page to tell us about them and we'd be happy to tailor an
										itinerary to suit you.
									</p>
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-9">
								<div class="form-group">
									<label>How many people are travelling?</label>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Adults</label>
									<input type="number" id="noOfAdults" min="1" name="noOfAdults" class="form-control"
										placeholder="Enter number of adults" [(ngModel)]="model.numberOfAdults" required min="1"
										#numberOfAdultsInput="ngModel">
									<div *ngIf="numberOfAdultsInput.invalid && (numberOfAdultsInput.dirty || numberOfAdultsInput.touched)"
										class="alert alert-danger">
										<div *ngIf="numberOfAdultsInput.errors?.required">
											Number of adults is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Children</label>
									<input type="number" name="numberOfChildren" placeholder="Enter number of children" [(ngModel)]="model.numberOfChildren"
										class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>What is your date of arrival?</label>
									<input type="date" name="arrivalDate" id="arrivalDate"
										class="arrival-input form-control" #arrivalDateInput="ngModel"
										[(ngModel)]="model.arrivalDate" required>
									<div *ngIf="arrivalDateInput.invalid && (arrivalDateInput.dirty || arrivalDateInput.touched)"
										class="alert alert-danger">
										<div *ngIf="arrivalDateInput.errors?.required">
											Arrival is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>What is your date of departure?</label>
									<input type="date" name="departureDate" id="departureDate"
										class="arrival-input form-control" #departureDateInput="ngModel"
										[(ngModel)]="model.departureDate" required>
									<div *ngIf="departureDateInput.invalid && (departureDateInput.dirty || departureDateInput.touched)"
										class="alert alert-danger">
										<div *ngIf="departureDateInput.errors?.required">
											Departure is required.
										</div>
									</div>
								</div>
							</div>
						</div>						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Arrival Point</label>
									<input type="text" id="arrivalPoint" name="arrivalPoint" class="form-control"
										placeholder="Enter arrival point" [(ngModel)]="model.arrivalPoint" required
										#arrivalPointInput="ngModel" ng-untouched ng-pristine ng-valid>
									<div *ngIf="arrivalPointInput.invalid && (arrivalPointInput.dirty || arrivalPointInput.touched)"
										class="alert alert-danger">
										<div *ngIf="arrivalPointInput.errors?.required">
											Arrival point is required.
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Departure Point</label>
									<input type="text" class="form-control" name="departurePoint" placeholder="Enter departure point" 
									[(ngModel)]="model.departurePoint">	
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<h5>Requirements</h5>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<p>
										Please use this space to provide us with any additional requests or information
										that you think is relevant to your trip.
									</p>
									<p>
										(e.g.: Are there any particular places or experiences you specifically want to
										include in your itinerary, or any special interests you have that you'd like
										accommodated).
									</p>
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label>Message</label>
									<textarea rows="5" id="message_contact" name="message_contact" class="form-control"
										placeholder="Write your message" style="height:200px;"
										[(ngModel)]="model.message" required #messageInput="ngModel" ng-untouched
										ng-pristine ng-valid></textarea>
									<div *ngIf="messageInput.invalid && (messageInput.dirty || messageInput.touched)"
										class="alert alert-danger">
										<div *ngIf="messageInput.errors?.required">
											Message is required.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<p>How did you hear about Hart of Africa Safaris?</p>
									<input type="text" name="howDidYouHearAboutUs" placeholder="Tell us how you heard about us"class="form-control" 
									[(ngModel)]="model.howDidYouHearAboutUs">
								</div>
							</div>
							<div class="">
								<div class="form-group">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<p>
										We'd love to send you our e-newsletter which features exciting new itineraries,
										blog
										posts from the team, and fabulous
										competitions. We'll always treat your personal details with the utmost care,
										further
										details of which can be found
										in our Privacy Policy.
									</p>
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col-sm-1 " style="padding-right: 0px;">
								<div class="form-group">																										
									<input id="news-letter" type="checkbox" name="newsLetter" class="form-control" placeholder="Enter departure point" 
									[(ngModel)]="model.newsLetter">									
								</div>
							</div>
							<div class="col-sm-11" style="padding-top: 10px; margin-left: 0px;">
								<div class="form-group" style="margin-left: 0px;">
									<label>Yes please, I'd like to receive your Newsletter</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">								
								<input type="submit" class="btn_1" [disabled]="!inquiryForm.valid">
							</div>
							<div class="col-sm-9">
								<!-- <label>Human verification</label> -->	
								<!-- <div class="g-recaptcha" data-sitekey="6LdJFakUAAAAAP0ilgTZYzTA0Sm3NmC1fPhibp3S"></div>								 -->
							</div>
						</div>
						<div id="spinner-position" class="row">															
							<div class="col-sm-6" *ngIf="showSpinner">
								<div class="spinner-border text-success" role="status">
									<span class="sr-only">Loading...</span>
								</div>								 	
							</div>															
						</div>
						<div class="row">
							<div class="col-sm-12" *ngIf="isSubmitted">
								 <label class="form-submit">Message successfully submitted, we will get back to you soon, thank you!</label>
							</div>						  
					   </div>	
					   <div class="row">
							<div class="col-sm-12" *ngIf="isError">
								<label class="form-submit">An error has occurred sending your request. Please try again later, thank you!</label>
						</div>
					   </div>
					   <div class="row">
						<div class="col-sm-12" *ngIf="showInvalidDateMessage">
							<div class="form-group">
								<label class="form-submit">Date of departure should be after date of arrival</label>
							</div>
						</div>						
					</div>	   
						
					</form>
					<!-- </div> -->
				</div>
			</div>
			<!-- End col-md-8 -->

			<div class="col-md-4 contact-us">
				<div class="box_style_4">
					<i class="icon_set_1_icon-90"></i>
					<h4><span>Book</span> by phone</h4>
					<a href="tel://254208000243" class="phone need_help_right">+254 20 8000 243</a>
					<a href="tel://00254721913293" class="phone need_help_right">+254 721 913 293</a>
					<small>Monday to Saturday 7.00am - 8.00pm</small>
				</div>
			</div>
			<!-- End col-md-4 -->
		</div>
	</div>
</main>
<!-- End main -->

<app-footer></app-footer>
