<section class="parallax-window" data-parallax="scroll" data-image-src="../../../../assets/img/blog/longonot/logonot-blog-landing.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <!-- <h1>Mt Longonot Hike</h1> -->
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/all-blogs">All Blogs</a>
                </li>
                <li>Mt Longonot Blog</li>
            </ul>
        </div>
    </div>
    <!-- End position -->

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3">

                <app-side-menu-blog></app-side-menu-blog>

                <app-book-by-phone-left></app-book-by-phone-left>
            </aside>
            <!-- End aside -->

            <div class="col-lg-9">
                <div class="box_style_1">  
                    <h2>H-art Of Africa Mt. Longonot Hike Experience! </h2>
                    <p>
                        Do you remember how long those nights before a school trip were? That's exactly how mine
                        was. I was super pumped for this one because hiking is one of the ways I get my adrenaline
                        going.
                    </p>
                    <p>
                        So, morning FINALLY came, I met up with the rest of my squad for the day at around 6:30am. We
                        were clearly
                        all in high spirits and ready to take on the day.
                    </p>
                    <img src="../../../../assets/img/blog/longonot/image1.jpg" alt="Image" class="img-fluid">
                    <!--
                        <a href="blog_post.html" class="btn_1" title="blog_post.html">Read more</a>
                        -->
                    <img src="../../../../assets/img/blog/longonot/image5.jpg" alt="Image" class="img-fluid">
                    <div class="row">
                        <div class="col-md-6 blog-imgs">
                            <img src="../../../../assets/img/blog/longonot/image4.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-md-6 blog-imgs">
                            <img src="../../../../assets/img/blog/longonot/image6.jpg" alt="Image" class="img-fluid">
                        </div>
                    </div>
                    <p>
                        After that, we setback on our journey to Mt. Longonot. We got there safely and were quick to be
                        updated on
                        the new park guidelines on plastic water bottles and a fact sheet on the hike difficulty,
                        estimated time and
                        history of Rift Valley’s formation by our guide!
                    </p>

                    <p>
                        We embarked the hike and I can tell you for sure, the energy we started with went fading! haha.
                        Slowly realizing
                        that the lockdown had kept most of us unfit, we wrestled with the escalation and rocky ascend to
                        the crater!
                    </p>
                    <img src="../../../../assets/img/blog/longonot/image2.jpg" alt="Image" class="img-fluid">
                    <img src="../../../../assets/img/blog/longonot/image7.jpg" alt="Image" class="img-fluid">
                    <p>
                        Some of us got muscle pulls along the way, others gave up and sat but the good news is we all
                        got to the top. Some
                        managed to go round the crater and made it to the back with smiles of achievement! We were
                        extremely proud of ourselves.
                    </p>
                    <img src="../../../../assets/img/blog/longonot/image8.jpg" alt="Image" class="img-fluid">

                    <p>
                        We really got caught up in the moment celebrating that we made it to the top and round the
                        crater, taking photos
                        and discussing how tired we were not remembering we had another 3.1kms to cover back down. Part
                        of me was still
                        excited but part of me really wondered if I'd make it with the descent especially being so
                        steep!
                    </p>
                    <p>
                        How many of you think that going down a hill is easier than going up? Well, the good news is
                        that we all made it.
                    </p>
                    <p>
                        We all assembled in the buses and went to Zambezi Lodge for what was meant to be lunch. Let me
                        tell you, that lunch
                        was hard earned!
                    </p>
                    <img src="../../../../assets/img/blog/longonot/image3.jpg" alt="Image" class="img-fluid">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="../../../../assets/img/blog/longonot/image10.jpg" alt="Image"
                                        class="img-fluid">
                                </div>
                                <div class="">
                                    <p>
                                        There, we danced quite a bit in celebration of our great achievements and a
                                        successful day.
                                    </p>
                                    <p>
                                        We then celebrated our October babies with a delightful cake then drove back to
                                        Nairobi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../../assets/img/blog/longonot/image11.jpg" alt="Image" class="img-fluid">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>

<div id="toTop"></div>