<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../assets/img/package-landing-pages/scenic-view.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Coastal Holidays</h1>
            <p>Get up close and personal with our Coastal Holidays. You'll never see the same thing twice! </p>
        </div>
    </div>
</section>


<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li>Short Breaks</li>
                <li>Coastal Holidays</li>
            </ul>
        </div>
    </div>	

	<div class="container margin_60">       
		<div class="row">
			<aside class="col-lg-3">

				<app-side-menu></app-side-menu>

				<app-book-by-phone-left></app-book-by-phone-left>

			</aside>
			<!--End aside -->

			<div class="col-lg-9">
				<div class="isotope-wrapper">
                    <h3 id="package-header">
                        <strong>It's all about the <Span>Experience</Span> with our <span>Coastal Holiday Packages</span> for as low as Kshs 14,900</strong>                    
                    </h3>              

                    <div class="row content-margins">
                       
                        <div class="col-lg-12">
                            <div style="overflow-x:auto;">
                                <table>
                                    <tr>
                                        <th>HOTEL OPTIONS</th>
                                        <th>RATE PER PERSON SHARING</th>
                                        <th>TRANSPORT</th>
                                        <th>LOCATION</th>
                                    </tr>
                                    <tr>
                                        <td>Silver palm beach resort </td>
                                        <td>Kshs 27,000</td>
                                        <td>SGR</td>
                                        <td>Kilifi</td>
                                    </tr>
                                    <tr>
                                        <td>Rock and sea Resort </td>
                                        <td>Kshs 54,500</td>
                                        <td>Flying</td>
                                        <td>Watamu</td>
                                    </tr>
                                    <tr>
                                        <td>Medina Palms Beach resort </td>
                                        <td>Kshs 34,900</td>
                                        <td>Flying</td>
                                        <td>Watamu</td>
                                    </tr>
                                    <tr>
                                        <td>Turtle Bay Beach resort</td>
                                        <td>Kshs 30,700</td>
                                        <td>Flying</td>
                                        <td>Watamu</td>
                                    </tr>
                                    <tr>
                                        <td>Lily Palm Beach resort</td>
                                        <td>Kshs 29,500</td>
                                        <td>Flying</td>
                                        <td>Watamu</td>
                                    </tr>
                                    <tr>
                                        <td>Diamond dreams of Africa</td>
                                        <td>Kshs 39,700</td>
                                        <td>Flying</td>
                                        <td>Malindi</td>
                                    </tr>
                                    <tr>
                                        <td>Sandies Tropical Beach resort</td>
                                        <td>Kshs 31,500</td>
                                        <td>Flying</td>
                                        <td>Malindi</td>
                                    </tr>
                                    <tr>
                                        <td>Baobab beach resort</td>
                                        <td>Kshs 23,200</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Diani reef beach resort</td>
                                        <td>Kshs 23,200</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Jacaranda Indian ocean beach</td>
                                        <td>Kshs 25,200</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Afrika pearl beach resort</td>
                                        <td>Kshs 29,600</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Leopard beach hotel</td>
                                        <td>Kshs 23,800</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Plaza Beach resort</td>
                                        <td>Kshs 14,900</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>Continental Beach resort</td>
                                        <td>Kshs 15,000</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>Pride inn Paradise Beach resort</td>
                                        <td>Kshs  19,700</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>Travellers Beach resortt</td>
                                        <td>Kshs 19,500</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>Kenya Bay Beach resort</td>
                                        <td>Kshs 17,700</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>Sarova Whitesands Beach resort</td>
                                        <td>Kshs 19,500</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>Voyager Beach resort</td>
                                        <td>Kshs 19,500</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>English point marina hotel</td>
                                        <td>Kshs 24,900</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>Reef hotel Mombasa</td>
                                        <td>Kshs 19,000</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>Mombasa beach hotel</td>
                                        <td>Kshs 18,000</td>
                                        <td>SGR</td>
                                        <td>Mombasa</td>
                                    </tr>
                                    <tr>
                                        <td>Baobab sea lodge</td>
                                        <td>Kshs 21,400</td>
                                        <td>SGR</td>
                                        <td>Kilifi</td>
                                    </tr>
                                    <tr>
                                        <td>Kilifi Bay beach resort</td>
                                        <td>Kshs 23,300</td>
                                        <td>SGR</td>
                                        <td>Kilifi</td>
                                    </tr>
                                    <tr>
                                        <td>Sands at nomads</td>
                                        <td>Kshs 27,500</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Sands at Chale island</td>
                                        <td>Kshs 23,900</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Diani sea lodge</td>
                                        <td>Kshs 27,500</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Diani sea resort</td>
                                        <td>Kshs 40,900</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Neptune Village Beach resort</td>
                                        <td>Kshs 44,000</td>
                                        <td>SGR</td>
                                        <td>Diani</td>
                                    </tr>
                                    <tr>
                                        <td>Swahili beach resort</td>
                                        <td>Kshs 40,900</td>
                                        <td>Flying</td>
                                        <td>Diani</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- End col lg-9 -->
                    </div>
                    <!-- End row -->
                    <div class="row ">
            
                        <div class="col-lg-12 main-content">
            
                            <div class="row row-spacing">
                                <div class="col-md-12 content-margins-list-items">
                                    <h4>Package Includes</h4>
                                    <ul>
                                        <li>Accomodation</li>
                                        <li>Meals </li>                            
                                    </ul>
                                </div>
                                <div class="col-md-12 content-margins-list-items">
                                    <h4>Package Excludes</h4>
                                    <ul>
                                        <!--
                                            <li>Transport</li>
                                        -->
                                        
                                        <li>Other meals not included</li>
                                        <li>Tips</li>
                                        <li>Excursions</li>
                                        <li>Any items of personal nature</li>
                                    </ul>
                                </div>
                                <div class="col-md-12 content-margins-list-items">
                                    <h4><strong>Terms and conditions</strong></h4>
                                    <ul>
                                        <li><strong>Transport can be arranged upon request</strong></li>
                                        <li><strong>Rates are subject to availability and may change</strong></li>
                                        <li><strong>Rates are valid till November</strong></li>                                      
                                    </ul>
                                </div>                              
                                <div class="col-md-12">
                                    <div>
                                        <h4><strong>Payment Details</strong></h4>
                                    </div>     
                                    <div>
                                        <span id="payment-info">Payment can be done using the following detais</span> 
                                        <div id="payment-details">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Paybill Number: 
                                                </div>
                                                <div class="col-md-9">
                                                    <strong>874323</strong> 
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Account name:
                                                </div>
                                                <div class="col-md-9">
                                                    <strong>H-ART OF AFRICA SAFARIS LTD</strong>
                                                </div>
                                            </div>      
                                        </div>          
                                    </div>      
                                </div> 
                                <div id="contact-us" class="col-md-3">
                                    <!-- Todo: Enable this once package have been added to the drop-down -->
                                    <!-- <app-request-quote-button></app-request-quote-button> -->

                                    <a class="btn_map"  href="/contact" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">Contact Us</a>

                                </div>  
                                <p class=" d-xl-block d-lg-block ">
                                    
                                </p>                           
                            </div>
                        </div>            
                    </div>			
					<!--End of row-->
				</div>
				<!-- End isotope-wrapper -->
			</div>
			<!-- End col lg 9 -->
		</div>
		<!-- End row -->

	</div>
	<!-- End container -->
</main>
<!-- End main -->

<app-footer></app-footer>

<!-- Back to top button -->
<div id="toTop"></div>



