<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/package-landing-pages/mountain1.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of 5 Days Mountain Climbing</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="./mountains">Mountain Climbing Tours</a>
				</li>
				<li>5 Days Mountain Climbing Tours</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">
				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/small/sirimon-out-naro-moro-contrast-route@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/large/sirimon-out-naro-moro-contrast-route@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/large/sirimon-out-naro-moro-contrast-route@2x-100.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route_1-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/small/sirimon-out-naro-moro-contrast-route_1@2x-100.png"
								data-medium="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route_1-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/large/sirimon-out-naro-moro-contrast-route_1@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/large/sirimon-out-naro-moro-contrast-route_1@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route_3@2x-100.png"
								data-small="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/small/sirimon-out-naro-moro-contrast-route_3@2x-100 (1).png"
								data-medium="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route_3@2x-100.png"
								data-large="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/large/sirimon-out-naro-moro-contrast-route_3@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/large/sirimon-out-naro-moro-contrast-route_3@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route_2-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/small/sirimon-out-naro-moro-contrast-route_2@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route_2-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/large/sirimon-out-naro-moro-contrast-route_2@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/large/sirimon-out-naro-moro-contrast-route_2@2x-100.jpg">
						</div>



					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route_1-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route_3@2x-100.png">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/sirimon-naro-moro-route/medium/sirimon-out-naro-moro-contrast-route_2-100.jpg">

					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-11">

						<h4> <strong>5 Days Climbing (Sirimon out Naro Moro contrast Route)</strong> </h4>
						<p>
							Want to have the experience of a life-time and enjoy the Majesty of African Safari, Climb
							Mount Kenya or lay down in the white sands of Mombasa? Just drop us a message with what you
							have in mind. We will strive get back to you ASAP.
						</p>

						<h4><strong>DETAILED ITINERARY</strong></h4>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day:1
							</span>
							<br>

							<span>
								Departure from Nairobi is at 0900 hrs to Nanyuki for dinner and overnight.
							</span>

						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day:2
							</span>
							<br>
							<span>
								After breakfast vehicle transfers to Sirimon Route, hike to Old Moses camp (3300) for
								overnight 6 to 8hrs hike.
							</span>
						</div>
						<br>

						<div>
							<span class="mountain-days-spans">
								Day 3:

							</span>
							<br>
							<span>
								Hike to Shipton’s camp (42000m) for overnight 5 to 7hrs hike.

							</span>

						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 4:
							</span>
							<br>
							<span>
								Attempt Lenana peak (4985m) at 0300 hrs and descend leisurely to meet section. Dinner
								and overnight.
							</span>
						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 5:
							</span>
							<br>
							<span>
								Descend the mountain to Naro Moru then transfer back to Nairobi.
							</span>
						</div>
						<br>
						<app-request-quote-button></app-request-quote-button>
					</div>
				</div>

			</div>
			<!--End  tour itinerary description-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End of book by phone -->
	</div>
	<!--End container -->

	<!-- End main -->


	<!--start of footer-->

	<app-footer></app-footer>

	<!--End of footer-->


	<div id="toTop"></div><!-- Back to top button -->