<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../assets/img/hart/day/nairobi/rift-valley.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of the Mt Longonot National Park Tour</h2>

				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/day-trips">Day Trip Tours</a>
				</li>
				<li>Mt Longonot National Park Tour</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->




	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">




				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/1_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/1_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/1_large.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/2_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/2_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/2_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/3_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/3_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/3_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/4_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/4_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/4_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/5_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/5_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/5_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/6_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/6_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/6_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/7_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/7_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/7_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/8_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/8_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/8_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/9_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/9_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/9_large.jpg">
						</div>
					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/1_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/2_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/3_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/4_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/5_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/6_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/7_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/8_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/9_medium.jpg">
					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-9">
						<h4> <strong>Mt Longonot National Park</strong> </h4>
						<p>
                            A day trip to Mt.Longonot is for a pure hiking for at least 5 hrs to 6 hrs from the main gate to crater 
                            Rim, Round the crater and returning back to the gate with a professional guide. The day starts in Nairobi 
                            with a pick up from the Hotel, drive via the viewpoint to see the escarpment wall, ascent and drive to 
                            Longonot Town within a less than an hour.
                        </p>
                        <p>
                            Your driver will wait you at the gate, after hiking you can drive to Lake Naivasha for Optional activity 
                            before returning back to Nairobi where you will be dropped at your Hotel.
                        </p>
					</div>
				</div>
				<app-request-quote-button></app-request-quote-button>
			</div>
			<!--End  single_tour_desc-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End row -->
	</div>
	<!--End container -->



</main>
<!-- End main -->


<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->


<div id="toTop"></div><!-- Back to top button -->