<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/package-landing-pages/leopard.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of 8 Days Turkana special</h2>
					<!-- <span>Turkana Special.</span>						 -->
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/safaris">Safaris Tours</a>
				</li>
				<li>8 Days Turkana special Tours</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->


	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">
				<div id="single_tour_feat">
					<!-- <h2>Highlights of 8 Days Turkana special
						</h2> -->
				</div>



				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/1_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/1_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/1_large.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/2_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/2_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/2_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/3_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/3_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/3_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/4_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/4_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/4_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/5_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/5_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/5_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/6_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/6_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/6_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/7_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/7_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/7_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/8_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/8_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/8_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/9_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/9_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/9_large.jpg">
						</div>
					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/1_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/2_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/3_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/4_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/5_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/6_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/7_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/8_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/9_medium.jpg">
					</div>
				</div>

				<hr>
				<!--Begining of  tour itinerary description-->
				<div class="row">

					<div class="col-lg-9">
						<h4> <strong>Turkana Special</strong> </h4>
						<p>
							Want to have the experience of a life-time and enjoy the Majesty of African Safari, Climb
							Mount Kenya or lay down in the white sands of Mombasa? Just drop us a message with what you
							have in mind. We will strive get back to you ASAP.
						</p>

						<h4><strong>DETAILED ITINERARY</strong></h4> <br>
						<h4><strong> Day 1: Nairobi - Baringo</strong></h4>
						<p>
							Leaving Nairobi for lake Baringo. Picnic enroute. On arrival at Lake Bogoria in the
							afternoon, set up camp. Dinner and overnight.
						</p>
						<h4><strong>Day 2: Baringo</strong> </h4>
						<p>After breakfast leave Baringo for Maralal. Picnic lunch enroute. A walk after lunch through
							the most colorful town, before proceeding to Baringo via Maralal, which is on the edge of
							the Great Rift Valley. Dinner and overnight at south Horr campsite.</p>

						<h4><strong>Day 3: South Horr - Lake Turkana</strong></h4>
						<p>After breakfast leave south Horr for Lake Turkana arriving in time for lunch at El Molo
							campsite, which is on the shore of Lake Turkana. Rest of the day at leisure by the jade sea.
							Dinner and overnight.</p>
						<br>

						<h4><strong>Day 4: Lake Turkana</strong></h4>
						<p>After breakfast visit the El Molo village. Lunch at campsite. Afternoon at leisure, fishing
							or swimming if the crocodiles permit. Meals and overnight at the campsite.</p>
						<br>

						<h4><strong>Day 5: Turkana - Maralal</strong></h4>
						<p>After breakfast leave Turkana for Maralal. Lunch enroute, dinner and overnight at Maralal.
						</p>
						<br>
						<h4><strong>Day 6: Maralal - Samburu</strong></h4>
						<p>After breakfast leave Maralal for Samburu game reserve. On arrival proceed to the campsite
							and thereafter proceed for a late evening game drive. Return to the campsite for dinner and
							overnight.</p>
						<br>
						<h4><strong>Day 7: Samburu</strong></h4>
						<p>Early morning pre breakfast game drive. Return to the camp for breakfast, 1000 hrs. After
							breakfast further game drive. Lunch 1600 hrs, after lunch a third game drive. Dinner and
							overnight at the campsite.</p>
						<br>
						<h4><strong>Day 8: Samburu - Mt Kenya - Nairobi</strong></h4>
						<p>After breakfast leave Samburu for Naro Moru river lodge. Picnic lunch enroute. Drop off
							clients who want to remain behind for climbing Mt Kenya. After lunch leave for Nairobi.</p>
						<app-request-quote-button></app-request-quote-button>
					</div>
				</div>

			</div>
			<!--End of tour itinerary description-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>

	</div>

</main>
<!-- End main -->


<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->


<div id="toTop"></div><!-- Back to top button -->