<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../../assets/img/hart/beach/neptunebeach/neptune_beach_resort.jpg"
    data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="page-header">Highlights of The Serena Beach Resort & Spa Tour
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container"> <!-- This hotel isn't from the coastal region we need to sort it out on it's own category-->
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="/beaches">Beach Tours</a>
                </li>
                <li>The Serena Beach Resort & Spa Tour</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8" id="single_tour_desc">

                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_1-100.jpg"
                                data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/small/Neptune-Beach-Resort_1@0.5x-100.jpg"
                                data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_1-100.jpg"
                                data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort_1@2x-100.jpg"
                                data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort_1@2x-100.jpg">
                        </div>
                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_2-100.jpg"
                                data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/small/Neptune-Beach-Resort_2@0.5x-100.jpg"
                                data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_2-100.jpg"
                                data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort_2@2x-100.jpg"
                                data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort_2@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_3-100.jpg"
                                data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/small/Neptune-Beach-Resort_3@0.5x-100.jpg"
                                data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_3-100.jpg"
                                data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort_3@2x-100.jpg"
                                data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort_3@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_4-100.jpg"
                                data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/small/Neptune-Beach-Resort_4@0.5x-100.jpg"
                                data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_4-100.jpg"
                                data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort_4@2x-100.jpg"
                                data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort_4@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort-100.jpg"
                                data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/small/Neptune-Beach-Resort@0.5x-100.jpg"
                                data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort-100.jpg"
                                data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort@2x-100.jpg"
                                data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/large/Neptune-Beach-Resort@2x-100.jpg">
                        </div>


                    </div>
                    <div class="sp-thumbnails">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_1-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_2-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_3-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort_4-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/Neptune-Beach-Resort/medium/Neptune-Beach-Resort-100.jpg">

                    </div>
                </div>

                <hr>

                <div class="row">

                    <div class="col-lg-9">
                        
                            <h4 class="package-content"> <strong>THE <span>SERENA</span> BEACH <span>RESORT</span> & <span>SPA</span></strong></h4>
                        
                        <div class="package-content">
                            <div class="package-content">
                                Overlooking the Indian Ocean to the north of Mombasa town, the Serena Beach Resort & Spa is a gorgeous resort, replicating 
                                the winding lanes and colourful market places of a traditional 13th century Swahili town. 
                            </div>
                            <h4 class="package-content"><strong>SUMMARY</strong></h4>

                            <div class="package-content">
                                You can dine beneath the stars at the lavishly appointed Fountain Restaurant before enjoying some lively evening entertainment, 
                                including floor shows, live music and a disco.
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 amenities-area">
                        <h4 class="side-content package-content"><strong>Amenities</strong></h4>
                        <ul class="amenity-list">
                            <li><i class="fas fa-cocktail"></i> Bar</li>
                            <li><i class="fas fa-spa"></i> Spa</li>
                            <li><i class="fas fa-swimming-pool"></i> Swimming</li>
                            <li><i class="fas fa-baby"></i> Babysitting</li>
                            <li><i class="fas fa-hotel"></i> Room Service</li>
                            <li><i class="fas fa-theater-masks"></i> Entertainment</li>
                            <li><i class='fas fa-running'></i> Fitness/Gym</li>
                            <li><i class="fas fa-wifi"></i> Wifi</li>
                            <li> <i class="fas fa-umbrella-beach"></i> Beach</li>
                            <li><i class="icon-food"></i>   Restaurant</li>
                        </ul>
                    </div>
                </div>
                <div class="package-content">
                    <app-request-quote-button></app-request-quote-button>
                </div>


            </div>
            <!--End  tour itinerary description-->

            <aside class="col-lg-4">
                <app-book-by-phone-right></app-book-by-phone-right>
            </aside>
        </div>
        <!--End of book by phone -->
    </div>
    <!--End container -->

    <!-- End main -->

    <!--start of footer-->

    <app-footer></app-footer>

    <!--End of footer-->

    <div id="toTop"></div><!-- Back to top button -->