<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/package-landing-pages/kilimanjaro-elephant2.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of 4 Days Mt Elgon Excursion</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index">Home</a>
				</li>
				<li><a href="./mountains">Mountain Climbing Tours</a>
				</li>
				<li>4 Days Mt Elgon Excursion</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->



	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">




				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_2-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/small/-mountain-climbing-sirimon-route-direct_2@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_2-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_2@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_2@2x-100.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_1-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/small/-mountain-climbing-sirimon-route-direct_1@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_1-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_1@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_1@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_3-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/small/-mountain-climbing-sirimon-route-direct_3@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_3-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_3@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_3@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_4-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/small/-mountain-climbing-sirimon-route-direct_4@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_4-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_4@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_4@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_5-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/small/-mountain-climbing-sirimon-route-direct_5@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_5-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_5@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct_5@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/small/-mountain-climbing-sirimon-route-direct@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/large/-mountain-climbing-sirimon-route-direct@2x-100.jpg">
						</div>


					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_2-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_1-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_3-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_4-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct_5-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/mountain-climbing-sirimon-route-direct/medium/-mountain-climbing-sirimon-route-direct-100.jpg">

					</div>
				</div>
				<hr>

				<div class="row">

					<div class="col-lg-11">

						<h4> <strong>4 Days Mt. Elgon Excursion</strong> </h4>
						<p>
                            The 4 Days Mount Elgon Excursion Safari will make you able to Hike 
                            the Elgon Mountain and enjoy splendid views, from Sipi waterfalls, and the 
                            caves, among others.
						</p>

						<h4><strong>DETAILED ITINERARY</strong></h4>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day:1 Nairobi - Mt Elgon
							</span>
							<br>

							<span>
                                Depart from Nairobi for Mount Elgon with your driver guide.Have a stopover
                                in Mbale for lunch. Upon arrival you will take a walk to and around the Sipi
                                falls which are regarded as Ugandas romantic falls. Return, have diner and
                                overnight. Accommodation options; Sipi Falls Rest Camp or Sipi River Lodge
							</span>

						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day:2 Forest discovery at Kapkwai Trail
							</span>
							<br>
							<span>
                                After breakfast, leave the lodge with packed lunch as you embark on touring
                                the forest. Visit Kapkwai at the exploration centre and there you could decide
                                to go through the Mountain Bamboo trail which is 7km long, so take a loop through
                                as you will be able to visit the gorge and its southern edge and also the gentle
                                river, it is truly a great experience. Return back later and have Dinner and Overnight.
                                Accommodation options; Sipi Falls Rest Camp or Sipi River Lodge.
							</span>
						</div>
						<br>

						<div>
							<span class="mountain-days-spans">
								Day 3: Sasa Trail

							</span>
							<br>
							<span>
                                After breakfast, proceed for a whole day of hiking through the Sasa trail, here you 
                                will be able to clearly see the moorland as well as the amazing landscapes from a 
                                higher altitude. Enjoy your packed lunch and return back for dinner and overnight.

							</span>

						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 4:
							</span>
							<br>
							<span>
                                Nature Walk & Return Trip to Nairobi
							</span>
						</div>
						<br>
						<app-request-quote-button></app-request-quote-button>

					</div>
				</div>

			</div>
			<!--End  tour itinerary description-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End of book by phone -->
	</div>
	<!--End container -->

	<!-- End main -->


	<!--start of footer-->

	<app-footer></app-footer>

	<!--End of footer-->


	<div id="toTop"></div><!-- Back to top button -->