<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../assets/img/package-landing-pages/scenic-view.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Our Staging Page</h1>
            <p>NOT TO BE DEPLOYED</p>
        </div>
    </div>
</section>
<!-- End Section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->

    <div class="container margin_60">

        <div class="main_title">
            <h2>Packages in <span>Dev</span></h2>
        </div>

        <!-- End row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="container-height">
                    <h3>Packages</h3>
                    <ul>
                        <li class="list-item"><a href="/domestic/kicc-and-town-center">kicc-and-town-center</a></li>
                        <li class="list-item"><a
                                href="/domestic/haller-park-and-nguuni-wildlife-sanctuary">haller-park-and-nguuni-wildlife-sanctuary</a>
                        </li>
                        <li class="list-item"><a href="/domestic/hells-gate-national-park">hells-gate-national-park</a>
                        </li>
                        <li class="list-item"><a
                                href="/domestic/lake-nakuru-national-park">lake-nakuru-national-park</a></li>
                        <li class="list-item"><a
                                href="/domestic/lake-bogoria-national-reserve">lake-bogoria-national-reserve</a></li>
                        <li class="list-item"><a href="/domestic/fourteen-falls">fourteen-falls</a></li>
                        <li class="list-item"><a href="aberdare-county-club">Aberdare County Club</a></li>
                        <li class="list-item"><a href="mara-leisure-camp">Mara Leisure Camp</a></li>
                        <li class="list-item"><a href="milele-resort-nakuru">Milele Resort Nakuru</a></li>
                        <li class="list-item"><a href="the-winston-hotel">The Winston Hotel</a></li>
                        <li class="list-item"><a href="/domestic/bush-safaris">Bush Safaris</a></li>
                        <li class="list-item"><a href="getaway-two-nights-mombasa-north-coast">2 Nights Mombasa North
                                Coast Getaway</a></li>
                        <li class="list-item"><a href="safari-bush-and-beach-family">12 Days Bush and Beach Safari </a>
                        </li>
                        <li class="list-item"><a
                                href="/domestic/fort-jesus-old-town-elephant-tusks-and-mamba-village-center">Mambe
                                village center</a></li>
                        <li class="list-item"><a href="turtle-bay">Turtle Bay Club</a></li>
                        <li class="list-item"><a href="serena-hotels">The Serena Hotels</a></li>
                        <li class="list-item"><a href="beach-serena-resort-and-spa">Serena Beach Resort & Spa</a></li>
                    </ul>
                    <h3>Campaigns</h3>
                    <ul>
                        <li class="list-item"><a href="/longonot">Mt Longonot Hike</a></li>
                        <li class="list-item"><a href="/diani">Diani X Wasini Island</a></li>
                        <li class="list-item"><a href="/mombasa">Mombasa Beach Daze</a></li>
                        <li class="list-item"><a href="/maasai-mara">Maasai Mara Overland</a></li>
                        <li class="list-item"><a href="/nairobi-national-park-and-kitengela-glass-adventure">Nairobi
                                National Park And Kitengela Glass Adventure</a></li>
                        <li class="list-item"><a href="/lake-naivasha-oloiden-olkaria-spa-hells-gate-crater-lake">2 Days
                                1 Night Lake Naivasha Oloiden Olkaria Spa Hells Gate Crater Lake</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>

<!-- Back to top button -->
<div id="toTop"></div>