<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/hart/beach/prideinn/prideinn_express_resort.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of the 12 Days of Bliss at our Kenyan Beach and Wildlife Tour
					</h2>


				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/beaches">Beach Tours</a>
				</li>
				<li>12 Days of Bliss at our Kenyan Beach and Wildlife Tour</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">
				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/small/prideinn-express-beach@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach@2x-100.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_1-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/small/prideinn-express-beach_1@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_1-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_1@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_1@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_2-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/small/prideinn-express-beach_2@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_2-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_2@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_2@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_3-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/small/prideinn-express-beach_3@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_3-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_3@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_3@2x-100.jpg">
						</div>

						
					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_1-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_2-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_3-100.jpg">
						
					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-9">

						<div class=" beach-sub-header-cont">
							<h4 class="beach-page-headers"> <strong>12 Days of Bliss at our Kenyan Beach and Wildlife Tour</strong> </h4>
						</div>
						<div class="main-content-container">
							<p class="beach-paragraphs">
                                At Hart of Africa Safaris, we pride ourselves on offering guidance when it comes to safaris. Our travel packages
                                 are not cast in stone. We have flexible tailor made arrangements for you so that you can maximally enjoy your
                                  stay here. We believe in serving you to your convenience and will go out of our way to take you to places that
                                   interest you the most.
							</p>

							<h4><strong>DETAILED ITINERARY</strong></h4>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 1: Karibu Kenya (Welcome to Kenya)
							</span>
							<br>

							<span>
                                Pick up from Airport/Hotel by our cheerful agents
                                They are multilingual hence no need for translation services.
							</span>

						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 2:  At the Beautiful Diani Beach
							</span>
							<br>
							<span>
                                After breakfast, our proffesional guide will brief you on the activities we have planned for the day. We will start with a visit to the 
                                local market at Diani Beach shopping centre. Here you will get to purchase the brightly colored and comfortable wear for your stay here. 
                                You will have 6 more days here, to interact with the locals and at least get to learn some Swahili words like,’Jambo’ which is a greeting 
                                that translates to ‘Hello’ in English. After lunch, You get have fun exploring the beach with a marine boat. We will be taking a tour of
                                 Wasini Island and exploring the amazing coral reefs, as well as Kisite Mpunguti, Marine Park for some snorkeling.
							</span>
						</div>
						<br>

						<div>
							<span class="mountain-days-spans">
								Day 3: Sky diving
							</span>
							<br>
							<span>
                                Nothing on earth can beat this experience. Skydiving in Diani allows you to experience the thrill of free fall and a magnificent 
                                canopy flight over the coastline without any significant training.We will be skydiving and having full fun learning to do this 
                                perfectly, our experienced guides will be at hand all the time to show you the tricks to master this. In the afternoon, take 
                                pictures while enjoying an epic camel ride in the sunny beach.

							</span>

						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 4: Exploring Mombasa Old Town
							</span>
							<br>
							<span>
                                Travel to Lamu after breakfast. We stroll through the ancient ruins of Gede and watch the beautiful old houses that were 
                                inhabited by the early Portuguese, Arabs and Omani who lived here. In the afternoon, a visit to the Famous Fort Jesus will 
                                take you back to the 15th Century when the Portuguese constructed this fort. We get to see the ancient ceramics and trading 
                                goods of the old coastal inhabitants before heading back to our hotels.  
							</span>
						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 5: Let’s Talk Wildlife
							</span>
							<br>
							<span>
                                After breakfast, we head to Ukunda for a different kind of adventure. The snake park is an interesting place to visit for all 
                                things crawling. Here we meet many species of snakes and get to conquer our fear of these animals by holding the more docile 
                                ones. Later we will visit Haller Park for a chance to say hi to the graceful giraffes and slow turtles. We will also enjoy 
                                having a picnic here, get to ride bikes and interact with other visitors. For some nightlife at the beach, a visit to the 
                                forty thieves club will help you dance the night away.
							</span>
						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 6: Let’s Play
							</span>
							<br>
							<span>
                                The will be the last day and will be spent near ‘home’. There are various games that we can play on 
								the beach including volleyball, netball and beach soccer. We can also try some golf. Water Skiing 
								and jet skiing will also 
								prove to be very interesting. A walk along the beach will provide ample relaxation time.  Get to enjoy 
								a swim in the afternoon and lastly
								 head back to the hotel for checking out and transfer to the airport.
							</span>
						</div>
							<div class="beach-paragraphs">
								<app-request-quote-button></app-request-quote-button>
							</div>
						</div>
					</div>
				</div>
				

			</div>
			<!--End  tour itinerary description-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End of book by phone -->
	</div>
	<!--End container -->

	<!-- End main -->

	<!--start of footer-->

	<app-footer></app-footer>

	<!--End of footer-->

	<div id="toTop"></div><!-- Back to top button -->