<div class="box_style_2">
    <i class="icon_set_1_icon-57"></i>
    <h4>Need <span>Help?</span></h4>
    <a href="tel://004542344599" class="phone need_help_left">+254 20 8000 243</a>
    <a href="tel://00254721913293" class="phone need_help_left">+254 721 913 293</a>
    <small>Monday to Saturday 9.00am - 8.00pm</small>
</div>
<p class=" d-xl-block d-lg-block ">
    <a class="btn_map"  href="/contact" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">Contact Us</a>
</p>

