<section class="parallax-window" data-parallax="scroll"
     data-image-src="../../../../../assets/img/package-landing-pages/lion-and-cab.jpg" data-natural-width="1400"
     data-natural-height="470">
     <div class="parallax-content-2">
          <div class="container">
               <div class="row">
                    <div class="col-md-8">
                         <h2 class="page-header tour_titles">
                              Highlights of The Reconnect with Nature 7 days & 6 nights

                         </h2>
                         <!-- <span>Hemmingway Trail</span> -->
                         <!-- <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small></span> -->
                    </div>
                    <div class="col-md-4">
                         <div id="price_single_main">
                              <!-- from/per person <span><sup>$</sup>52</span> -->
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- End section -->

<main>
     <div id="position">
          <div class="container">
               <ul>
                    <li>
                         <a href="index.html">Home</a>
                    </li>
                    <li>
                         <a href="/safaris">Safaris Tours</a>
                    </li>
                    <li>Reconnect with Nature Seven Days And Six Nights Tour</li>
               </ul>
          </div>
     </div>
     <!-- End Position -->

     <div class="container margin_60">
          <div class="row">
               <div class="col-lg-8" id="single_tour_desc">

                    <div id="Img_carousel" class="slider-pro">
                         <div class="sp-slides">

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/small/Reconnect with Nature_1500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_11000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_12000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_12000x1333.jpg">
                              </div>
                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_31000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/small/Reconnect with Nature_3500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_31000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_32000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_32000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_41000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/small/Reconnect with Nature_4500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_41000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_42000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_42000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_51000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/small/Reconnect with Nature_5500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_51000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_52000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_52000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_71000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/small/Reconnect with Nature_7500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_71000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_72000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_72000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_81000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/small/Reconnect with Nature_8500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_81000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_82000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_82000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_91000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/small/Reconnect with Nature_9500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_91000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_92000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_92000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_101000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/small/Reconnect with Nature_10500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_101000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_102000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_102000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_111000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/small/Reconnect with Nature_11500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_111000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_112000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/large/Reconnect with Nature_112000x1333.jpg">
                              </div>
                         </div>
                         <div class="sp-thumbnails">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_11000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_31000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_41000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_51000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_71000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_81000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_91000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_101000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/reconnect-with-nature/medium/Reconnect with Nature_111000x667.jpg">
                         </div>
                    </div>

                    <hr>
                    <div class="row">

                         <div class="col-lg-9">
                              <h4> <strong>Reconnect with Nature Seven Days And Six Nights</strong> </h4>
                              <p>
                                   Stay in the wild filled with peace and tranquility in the best parks Kenya has to
                                   offer.
                                   Like Aberdare National Park, Samburu Game Reserve, Lake Nakuru National Park, and
                                   Maasai
                                   Mara National Reserve.
                              </p>
                              <h4><strong>DETAILED ITINERARY</strong></h4> <br>
                              <h4><strong> Day 1: Nairobi- Samburu Game Reserve</strong></h4>
                              <p>
                                   An early morning drive to Samburu Game Reserve. Picnic lunch en-route and afternoon
                                   or evening game drive. Samburu Game Reserve stands as one of the most
                                   beautiful Kenya Parks in Northern Circuit. It holds the most indigenous wildlife as
                                   well as the home of African Elephants and beautiful species of Zebras
                                   and the Masai Giraffes. Dinner and overnight at campsite or lodge.
                              </p>
                              <h4><strong>Day 2: Samburu Game Reserve </strong> </h4>
                              <p>
                                   The whole day will be spent exploring this amazing game reserve, it gives you the
                                   refreshment of your mind as the park is not populated and not many people
                                   visits here, we have concentration of the Its home to the big five, Elephant, Lion,
                                   Rhino, Leopard, Buffalo, Gerenuk, Reticulated Giraffe, Somali Ostrich,
                                   Gravy Zebra, Besia Oryx, Endangered Wild Dog as well as Pun cake Tortoise - also
                                   endangered. There are over 450 species of birds identified and aquatic
                                   species in the Waso Nyiro River including, vultures, kingfishers, marabous,
                                   bateleurs, guinea fowl, Somali ostriches and others. The whole day will be spent
                                   exploring the park for the whole day game drive. Dinner and overnight at campsite or
                                   lodge.
                              </p>
                              <h4><strong>Day 3: Samburu Game Reserve-Aberdare National Park</strong> </h4>
                              <p>
                                   An early morning transfer to Aberdare National Park. The drive is scenic via the
                                   central Kenya highlands with stops to view tea and coffee plantations.
                                   There shall be a further stop to see and experience the largest open-air market in
                                   East Africa at Karatina. Aberdare National Park is home to elephants,
                                   black rhinos, leopards, spotted hyenas, olive baboons, black and white colobus
                                   monkeys, buffalos, warthogs and bushbucks among others. Rare sightings
                                   include those of the Giant Forest hog, bongo, golden cat, serval cat, African wild
                                   cat, African civet cat and the blue duiker. Dinner and overnight at
                                   campsite or lodge.
                              </p>
                              <h4><strong>Day 4: Aberdare National Park- Lake Nakuru National Park</strong> </h4>
                              <p>
                                   After breakfast, we depart to Lake Nakuru National Park. Across the equator,
                                   southwards of Bogoria, lies the rift valleys most famous lake Nakuru.
                                   Known all over the world for its flamingoes, it's alkaline and is recognized as being
                                   one of the natural wonders of the world. Lake Nakuru is now a
                                   rhino sanctuary, harbouring a population of over 40 black and over 60 white rhinos,
                                   but the flamingos, of course, have always been the main attraction.
                                   At times there may be almost 2 million flamingos in the residence, forming a
                                   stunningly beautiful deep pink band around the edge of the lake shore.
                                   Arrive in time for lunch then have an afternoon game drive. Dinner and overnight at
                                   campsite or lodge.
                              </p>
                              <h4><strong>Day 5: Lake Nakuru National Park- Maasai Mara National Reserve </strong> </h4>
                              <p>
                                   An early morning drive to Maasai Mara National Reserve, it holds on as one of the few
                                   places left on earth where wildlife still lives comparatively
                                   undisturbed, in the numbers that once roamed the plains and forests of Africa. As the
                                   northern tip of the vast Serengeti ecosystem, the Mara hosts
                                   the spectacular seasonal migration of many thousands of Wildebeest, Zebras and
                                   attendant predators. Arrive in time for lunch then have an afternoon
                                   game drive. Dinner and overnight at campsite or lodge.

                              </p>
                              <h4><strong>Day 6: Maasai Mara National Reserve </strong> </h4>
                              <p>
                                   After breakfast, we have a full day game drive, with packed lunch provided. The
                                   reserve is well known for its black-manned lion, as well as its
                                   abundant resident wildlife and its one of the few places where it's possible to see
                                   the big five during a morning's game drive. Many of the cheetahs
                                   are so tame they seek shelter from the hot sun under one's vehicle and several even
                                   climb onto the roof to get a better view of prospective prey.
                                   For the bird enthusiast, almost 500 species have been recorded: among these 16
                                   species of eagle, plus many hawks and falcons, 6 species of vultures,
                                   8 species of storks 4 of bustard (including the Kori bustard, the world's heaviest
                                   flying bird), and 9 species of sunbirds. Dinner and overnight at
                                   campsite or lodge.
                              </p>
                              <h4><strong>Day 7: : Maasai Mara National Reserve-Nairobi </strong> </h4>
                              <p>
                                   Morning game drive in Mara and late departure in the morning to Nairobi, arriving at
                                   about 5 pm. Lunch en route.
                              </p>

                              <app-request-quote-button></app-request-quote-button>

                         </div>
                    </div>
               </div>
               <!--End  tour itinerary description-->

               <aside class="col-lg-4">
                    <app-book-by-phone-right></app-book-by-phone-right>
               </aside>
          </div>
          <!--End row -->
     </div>
     <!--End container -->



</main>
<!-- End main -->
<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->
<div id="toTop"></div><!-- Back to top button -->