<aside class="col-lg-4">
    <div class="box_style_1 expose">
        <a class="btn_full" href="/contact">Confirm Attendance</a>
    </div>
    <div class="box_style_4">
        <i class="icon_set_1_icon-90"></i>
        <h4><span>Book</span> by phone</h4>
        <a href="tel://254208000243" class="phone need_help_right">+254 20 8000 243</a>
        <a href="tel://00254721913293" class="phone need_help_right">+254 721 913 293</a>
        <small>Monday to Saturday 7.00am - 8.00pm</small>
    </div>
</aside>