<section class="parallax-window" data-parallax="scroll" data-image-src="../../../../../assets/img/hart/day/lions_and_cabs.jpg"
	data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1>Tour Info</h1>
			<p>Hart of Africa Safaris is dedicated to creating world class tour experiences that are safe and memorable to all.</p>
		</div>
	</div>
</section>
<!-- End Section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="#">Home</a>
				</li>
				
				<li>Tours Info</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="container margin_60">


		<div class="main_title">
			<h2>Some <span>Tour </span>Information for our Customers</h2>
			<p>
				Enjoy the majesty of Africa with Hart of Africa Safaris.
			</p>
		</div>
		<hr>
		<div class="row justify-content-between">
			<div class="col-lg-4 col-md-5">
				<img src="../../../../../../assets/img/packages-collection/the-great-mara-and-amboseli/Great-lakes_2800x533.jpg" alt="Image" class="img-fluid styled">
			</div>
			<div class="col-lg-7 col-md-7">
				<a href="/domestic/safaris">
					<h3><strong>Safari <span>Tours</span></strong></h3>
				</a>
				<p>
					Here at H-ART OF AFRICA SAFARIS, we pride ourselves with the ability to create the best safari
					itinerary for sizeable groups or small private groups. The private groups enjoy traveling alone, and
					it may be an individual or a family. Although the package price may vary the magic of the safari is
					worth it. The large group gets to enjoy the company of like-minded travelers, and the price is lower
					due to cost sharing.
				</p>
				<p>
					On the issue of the price, we customize the packages upon requests to fit your needs. You may prefer
					a private safari but opt for budget public campsites. Or group safari couples with luxury
					accommodations. To such a degree, our level of customizability is unmatched in the current industry.
					We have a vast knowledge of the areas we take you, therefore we present you with the best options
					for the area, ensuring a luxury experience even in the public campsites.
				</p>
				<p>
					We as H-ART OF AFRICA SAFARIS make sure all of our trips are classy and luxurious offering best
					value for your money on all of our packages listed below. We also encourage you to contacts us for
					the best tailor-made packages within your budgets and time frame. We in addition, offer other free
					services like recommending the best safari and camping gear. We also plan for accommodations before
					and after the safari upon your request.
				</p>					
				<a href="/domestic/national-park-tour">
					<h4><strong>National Parks</strong></h4>
				</a>
				<p>10 to 11 days customizable safari through Kenya’s best National Parks and Reservations. That is Lake
					Nakuru National Park, Maasai Mara National Reserve, Serengeti National Park, Ngorongoro Crater, Lake
					Manyara National Park, and Amboseli National Park among others.</p>				
				<a href="/domestic/safari-home-of-the-big-nine-days-and-eight-nights">
					<h4><strong>Home of the Big Five</strong></h4>
				</a>
				<p>Tailored 9 days of viewing the big five in their typical habitats in the biggest parks. Tsavo West
					National park, Amboseli National Park, Lake Naivasha, Maasai Mara National Reserve, and Lake Nakuru
					National Park.</p>				
				<a href="/domestic/safari-breathtaking-wonders-of-kenya-eight-days-and-seven-nights">
					<h4><strong>Breathtaking wonders of Kenya</strong></h4>
				</a>
				<p>8 days of scenic and magical, and filled with interesting wildlife in Maasai Mara National Park,
					Serengeti National Park, and Ngorongoro</p>				
				<a href="/domestic/safari-reconnect-with-nature-seven-days-and-six-nights">
					<h4><strong>Reconnect with Nature</strong></h4>
				</a>
				<p>Stay in the wild filled with peace and tranquility in the best parks Kenya has to offer. Like
					Aberdare National Park, Samburu Game Reserve, Lake Nakuru National Park, and Maasai Mara National
					Reserve.</p>				
				<a href="/domestic/safari-great-lakes-six-days-and-five-nights">
					<h4><strong>Great Lakes</strong></h4>
				</a>
				<p>Experience the beautiful lakes and indigenous animals in their ecosystems in Lake Bogoria National
					Reserve, Lake Nakuru National Park and many more.</p>				
				<a href="/domestic/safari-the-great-mara-and-amboseli-six-days-and-five-nights">
					<h4><strong>The Great Mara and Amboseli</strong></h4>
				</a>
				<p>Enjoy the majesty of these two parks and the mind-bending number of wildlife they have to offer for 6
					days and 5 nights.</p>				
				<a href="/domestic/safari-land-giants-five-days-and-four-nights">
					<h4><strong>Land Giants</strong></h4>
				</a>
				<p>Experience 5 days and 4 nights of the beautiful giant land mammals and their enormous herds in these
					two parks, Tsavo West National Park and Amboseli National Park.</p>				
				<a href="/domestic/safari-magnificent-excursions-five-days-and-four-nights">
					<h4><strong>Magnificent Excursions</strong> </h4>
				</a>
				<p>Trek and hike in these parks with the animals and feel nature embracing you with the magnificent
					beauty. Hell’s Gate National Park, Lake Nakuru National Park and Maasai Mara National Reserve.</p>
				<p class="add_bottom_30">
					<a href="/safaris" class="btn_1 medium"><i class="icon-eye-7"></i>View all safari tours</a>
				</p>				
			</div>
		</div>
		<!-- End row -->
		<hr>
		<div class="row justify-content-between">
			<div class="col-lg-4 col-md-5">
				<img src="../../../../../../assets/img/packages-collection/mountain-climbing/-mountain-climbing-sirimon-route-direct_2@800x-100.jpg" alt="Image" class="img-fluid styled">
			</div>
			<div class="col-lg-7 col-md-7">				
				<a href="/domestic/mountains">
					<h3><strong>Mountain <span>Tours</span></strong></h3>
				</a>
				<p>
					Mt Kenya is the second highest mountain Africa and it is one of the most beautiful. Its ecosystem
					supports a
					vast array of animals and people within its region of eastern and central Kenya. The mountain stands
					tall at 5,199
					meters and provides water for over 50% of Kenyans with its mineral-rich water sources. The sheer
					size of the
					mountain makes it a delightful challenge to tackle with different points of scaling it. It also
					offers diverse
					climates and glorious views in those different scaling points that up to the level of difficulty or
					lowers it.
				</p>
				<p>
					We as H-ART OF AFRICA SAFARIS LTD offer the best and most competitive packages in the market. We
					introduce
					our clients to little known and magnificent routes like the Kirinyaga route that is covered with a
					beautiful
					forest, bamboo, and shrubs. But we also offer packages with the other routes and their advantages
					too. H-ART OF
					AFRICA SAFARIS LTD ensures you are very comfortable on the trek and we also assist you by
					recommending the best gear
					for scaling the mountain. We also customize our packages to suit you our client.
				</p>				
				<a href="">
					<h4><strong>Kirinyaga Route</strong></h4>
				</a>
				<p>
					The trek begins from the prestigious castle lodge where the current Queen of England stayed in her
					visit to Kenya.
					It is 6 days long walk up the mountain covered with amazing vegetation and wildlife. The landscape
					is unrivalled and
					the route is very beautiful.
				</p>				
				<a href="/domestic/six-days-mountain-climbing-chogoria-easy-pace">
					<h4><strong>Chogoria Rout</strong></h4>
				</a>
				<p>It is in the neighboring county from the Kirinyaga route and it is considered to be very scenic and
					rewarding due to
					its challenging climb. It takes 5 to 6 days.</p>				
				<a href="/domestic/five-days-mountain-climbing-sirimon-out-naro-moro-contrast-route">
					<h4><strong>Naro Moru Route</strong></h4>
				</a>
				<p>
					It is the shortest and close to the top, is covered with stunning glacial valleys. H-ART OF AFRICA
					SAFARIS LTD offers
					a package of 4 to 5 days.
				</p>				
				<a href="/domestic/four-days-mountain-climbing-sirimon-route-direct">
					<h4><strong>Sirimon Route</strong></h4>
				</a>
				<p>This route is less crowded and it is another that is rarely used but, offers magnificent scenes
					dotted with stunning
					wildlife. It takes 5 to 6 days.</p>
				<p class="add_bottom_30">
					<a href="/mountains" class="btn_1 medium"><i class="icon-eye-7"></i>View all mountain
						tours</a>
				</p>				
			</div>
		</div>
		<!-- End row -->
		<!-- End row -->
		<hr>

		<div class="row justify-content-between">
			<div class="col-lg-4 col-md-5">
				<img src="../../../../../../assets/img/packages-collection/beaches/leopard-beach_2@800x-100.jpg"  alt="Image" class="img-fluid styled">
			</div>
			<div class="col-lg-7 col-md-7">
				<a href="/domestic/beaches">
					<h3><strong>Beach <span>Tours</span></strong></h3>
				</a>				
				<p>
					H-ART OF AFRICA SAFARIS LTD presents to you Africa’s most beautiful beaches and coastline. Mombasa
					and Diani
					beaches attract people from all over the world with their crystalline turquoise waters and pearl
					white sands.
					Our coast offers the most dynamic and flexible entertainment tastes. From the laid back quiet sunny
					beach to the
					riveting night life filled with amazing parting, casino and dance clubs. Or just a fulfilling family
					fun day with,
					movies at the cinema, bowling or carnivore parks. Kenya’s coast leaves a lasting memory for many
					years to come.
					Therefore H-ART OF AFRICA SAFARIS LTD delivers only best packages the gives you value for your
					money.
				</p>
				<p class="add_bottom_30">
					<a href="/domestic/beaches" class="btn_1 medium"><i class="icon-eye-7"></i>View all beach tours</a>
				</p>
			</div>
		</div>
		<!-- End row -->
		<hr>
		<div class="row justify-content-between">
			<div class="col-lg-4 col-md-5">
				<img src="../../../../../../assets/img/packages-collection/nairobi-national-park/domestic-national-park-tour_4@800x-100.jpg" alt="Image" class="img-fluid styled">
			</div>
			<div class="col-lg-7 col-md-7">
				
				<a href="/domestic/day-trips">
					<h4><strong>Day Trip <span>Tours</span></strong></h4>
				</a>
				<p>
					Nairobi is popular for its numerous attractions and has a number of diverse attractions of interest
					to
					visitors. The following are some of the popular ones. There are also a number of short day trips
					outside
					nairobi appropriate for those who want to briefly see attractions outside Nairobi and are on a tight
					schedule.
				</p>
				<div class="row "style="justify-content: space-between;">
					<div class="col-m-6" >
						<h6>What's Included</h6>
						<ul>
							<li>Park fees</li>
							<li>All activities</li>
							<li>A professional driver/guide</li>
							<li>All transportation</li>
							<li>All Taxes and VAT</li>
							<li>All transfers</li>
						</ul>
						
					</div>
					<div class="col-m-6">
						<h6>Not Included</h6>
						<ul>
							<li>International flights</li>
							<li>Additional accommodation</li>
							<li>Tips</li>
							<li>Personal items</li>
							<li>Government imposed taxes / park fees</li>
						</ul>
						
					</div>
				</div>
				
				
				<p class="add_bottom_30">
					<a href="/domestic/day-trips" class="btn_1 medium"><i class="icon-eye-7"></i>View all day trip tours</a>
				</p>				
			</div>
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</main>
<!-- End main -->

<app-footer></app-footer>

<div id="toTop"></div>