<section class="parallax-window" data-parallax="scroll"
     data-image-src="../../../../../assets/img/package-landing-pages/lion-and-cab.jpg" data-natural-width="1400"
     data-natural-height="470">
     <div class="parallax-content-2">
          <div class="container">
               <div class="row">
                    <div class="col-md-8">
                         <h2 class="page-header tour_titles">
                              Highlights of The Magnificent Excursions 5 days & 4 nights
                         </h2>
                         <!-- <span>Hemmingway Trail</span> -->
                         <!-- <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small></span> -->
                    </div>
                    <div class="col-md-4">
                         <div id="price_single_main">
                              <!-- from/per person <span><sup>$</sup>52</span> -->
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- End section -->

<main>
     <div id="position">
          <div class="container">
               <ul>
                    <li>
                         <a href="index.html">Home</a>
                    </li>
                    <li>
                         <a href="/safaris">Safaris Tours</a>
                    </li>
                    <li>The Magnificent Excursions 5 days & 4 nights Tour</li>
               </ul>
          </div>
     </div>
     <!-- End Position -->

     <div class="container margin_60">
          <div class="row">
               <div class="col-lg-8" id="single_tour_desc">

                    <div id="Img_carousel" class="slider-pro">
                         <div class="sp-slides">

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/Great-lakes_21000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/magnificent-excursions/small/Great-lakes_2500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/Great-lakes_21000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/Great-lakes_22000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/Great-lakes_22000x1333.jpg">
                                   <!-- Test -->
                              </div>
                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_21000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/magnificent-excursions/small/The Great Mara and Amboseli_2500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_21000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_22000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_22000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_71000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/magnificent-excursions/small/The Great Mara and Amboseli_7500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_71000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_72000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_72000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_81000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/magnificent-excursions/small/The Great Mara and Amboseli_8500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_81000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_82000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_82000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_41000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/magnificent-excursions/small/Thumb-Nail_4500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_41000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/Thumb-Nail_42000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/Thumb-Nail_42000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/Great-lakes1000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/magnificent-excursions/small/Great-lakes500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/Great-lakes1000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/Great-lakes2000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/Great-lakes2000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_41000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/magnificent-excursions/small/The Great Mara and Amboseli_4500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_41000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_42000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_42000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_31000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/magnificent-excursions/small/The Great Mara and Amboseli_3500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_31000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_32000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli_32000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli1000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/magnificent-excursions/small/The Great Mara and Amboseli_4500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli1000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli2000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/magnificent-excursions/large/The Great Mara and Amboseli2000x1333.jpg">
                              </div>
                         </div>
                         <div class="sp-thumbnails">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/Great-lakes_21000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_21000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_71000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_81000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_41000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/Great-lakes1000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_41000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli_31000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/magnificent-excursions/medium/The Great Mara and Amboseli1000x667.jpg">
                         </div>
                    </div>

                    <hr>
                    <div class="row">

                         <div class="col-lg-9">
                              <h4> <strong>The Magnificent Excursions 5 days & 4 nights Nights</strong> </h4>
                              <p>
                                   Trek and hike in these parks with the animals and feel nature embracing you with the
                                   magnificent
                                   beauty. Hell’s Gate National Park, Lake Nakuru National Park and Maasai Mara National
                                   Reserve.
                              </p>
                              <h4><strong>DETAILED ITINERARY</strong></h4> <br>
                              <h4><strong> Day 1: Nairobi- Hell's Gate National Park</strong></h4>
                              <p>
                                   We start our safari by driving to Hell's Gate National Park, Hell's Gate National
                                   Park lies to the sou9th of Lake Naivasha in Kenya, North West of Nairobi. The park,
                                   which is mainly, comprised of
                                   savannah ecosystem harbours a wide variety of wildlife. There are over 100 species of
                                   birds in the park, including vultures, Verreaux's Eagles, augur buzzard and swifts.
                                   African buffalo, zebra,
                                   eland, hartebeest, Thomson's gazelle, and baboons are also common. Depart in the
                                   afternoon to Lake Naivasha which is the highest and the most beautiful of the Rift
                                   Valley lakes. Naivasha is yet
                                   another area popular for bird watching (over 400 species have been recorded). It is
                                   also a favourite weekend retreat for Nairobi residents, who come here to sail, water
                                   ski and fish. There are no
                                   crocodiles in the lake as the water is too cold for them, due to altitude but there
                                   are a number of hippos. Along the lakeshore, vineyards produce grapes for the
                                   country's fledgeling wine industry.
                                   Dinner and overnight at campsite or lodge.
                              </p>
                              <h4><strong>Day 2: Hell's Gate- Lake Nakuru </strong> </h4>
                              <p>
                                   Early morning pick up, then drive to Lake Nakuru National Park, across the equator,
                                   southwards of Bogoria, lies the rift valleys most famous lake Nakuru. Known all over
                                   the world for its flamingos,
                                   it's alkaline and is recognized as being one of the natural wonders of the world.
                                   Lake Nakuru is now a rhino sanctuary, harbouring a population of over 40 black and
                                   over 60 white rhinos, but the
                                   flamingoes, of course, have always been the main attraction. At times there may be
                                   almost 2million flamingoes in the residence, forming a stunningly beautiful deep pink
                                   band around the edge of the
                                   lake shore. Arrive in time for lunch then have an afternoon game drive. Dinner and
                                   overnight at campsite or lodge.
                              </p>
                              <h4><strong>Day 3: Lake Nakuru National Park-Maasai Mara National </strong> </h4>
                              <p>
                                   An early morning drive to Maasai Mara National Reserve, it holds on as one of the few
                                   places left on earth where wildlife still lives comparatively undisturbed, in the
                                   numbers that once roamed the
                                   plains and forests of Africa. As the northern tip of the vast Serengeti ecosystem,
                                   the Mara hosts the spectacular seasonal migration of many thousands of Wildebeest,
                                   Zebras and attendant predators.
                                   Arrive in time for lunch then have an afternoon game drive. Dinner and overnight at
                                   campsite or lodge.
                              </p>
                              <h4><strong>Day 4: Enjoy Great Mara</strong> </h4>
                              <p>
                                   After breakfast, we have a full day game drive, with packed lunch provided. The
                                   reserve is well known for its black-manned lion, as well as its abundant resident
                                   wildlife and its one of the few
                                   places where it's possible to see the big five during a morning's game drive. Many of
                                   the cheetahs are so tame they seek shelter from the hot sun under one's vehicle and
                                   several even climb onto
                                   the roof to get a better view of prospective prey. For the bird enthusiast, almost
                                   500 species have been recorded: among these 16 species of eagle, plus many hawks and
                                   falcons, 6 species of
                                   vultures, 8 species of storks 4 of bustard (including the Kori bustard, the world's
                                   heaviest flying bird), and 9 species of sunbirds. Dinner and overnight at campsite or
                                   lodge.
                              </p>
                              <h4><strong>Day 5: Maasai Mara National Park- Nairobi </strong> </h4>
                              <p>
                                   We wake up at 6 am for a sunrise game drive. At 9 am, we drive back to accommodation
                                   for brunch then depart to Nairobi. Lunch en-route and arrival in Nairobi in the late
                                   afternoon.

                              </p>

                              <app-request-quote-button></app-request-quote-button>


                         </div>
                    </div>
               </div>
               <!--End  tour itinerary description-->

               <aside class="col-lg-4">
                    <app-book-by-phone-right></app-book-by-phone-right>
               </aside>
          </div>
          <!--End row -->
     </div>
     <!--End container -->



</main>
<!-- End main -->
<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->
<div id="toTop"></div><!-- Back to top button -->