<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/package-landing-pages/mountain2.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of 6 Days Mountain Hike</h2>


				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="./mountains">Mountain Climbing Tours</a>
				</li>
				<li>6 Days Mountain Hike Tour</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->



	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">



				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace 0-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/small/six-days-mountain-climbing-chogoria-easy-pace@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace 0-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/large/six-days-mountain-climbing-chogoria-easy-pace@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/large/six-days-mountain-climbing-chogoria-easy-pace@2x-100.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium//six-days-mountain-climbing-chogoria-easy-pace_1-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/small/six-days-mountain-climbing-chogoria-easy-pace_1@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace_1-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/large/six-days-mountain-climbing-chogoria-easy-pace_1@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/large/six-days-mountain-climbing-chogoria-easy-pace_1@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace_2-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/small/six-days-mountain-climbing-chogoria-easy-pace_2@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace_2-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/large/six-days-mountain-climbing-chogoria-easy-pace_2@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/large/six-days-mountain-climbing-chogoria-easy-pace_2@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace_3-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/small/six-days-mountain-climbing-chogoria-easy-pace_3@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace_3-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/large/six-days-mountain-climbing-chogoria-easy-pace_3@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/large/six-days-mountain-climbing-chogoria-easy-pace_3@2x-100.jpg">
						</div>




					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace 0-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium//six-days-mountain-climbing-chogoria-easy-pace_1-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace_2-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/six-days-mountain-climbing-chogoria-easy-pace/medium/six-days-mountain-climbing-chogoria-easy-pace_3-100.jpg">


					</div>
				</div>
				<hr>

				<div class="row">

					<div class="col-lg-11">

						<h4> <strong>6 Days Mountain Hike Chogoria Route Down Naro Moru</strong> </h4>
						<p>
                            Mount Kenya day trip hiking delivers trekkers with an interesting and inspiring hike culminating 
                            into one of the best and exciting views in Kenya
						</p>

						<h4><strong>DETAILED ITINERARY</strong></h4>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day:1 Depart from Nairobi to Chogoria
							</span>
							<br>

							<span>
								 Pick up from your Nairobi Hotel  and drive north to Chogoria town for lunch and afternoon leisure walk in the town to acclimatize. Dinner and overnight at Chogoria Transit Motel. 
							</span>

						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day:2 Chogoria/ Mount Meru Bandas
							</span>
							<br>
							<span>
                                After breakfast, take a 4x4WD vehicle to the forest clearance, 16km from where the walk starts. You will walk 
                                for 16km through the forest along the dirt and sometimes very muddy road for 4hrs to reach Mount Meru Bandas 
                                 for lunch and afternoon walks. Dinner and overnight at Mt. Meru Bandas. 
							</span>
						</div>
						<br>

						<div>
							<span class="mountain-days-spans">
								Day 3: Mount Meru Bandas - Road Head Camp 

							</span>
							<br>
							<span>
                                After breakfast follow the track through giant heather and forest up to Chogoria road head from 
                                where the path drops to cross a stream then follows the broad ridge to the east of the gorges 
                                valley to reach Road Head Camp taking approximately 3-4hrs. Overnight at Road Head Camp.

							</span>

						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 4: Road Head-Mintos Hut 
							</span>
							<br>
							<span>
                                After breakfast follow the track through giant heather and forest up to Chogoria road head from where the 
                                path drops to cross a stream then follows the broad ridge to the east of the gorges valley to reach Mintos Hut. 
                                Dinner and overnight at Mintos Hut
							</span>
						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 5: Mintos-Point Lenana-Met Station
							</span>
							<br>
							<span>
                                Leave shortly after midnight at 2am towards the main peaks and divide after
                                an hour, above a flat green area at the head of the valley
                                known as temple fields, arriving at point Lenana at 6:30am. After taking
                                photographs, descend to Mackinders for breakfast and continue
                                down to Met Stationfor dinner and overnight rest.
							</span>
						</div>
						<br>
						<div>
							<span class="mountain-days-spans">
								Day 6: Met Station/Naromoru/Nairobi 
							</span>
							<br>
							<span>
								After breakfast, descend through the rainforest which is 9km to Naromoru Park Gate where you will connect with your transport back to Nairobi, arriving in the afternoon.
							</span>
						</div>
						<br>
						<app-request-quote-button></app-request-quote-button>
					</div>
				</div>

			</div>
			<!--End  tour itinerary description-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End of book by phone -->
	</div>
	<!--End container -->

	<!-- End main -->


	<!--start of footer-->

	<app-footer></app-footer>

	<!--End of footer-->

	<div id="toTop"></div><!-- Back to top button -->