
.page-header {
    color: white;
}

.need_help {
    font-size: 20px;
}

.beach-page-headers{
    text-align: center;
}
.beach-sub-header-cont{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.beach-paragraphs{
    text-align: center;
}
.beach-package-container{
    display: flex;
  justify-content: center;
  align-items: center;
}

.mountain-days-spans{
    font-weight: 700;
	margin-right: 0.25rem;
	
}

.btn-view-tours {
	color: #fff !important;
}
#header-email :hover{
    color: #445C2B;
}

@media screen and (max-width: 720px) {
    .side_menu {
        display: none;
    }

    .tour_titles {
        font-size: 12px !important;
    }

    .contact-us {
        display: none;
    } 

    .campaign-content-mobile-display {
        display: none;
    }

    .campaign-date {
        color: aliceblue;
        font-size: 10px;
    }
}

.tour_titles {
    font-size: 24px;
}

.requestqbtn{
    margin-bottom: 1.75rem;
}

.tour_extra {
    height: 80px;
}

.tour_package_title {
    font-size: 20px;     
}

.tour_package_duration {
    font-size: 14px;  
}

#request-quote {
    text-transform:uppercase; 
    color: #FFFFFF;   
}

.upcoming-menu {    
    color: #60b10a; 
}

.popular-packages {
    color: #60b10a; 
}

.campaign-date {
    color: aliceblue;
 }

 /* .price {       
    color: #ffbb33;
 } */

/* start of campaign styling*/
.price-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.price-table thead tr {
    background-color: #445C2B;
    color: #ffffff;
    text-align: left;
}
.price-table th,
.price-table td {
    padding: 12px 15px;
}
.price-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.price-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.price-table tbody tr:last-of-type {
    border-bottom: 2px solid  #417a04;
}
@media only screen and (max-width: 600px){
    .price-table{
        min-width: 380px;
    }
}

