
.page-header {
    color: white;
}

.need_help {
    font-size: 20px;
}

.beach-page-headers{
    text-align: center;
}
.beach-sub-header-cont{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.beach-paragraphs{
    text-align: center;
}
.beach-package-container{
    display: flex;
  justify-content: center;
  align-items: center;
}

.mountain-days-spans{
    font-weight: 700;
	margin-right: 0.25rem;
	
}

.btn-view-tours {
	color: #fff !important;
}
#header-email :hover{
    color: #445C2B;
}

@media screen and (max-width: 720px) {
    .side_menu {
        display: none;
    }

    .tour_titles {
        font-size: 12px !important;
    }

    .contact-us {
        display: none;
    } 

    .campaign-content-mobile-display {
        display: none;
    }

    .campaign-date {
        color: aliceblue;
        font-size: 10px;
    }
    .price-table{
        min-width: 100%;
    }

    #contact_info {
        display: none;
    }
}

.tour_titles {
    font-size: 24px;
}

.requestqbtn{
    margin-bottom: 1.75rem;
}

.tour_extra {
    height: 80px;
}

.tour_package_title {
    font-size: 20px;     
}

.tour_package_duration {
    font-size: 14px;  
}

#request-quote {
    text-transform:uppercase; 
    color: #FFFFFF;   
}

.upcoming-menu {    
    color: #60b10a; 
}

.popular-packages {
    color: #60b10a; 
}

.campaign-date {
    color: aliceblue;
 }
 
.price-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.price-table thead tr {  
    color: #ffffff;
    text-align: left;
}
.price-table th,
.price-table td {
    padding: 12px 15px;
}
.price-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.price-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.campaign-content {
    margin-top: 1.75rem;
    
}
.row-spacing {
	margin-top: 20px;
	margin-bottom: 20px;
}

.main_title{
    text-align:center;
    font-size:16px;
    margin-bottom:30px
}
.main_title h2{
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:-1px;
    font-size:30px;
    margin-bottom:0;
    margin-top:0
}
.main_title p{
    font-weight:300;
    font-size:20px;
    color:#555
}
h2 span,h3 span,h4 span,h5 span,h6 span{
    color:#417a04
}
footer{
    background:#445c2b url(./assets/img/pattern.png) repeat 0 0;
    color:#fff;
    padding:30px 0 10px 0
}
footer h3{
    font-size:16px;
    font-weight:700;
    color:#fff;
    margin-top:20px
}
footer a{
    color:#fff
}
footer a:hover{
    color:#999
}
footer ul{
    margin:0;
    padding:0 0 10px 0;
    list-style:none
}
#social_footer{
    text-align:center;
    border-top:1px solid rgba(255,255,255,.2);
    padding-top:30px;
    margin-top:30px
}
#social_footer p{
    font-size:12px;
    color:#8c8c8c
}
#social_footer ul{
    margin:0;
    padding:0 0 10px 0;
    text-align:center
}
#social_footer ul li{
    display:inline-block;
    margin:0 5px 10px 5px
}
#social_footer ul li a{
    color:#fff;
    text-align:center;
    line-height:35px;
    display:block;
    font-size:16px;
    width:35px;
    height:35px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
#social_footer ul li a:hover{
    background:#fff;
    color:#111
}
a#email_footer,a#phone{
    display:block;
    position:relative;
    color:#fdf7ac;
    font-size:16px;
    padding-left:40px;
    margin:20px 0
}
a#email_footer:hover,a#phone:hover{
    color:#fff
}
a#email_footer:before,a#phone:before{
    font-style:normal;
    font-weight:400;
    font-family:icon_set_1;
    position:absolute
}
a#phone:before{
    font-size:30px;
    content:"\79";
    left:0;
    top:0
}
a#email_footer:before{
    font-size:28px;
    content:"\74";
    left:0;
    top:5px
}
.price_list .button{
    display:block
}
.tour_list_desc{
    padding:10px 20px 0 0;
    border-right:1px solid #ededed;
    height:220px;
    line-height:17px
}
.tour_list_desc h3{
    font-size:16px;
    margin-top:0;
    margin-bottom:10px
}
.price_list{
    display:table;
    height:220px;
    font-size:38px;
    color:#e74c3c;
    width:100%;
    margin-left:-15px
}
.price_list small{
    font-size:11px;
    color:#999;
    display:block;
    margin-bottom:10px;
    line-height:12px
}
.price_list div{
    display:table-cell;
    vertical-align:middle;
    text-align:center
}
.price_list p{
    padding:0;
    margin:0
}
.price_list .normal_price_list{
    display:block;
    text-decoration:line-through;
    color:#999;
    font-size:20px;
    margin-top:10px
}
.price_list sup{
    font-size:22px;
    position:relative;
    top:-10px
}
 

