<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../../assets/img/hart/mountain/mountain_road.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>Hiking and Trekking tours</h1>
            <p>Mountain Hiking Luxury Tours Made Just For You</p>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="/domestic">All Tours</a>
            </li>
            <li>Mountain Climbing Tours</li>
          </ul>
        </div>
    </div>
    <!-- Position -->

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3">

                <app-side-menu></app-side-menu>

                <app-book-by-phone-left></app-book-by-phone-left>

            </aside>
            <!--End aside -->

            <div class="col-lg-9">
                <div class="isotope-wrapper">
                    <div class="row">
                        <div class="col-md-6 isotope-item lower_price">
                            <div class="tour_container">
                                <div class="ribbon_3 popular"><span>Popular</span>
                                </div>
                                <div class="img_container">
                                    <a href="/domestic/four-days-mountain-climbing-sirimon-route-direct">
                                        <img src="../../../../../../../assets/img/packages-all-tours/mountain-climbing/-mountain-climbing-sirimon-route-direct_2@351x-100.jpg"
                                            width="800" height="533" class="img-fluid" alt="Image">
                                        <div class="short_info">
                                            per person joining a group<span class="price"><sup>$</sup>480</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="tour_title tour_extra">
                                    <a href="/domestic/four-days-mountain-climbing-sirimon-route-direct">
                                        <h3 class="tour_package_title"><strong>Sirimon Route</strong> Tour</h3>
                                        <span class="tour_package_duration">
                                            4 Days <i class="icon-sun"></i>
                                        </span>
                                    </a>
                                   
                                </div>
                            </div>
                            <!-- End box tour -->
                        </div>
                        <!-- End col-md-6 -->

                        <div class="col-md-6 isotope-item lower_price higher_ranking">
                            <div class="tour_container">
                                <div class="ribbon_3 popular"><span>Popular</span>
                                </div>
                                <div class="img_container">
                                    <a
                                        href="/domestic/five-days-mountain-climbing-sirimon-out-naro-moro-contrast-route">
                                        <img src="../../../../../../../assets/img/packages-all-tours/sirimon-naro-moro-route/sirimon-out-naro-moro-contrast-route@351x-100.jpg"
                                            width="800" height="533" class="img-fluid" alt="Image">
                                        <div class="short_info">
                                            per person joining a group<span class="price"><sup>$</sup>600</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="tour_title tour_extra">
                                    <a href="/domestic/five-days-mountain-climbing-sirimon-out-naro-moro-contrast-route">
                                        <h3 class="tour_package_title"><strong>Sirimon Naro Moru Route</strong> Tour</h3>
                                        <span class="tour_package_duration">
                                            5 Days <i class="icon-sun"></i>
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!-- End box tour -->
                        </div>
                        <!-- End col-md-6 -->
                    </div>
                    <!-- End row -->

                    <div class="row">
                        <div class="col-md-6 isotope-item higher_price higher_ranking">
                            <div class="tour_container">
                                <div class="ribbon_3 popular"><span>Popular</span>
                                </div>
                                <div class="img_container">
                                    <a href="/domestic/six-days-mountain-climbing-chogoria-easy-pace">
                                        <img src="../../../../../../../assets/img/packages-all-tours/six-days-mountain-climbing-chogoria-easy-pace/six-days-mountain-climbing-chogoria-easy-pace@351x-100.jpg"
                                            width="800" height="533" class="img-fluid" alt="Image">
                                        <div class="short_info">
                                            per person joining a group<span class="price"><sup>$</sup>1720</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="tour_title tour_extra">
                                    <a href="/domestic/six-days-mountain-climbing-chogoria-easy-pace">
                                        <h3 class="tour_package_title"><strong>Chogoria Easy Pace</strong> Tour</h3>
                                        <span class="tour_package_duration">
                                            6 Days <i class="icon-sun"></i>
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <!-- End box tour -->
                        </div>                      
                    </div>
                    <!-- End row -->

                </div>
                <!-- End isotope-wrapper -->

            </div>
            <!-- End col lg 9 -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</main>
<!-- End main -->

<app-footer></app-footer>

<div id="toTop"></div><!-- Back to top button -->
