<div class="row">
    <div class="col-md-12">
        <div>
            <h4><strong>Payment Details</strong></h4>
        </div>     
        <div>
            <span id="payment-info">Payment can be done using the following detais</span> 
            <div id="payment-details">
                <div class="row">
                    <div class="col-md-3">
                        Paybill Number: 
                    </div>
                    <div class="col-md-9">
                        <strong>874323</strong> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Account name:
                    </div>
                    <div class="col-md-9">
                        <strong>H-ART OF AFRICA SAFARIS LTD</strong>
                    </div>
                </div>      
            </div>          
        </div>      
    </div>
</div>
