<div class="row">
    <div class="col-md-12">
        
        <div>
            <h4><strong>Payment Details</strong></h4>
        </div>
        <span>Payment can be done using the following detais</span> 
        <div class="row row-spacing">
           
            <div class="col-md-6">
                <h6><strong>Bank Details</strong></h6>
                <table class="price-table">                                  
                    <tbody>
                        <tr>
                            <td class="price-group">Bank</td>
                            <td>Equity Bank</td>
                        </tr>
                        <tr class="active-row">
                            <td class="price-group">Account No</td>
                            <td>1290278895591</td>
                        </tr>
                        <tr>
                            <td class="price-group">Account name</td>
                            <td>H-ART OF AFRICA SAFARIS LTD</td>
                        </tr>
                        <tr class="active-row">
                            <td class="price-group">Branch</td>
                            <td>Kenyatta Avenue</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h6><strong>Mobile Money</strong></h6>
                <table class="price-table">                                  
                    <tbody>
                        <tr>
                            <td class="price-group">Bank</td>
                            <td>Mpesa</td>
                        </tr>
                        <tr class="active-row">
                            <td class="price-group">Paybill No</td>
                            <td>874323</td>
                        </tr>
                        <tr>
                            <td class="price-group">Account name</td>
                            <td>H-ART OF AFRICA SAFARIS LTD</td>
                        </tr>
                        <tr class="active-row">
                            <td class="price-group">Provider</td>
                            <td>Safaricom</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--
            <div>
                Deadline to book: …………2020. For any clarification, feel free to call/WhatsApp/text David on mobile no +254721913293
            </div>
            --> 
        </div>

       
    </div>
</div>
