<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../../assets/img/advert-campaigns/wasini/diani-landing-poster1.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- <h1>3 Days Diani X Wasini Excursion</h1> -->
                    <h3 style="color: aliceblue;"><strong>Date: </strong>13<sup>th</sup>- 17<sup>th</sup> October </h3>
                    <span class=""></span>
                </div>
                <div class="col-md-4">
                    <div id="price_single_main">
                        per person <span style="color:#f3ef07e1;"><sup>kshs</sup>17,300 </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>

                <li>3 Days Diani X Wasini Excursion</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->


    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8" id="single_tour_desc">
                <div id="single_tour_feat">
                    <ul>
                        <!-- <li><i class="icon_set_1_icon-4"></i>Museum</li> -->
                        <li><i class="icon_set_1_icon-83"></i>12 Hours</li>
                        <!-- <li><i class="icon_set_1_icon-97"></i>Audio guide</li> -->
                        <li><i class="icon_set_1_icon-29"></i>Tour guide</li>
                        <li><i class="icon_set_1_icon-13"></i>Accessibiliy</li>
                        <li><i class="icon_set_1_icon-82"></i>16 Likes</li>
                        <!-- <li><i class="icon_set_1_icon-22"></i>Pet allowed</li> -->

                    </ul>
                </div>

                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_2-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_2@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_2-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_2@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_2@2x-100.jpg">
                        </div>                     

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_10-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_10@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_10-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_10@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_10@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_4-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_4@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_4-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_4@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_4@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_7-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_7@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_7-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_7@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_7@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_5@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_5@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_5@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_6-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_6@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_6-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_6@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_6@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_3-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_3@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_3-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_3@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_3@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_9-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_9@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_9-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_9@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_9@2x-100.jpg">
                        </div>>
                    </div>
                    <div class="sp-thumbnails">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_2-100.jpg">                      
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_10-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_4-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_7-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_6-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_3-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_9-100.jpg">
                    </div>
                </div>

                <hr>

                <div class="row">

                    <div class="col-lg-12">
                        
                        <h4>Diani Beach Scenic Tour</h4>
                        <br>
                        <div>
                            Take a scenic tour in Diani and see the stunning beach and turquoise waters.
                            Green turtles, unique coral gardens and many more. The beach is part of a complex 
                            of marine and tidal habitats along the Kenya’s south coast with rich and diverse bird life, fish, turtles and dugongs. Visitors can enjoy 
                            the white sandy beaches, snorkeling, water skiing, windsurfing and glass bottomed boat tours.
                        </div>
                        <br>
                        <h4>Wasini Island Boat Tours & Land Excursions</h4>
                        <br>
                        <div>
                            If you are in he mood to do something else than just relax on Wasini island, there is a variety of activities and tours on land and at sea.
                            This excursion begins with an African Mecca transfer pickup from your beach hotel and a drive to the south coast’s Shimoni Pier that overlooks 
                            the Wasini Channel. When you arrive, you meet the experienced dive team and listen to a brief introduction about the trip and available 
                            options before setting sail in an authentic dhow. As you sail to the park site, you may spot dolphin, including the rare humpback dolphin, 
                            as well as aquatic seabirds. Once in the marine park, your adventure begins as you slowly go below the surface to enter an underwater realm 
                            that is filled with beautiful coral, fish, sea turtle and other inhabitants.You then snorkel and marvel at the rich marine life where corals, 
                            exotic fish and sea plants are protected. You are provided with masks and snorkels and are accompanied by a certified and experienced guide. 
                            Assistance is also provided to first timers. Back on board, you can refresh yourself with fruits and soft drinks.                            
                        </div>
                        <div class="row row-spacing">
                            <div class="col-md-6">
                                <h4>Prices</h4>
                                <table>                                   
                                    <tr>
                                      <td>PER PERSON SHARING:</td>
                                      <td>kshs. 13,800</td>                                    
                                    </tr>
                                    <tr>
                                      <td>INDIVIDUAL:</td>
                                      <td>kshs. 17,300</td>                                     
                                    </tr>                                                                               
                                  </table>           
                            </div>
                            <div class="col-md-6">                               
                            </div>                         
                        </div>

                        <div class="row row-spacing">
                            <div class="col-md-6">
                                <h4>What's included?</h4>
                                <ul>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Return SGR Economy Tickets</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Meals on Half Board </li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> 2 Nights  Accommodation </li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Wasini Island Dolphin Tour</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Kisite Mpunguti N Park Entry fees</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Shimoni Caves Tour</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Traditional Dhow Rides</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Swahili Village Tour</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Transfers from the SGR stations/Airport to the Hotel</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Unlimited Professional Photography</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Free Snorkeling at Marine Park</li>
                                    <li><i class="fa fa-check" aria-hidden="true"></i> Swimming at the Hotel</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4>What's excluded?</h4>
                                <ul>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Extras - tips, drinks etc</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Lunch</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Tips and gratuity</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Any items not stipulated above</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Special activities and special equipment for (deep sea diving , jet skiing ,etc. )</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Laundry</li>
                                    <li><i class="fa fa-times" aria-hidden="true"></i> Any other item/activity not mentioned in the above</li>
                                </ul>
                            </div>
                        </div>
                        <!-- End row  -->                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4><strong>PAYMENTS AND RESERVATIONS</strong></h4>
                        <span id="reservation"><strong>Reserve by making a 50% down payment and clear the balance before departure.</strong></span>
                    </div>
                    <div class="col-md-6">
                        <div class="lipa">
                            <h4><strong>LIPA NA MPESA</strong> </h4>
                            <p>
                                Paybill Number: <strong> 874323</strong><br>
                                H-ART OF AFRICA SAFARIS LTD
                            </p>

                        </div>
                    </div>
                </div>

            </div>
            <!--End  single_tour_desc-->

            <aside class="col-lg-4">
                <div class="box_style_1 expose">
                    <a class="btn_full" href="/contact">Confirm Attendance</a>
                </div>
                <div class="box_style_4">
                    <i class="icon_set_1_icon-90"></i>
                    <h4><span>Book</span> by phone</h4>
                    <a href="tel://254208000243" class="phone need_help_right">+254 20 8000 243</a>
                    <a href="tel://00254721913293" class="phone need_help_right">+254 721 913 293</a>
                    <small>Monday to Saturday 7.00am - 8.00pm</small>
                </div>
            </aside>

        </div>
        <!--End row -->
    </div>
    <!--End container -->
    <!--start of footer-->

    <app-footer></app-footer>

    <!--End of footer-->

    <div id="overlay"></div>
    <!-- Mask on input focus -->

</main>