<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/hart/beach/prideinn/prideinn_express_resort.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of PrideInn Express Resort
					</h2>


				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/beaches">Beach Tours</a>
				</li>
				<li>PrideInn Express Resort Tour</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">
				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/small/prideinn-express-beach@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach@2x-100.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_1-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/small/prideinn-express-beach_1@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_1-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_1@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_1@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_2-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/small/prideinn-express-beach_2@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_2-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_2@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_2@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_3-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/small/prideinn-express-beach_3@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_3-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_3@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/large/prideinn-express-beach_3@2x-100.jpg">
						</div>

						
					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_1-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_2-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/prideinn-express-beach/medium/prideinn-express-beach_3-100.jpg">
						
					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-9">

						<div class=" beach-sub-header-cont">
							<h4 class="beach-page-headers"> <strong>PrideInn Express Resort</strong> </h4>
						</div>
						<div class="main-content-container">
							<p class="beach-paragraphs">
								Want to have the experience of a life-time and enjoy the Majesty of African Safari,
								Climb Mount Kenya or lay down in the white sands of Mombasa? Just drop us a message with
								what you have in mind. We will strive get back to you ASAP.
							</p>

							<h4 class="beach-page-headers"><strong>SUMMARY</strong></h4>

							<p class="beach-paragraphs">
								The hotel is not set on the beach line but is a few meters from the ocean. Therefore, it
								offers very good rates to stay there and it offers exquisite guest rooms and excellent
								services. It is located close to a shopping mall, making it great for vacation shopping
								of Kenyan made goods.
							</p>
							<div class="beach-paragraphs">
								<app-request-quote-button></app-request-quote-button>
							</div>
						</div>
					</div>
				</div>
				

			</div>
			<!--End  tour itinerary description-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End of book by phone -->
	</div>
	<!--End container -->

	<!-- End main -->

	<!--start of footer-->

	<app-footer></app-footer>

	<!--End of footer-->

	<div id="toTop"></div><!-- Back to top button -->