<section class="parallax-window" data-parallax="scroll" data-image-src="../../../../assets/img/blog/longonot/logonot-blog-landing.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <!-- <h1>Longonot Experience</h1> -->
            <!-- <p>“What's greatest risk of all? Not taking one.”</p> -->
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#">Home</a>
                </li>

                <li>The Nairobi National Park Blog</li>
            </ul>
        </div>
    </div>
    <!-- End position -->

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3">

                <app-side-menu-blog></app-side-menu-blog>

                <app-book-by-phone-left></app-book-by-phone-left>
            </aside>
            <!-- End aside -->

           
            <div class="col-lg-9">
                <div class="box_style_1">
                    <div class="post">
                        <!--
                        <a href="blog_post.html" title="blog_post.html">
                            
                            <img src="../../../../assets/img/blog/longonot/image1.jpg" alt="Image"
                                class="img-fluid">
                        </a>
                        -->

                    </div>
                    <h2>The Nairobi National Park Compelling Campaign! </h2>
                   <div>
                    I am a bit ashamed to say this. I was born and raised in Nairobi but had never visited Nairobi 
                    National Park, so when I heard about this specific safari I was sold!
                   </div>
                    
                    <img src="../../../../assets/img/blog/nairobi national park/image1.jpg" alt="Image" class="img-fluid">
                    <!--
                        <a href="blog_post.html" class="btn_1" title="blog_post.html">Read more</a>
                        -->
                   
                    <div>
                        We met at the CBD-Nairobi quite early and set off with my fellow ‘safari-mates’ (I don’t 
                        think that’s an actual word… haha!) at 6:30am. It’s about an hour drive to The Nairobi National 
                        Park. 
                    </div>
                    <img src="../../../../assets/img/blog/nairobi national park/image2.jpg" alt="Image" class="img-fluid">
                   <div class="row row-spacing">
                    <div class="col-md-6 blog-content ">
                        <div>
                            After checking in, give or take, our safari started at 8:00am. We were all looking forward to see the different 
                            animals in the park like. You should have seen how eager we all looked looking outside the window to see the animals.
                             No one wanted to miss the beautiful views of the park.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../../assets/img/blog/nairobi national park/image3.jpg" alt="Image" class="img-fluid">
                    </div>
                   </div>
                    <div>
                        The first animals we saw were baboons. Lots of baboons!
                    </div>
                    <img src="../../../../assets/img/blog/nairobi national park/image4.jpg" alt="Image" class="img-fluid">
                    <div>
                        The other animals we saw were giraffes, elephants, buffaloes and crocodiles.
                    </div>
                    
                    <img src="../../../../assets/img/blog/nairobi national park/image5.jpg" alt="Image" class="img-fluid">
                    <div class="row">
                        <div class="col-md-6 blog-content">
                            <div>
                                While we were in the park, we got to do something quite interesting. We celebrate September babies with a cake in the wild. 
                                Seriously, how fun is it to celebrate your birthday in the wild? I wish I was a September baby. That would have been one to 
                                remember.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../../assets/img/blog/nairobi national park/image6.jpg" alt="Image" class="img-fluid">
                        </div>
                    </div>
                    
                    
                    
                    <div>
                        Before we knew it, it was time to go home. 
                    </div>
                    <img src="../../../../assets/img/blog/nairobi national park/image7.jpg" alt="Image" class="img-fluid">
                </div>

            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>

<div id="toTop"></div>