<section class="parallax-window" data-parallax="scroll"
     data-image-src="../../../../../assets/img/package-landing-pages/lion-and-cab.jpg" data-natural-width="1400"
     data-natural-height="470">
     <div class="parallax-content-2">
          <div class="container">
               <div class="row">
                    <div class="col-md-8">
                         <h2 class="page-header tour_titles">
                              Highlights of Kenya Tanzania Adventure Group Joining Safari
                         </h2>
                         <!-- <span>Hemmingway Trail</span> -->
                         <!-- <span class="rating"><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small></span> -->
                    </div>
                    <div class="col-md-4">
                         <div id="price_single_main">
                              <!-- from/per person <span><sup>$</sup>52</span> -->
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- End section -->

<main>
     <div id="position">
          <div class="container">
               <ul>
                    <li>
                         <a href="index.html">Home</a>
                    </li>
                    <li>
                         <a href="/domestic/group-safaris">Group Safaris Tours</a>
                    </li>
                    <li>Kenya Tanzania Adventure Tour 11 Days and 10 Nights</li>
               </ul>
          </div>
     </div>
     <!-- End Position -->

     <div class="container margin_60">
          <div class="row">
               <div class="col-lg-8" id="single_tour_desc">

                    <div id="Img_carousel" class="slider-pro">
                         <div class="sp-slides">

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _131000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _13500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _131000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _132000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _132000x1333.jpg">
                              </div>
                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _2500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _22000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _22000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _3500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _32000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _32000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _4500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _42000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _42000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _5500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _52000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _52000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _7500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _72000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _72000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _6500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _62000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _62000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _8500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _82000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _82000x1333.jpg">
                              </div>

                              <div class="sp-slide">
                                   <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                        data-src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg"
                                        data-small="../../../../../../../assets/img/packages-carousel/the-great-mara/small/The Great Mara _9500x333.jpg"
                                        data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg"
                                        data-large="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _92000x1333.jpg"
                                        data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara/large/The Great Mara _92000x1333.jpg">
                              </div>
                         </div>
                         <div class="sp-thumbnails">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _131000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _21000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _31000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _41000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _51000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _71000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _61000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _81000x667.jpg">
                              <img alt="Image" class="sp-thumbnail"
                                   src="../../../../../../../assets/img/packages-carousel/the-great-mara/medium/The Great Mara _91000x667.jpg">
                         </div>
                    </div>

                    <hr>
                    <div class="row">

                         <div class="col-lg-9">
                              <h4> <strong>Kenya Tanzania Adventure 11 Days And 10 Nights</strong> </h4>
                              <p>
                                   Customizable safari through Kenya’s best National Parks and Reservations.
                                   That is Lake Nakuru National Park, Maasai Mara National Reserve, Serengeti
                                   National Park, Ngorongoro Crater, Lake Manyara National Park, and Amboseli
                                   National Park among others.
                              </p>
                              <h4><strong>DETAILED ITINERARY</strong></h4> <br>
                              <h4><strong> Day 1: Nairobi- Nakuru</strong></h4>
                              <p>
                                   Early morning pick up, then drive to Lake Nakuru National Park, across the
                                   equator, southwards of Bogoria, lies the rift valleys most famous lake Nakuru.
                                   Known all over the world for its flamingoes, it's alkaline and is recognized
                                   as being one of the natural wonders of the world. Lake Nakuru is now a rhino
                                   sanctuary, harbouring a population of over 40 black and over 60 white rhinos,
                                   but the flamingos, of course, have always been the main attraction. At times
                                   there may be almost 2 million flamingos in the residence, forming a stunningly
                                   beautiful deep pink band around the edge of the lake shore. Arrive in time for
                                   lunch then have an afternoon game drive. Dinner and overnight at campsite or
                                   lodge.
                              </p>
                              <h4><strong>Day 2: Lake Nakuru- Maasai Mara</strong> </h4>
                              <p>
                                   An early morning drive to Maasai Mara National Reserve. It holds on as one of
                                   the few places left on earth where wildlife still lives comparatively undisturbed,
                                   in the numbers that once roamed the plains and forests of Africa. As the northern
                                   tip of the vast Serengeti ecosystem, the Mara hosts the spectacular seasonal
                                   migration
                                   of many thousands of Wildebeest, Zebras and attendant predators. Arrive in time for
                                   lunch followed by an afternoon game drive. Dinner and overnight at campsite or lodge.
                              </p>
                              <h4><strong>Day 3: Maasai Mara</strong> </h4>
                              <p>
                                   One full day in the Maasai Mara with flexible schedule and unlimited mileage. After
                                   breakfast, we have a full day game drive with packed lunch provided. The reserve
                                   is well known for its black-manned lions as well as its abundant resident wildlife
                                   and it’s one of the few places where it's possible to see the Big Five during a
                                   morning's game drive. Many of the cheetahs are so tame they seek shelter from the
                                   hot sun under one's vehicle and several even climb onto the roof to get a better
                                   view of prospective prey. For the bird enthusiast, almost 500 species have been
                                   recorded: among these, 16 species of eagle, plus many hawks and falcons, 6 species of
                                   vultures, 8 species of storks, 4 of bustard (including the Kori bustard, the world's
                                   heaviest flying bird), and 9 species of sunbirds. Dinner and overnight at campsite
                                   or lodge.
                              </p>
                              <h4><strong>Day 4: Maasai Mara- Serengeti </strong> </h4>
                              <p>
                                   We will initiate the day with an early morning game drive in Maasai Mara while
                                   driving out of the National Reserve. After border formalities, drive to the
                                   Serengeti National Park in Tanzania. It will be a long day of driving but the
                                   game drives in and out of the parks can be surprisingly incredible. However,
                                   we always recommend flying from one park to the other so that you can have
                                   more time to go on Safari. Alternatively, you can add an extra day to visit
                                   Lake Victoria, halfway between the two parks. Dinner and overnight at campsite
                                   or lodge.
                              </p>
                              <h4><strong>Day 5 & 6: Serengeti </strong> </h4>
                              <p>
                                   Two full days in the Serengeti with a flexible schedule and unlimited mileage.
                                   As you crest the hillside, spread out before you, as far as the eyes can see,
                                   is the vast Serengeti. Serengeti means endless plains in Kiswahili and this
                                   6,900 sq. mile (18,000 sq. km) park is inhabited by more than 2 million large
                                   animals including more than a million wildebeest, hundreds of thousands of plains
                                   zebras, and Thomson's gazelles. Large predators including lions, cheetahs, and
                                   hyenas are drawn to the area by this abundance of prey which migrates throughout
                                   the park. Many smaller animals like rock hyrax, bat-eared foxes, mongoose, honey
                                   badger, jackals, monkeys, baboons and African hares also inhabit the area along
                                   with nearly 500 species of birds. On the way into the Serengeti, option to stop
                                   at the famous Olduvai Gorge, where Dr Louis and Mary Leakey made their discovery
                                   of the first man that walked the earth. After attending a short lecture describing
                                   the archaeological digs and geology of the gorge, you'll have time to visit the
                                   small museum. Afternoon game drive en-route to the campsite. Dinner and overnight
                                   at campsite or lodge.
                              </p>
                              <h4><strong>Day 7: Serengeti National Park- Ngorongoro Conservation Area </strong> </h4>
                              <p>
                                   In the morning, transfer to Ngorongoro, the 8th natural wonder of the world. Stop
                                   for a picnic lunch, afternoon descent down to the crater floor for a day of wildlife
                                   viewing in one of the most incredible places on Earth. With walls 2,000 ft high and a
                                   crater floor that spreads for 102 sq. miles, the crater is a virtual Noah's Ark,
                                   inhabited by almost every species of wildlife indigenous to East Africa including
                                   the rare black rhino. In fact, the crater has the greatest concentration of wildlife
                                   on the planet. It contains a river, several swamps, a soda lake that, from the top,
                                   looks like steam, full of flamingoes, forest and open plains. Drive up the steep road
                                   out of the crater and transfer to your accommodation for overnight.
                              </p>
                              <h4><strong>Day 8: Ngorongoro Conservation Area- Lake Manyara National Park </strong>
                              </h4>
                              <p>
                                   Depart after breakfast and drive across the Great Rift Valley to Lake Manyara
                                   National
                                   Park for a full day game drive. Although only 205 sq. miles in size this enchanting
                                   park
                                   is noted for its beauty and incredibly lush acacia forest of giant fig and mahogany
                                   trees,
                                   which are home to troops of baboons and blue monkeys. The park is also home to a
                                   large
                                   number of buffalos, giraffes, elephants, impalas and a Hippo lake, where large
                                   numbers of
                                   hippos usually gather. Well known for its birds (over 400 different species), Lake
                                   Manyara
                                   is one of the few places where you'll be able to see the Ground Hornbill and the
                                   Crested
                                   Eagle. This park has become famous for the climbing lions and the flamingos in the
                                   lake
                                   shore. The landscapes of this park are absolutely stunning, very different from the
                                   Serengeti
                                   for example. The game drives are done along the shore of the lake, providing
                                   incredible views
                                   of giraffes and buffalos in the foreground with the lake, flamingos and flat plains
                                   in the
                                   horizon. Great photo opportunities. Dinner and overnight at private tented camp/lodge
                              </p>
                              <h4><strong>Day 9: Lake Manyara National Park- Amboseli National Park </strong> </h4>
                              <p>
                                   Early morning start and drive to Amboseli National Park, check in at your
                                   accommodation
                                   and afternoon rest or game drive, as you prefer. Amboseli National Park is situated
                                   South
                                   of Nairobi, most of the park consisting of a dry, ancient lake bed and fragile
                                   grassland
                                   with patches of acacia woodland, while in the southern area there is a number of
                                   small
                                   rocky volcanic hills. Around the swamp s Ol Okenya, Ol Tukai and Enkongo Narok, the
                                   vegetation is lush with yellow-barked acacias and phoenix palms. Dinner and overnight
                                   at campsite or lodge.
                              </p>
                              <h4><strong>Day 10: Amboseli National Park </strong> </h4>
                              <p>
                                   Early rise for good views of Mount Kilimanjaro before clouds build up over the summit
                                   with packed lunch provided. Despite its changing habitat, Amboseli National Park is
                                   possibly the best wildlife area in the whole of Africa to experience elephants at
                                   close range. Left unharassed by poachers, elephants feeding and bathing in the swamps
                                   must form the highlights of any Safari. Dinner and overnight at campsite or lodge.
                              </p>
                              <h4><strong>Day 11: Amboseli National Park- Nairobi </strong> </h4>
                              <p>
                                   Morning game drive in Amboseli. An optional visit to a Maasai village can be planned
                                   also. A visit reveals the singing and dancing that are part of their daily lives and
                                   sacred rituals. A glimpse into their homes and social structure is a poignant
                                   experience.
                                   Early afternoon drive to Nairobi. Transfer to your hotel or the airport.
                              </p>
                              <app-request-quote-button></app-request-quote-button>
                         </div>
                    </div>
               </div>
               <!--End  tour itinerary description-->

               <aside class="col-lg-4">
                    <app-book-by-phone-right></app-book-by-phone-right>
               </aside>
          </div>
          <!--End row -->
     </div>
     <!--End container -->



</main>
<!-- End main -->
<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->
<div id="toTop"></div><!-- Back to top button -->