<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/hart/beach/neptunebeach/neptune_beach_resort.jpg"
	data-natural-width="1400" data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header">Highlights of Neptune Beach Resort
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/beaches">Beach Tours</a>
				</li>
				<li>Neptune Beach Resort Tour</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">

				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_1-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/small/Neptune-Beach-Resort_1@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_1-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort_1@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort_1@2x-100.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_2-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/small/Neptune-Beach-Resort_2@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_2-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort_2@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort_2@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_3-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/small/Neptune-Beach-Resort_3@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_3-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort_3@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort_3@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_4-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/small/Neptune-Beach-Resort_4@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_4-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort_4@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort_4@2x-100.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort-100.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/small/Neptune-Beach-Resort@0.5x-100.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort-100.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort@2x-100.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/large/Neptune-Beach-Resort@2x-100.jpg">
						</div>

						
					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_1-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_2-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_3-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort_4-100.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/neptune-beach-resort/medium/Neptune-Beach-Resort-100.jpg">
						
					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-9">
						
							<h4 class="package-content"> <strong>NEPTUNE <span>BEACH</span> RESORT</strong> </h4>
						
						<div class="package-content">
							<div class="package-content">
								Want to have the experience of a life-time and enjoy the Majesty of African Safari,
								Climb Mount Kenya or lay down in the white sands of Mombasa? Just drop us a message with
								what you have in mind. We will strive get back to you ASAP.
							</div>
							

							<h4 class="package-content"><strong>SUMMARY</strong></h4>

							<div class="package-content">
								The most home feeling resort on the list and most loved in the north of Mombasa for its
								welcoming environment and highly trained staff. It offers a different ambiance compared
								to the Diani resorts.
							</div>
							
						</div>
					</div>
					<div class="col-lg-3 amenities-area">
                        <h4 class="side-content package-content"><strong>Amenities</strong></h4>
                        <ul class="amenity-list">
                            <li><i class="fas fa-cocktail"></i> Bar</li>
                            <li><i class="fas fa-spa"></i> Spa</li>
                            <li><i class="fas fa-swimming-pool"></i> Swimming</li>
                            <li><i class="fas fa-baby"></i> Babysitting</li>
                            <li><i class="fas fa-hotel"></i> Room Service</li>
                            <li><i class="fas fa-theater-masks"></i> Entertainment</li>
                            <li><i class='fas fa-running'></i> Fitness/Gym</li>
                            <li><i class="fas fa-wifi"></i> Wifi</li>
                            <li> <i class="fas fa-umbrella-beach"></i> Beach</li>
                            <li><i class="icon-food"></i>   Restaurant</li>
                        </ul>
                    </div>
				</div>
				<div class="package-content">
					<app-request-quote-button></app-request-quote-button>
				</div>
				

			</div>
			<!--End  tour itinerary description-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End of book by phone -->
	</div>
	<!--End container -->

	<!-- End main -->

	<!--start of footer-->

	<app-footer></app-footer>

	<!--End of footer-->

	<div id="toTop"></div><!-- Back to top button -->