<section class="parallax-window" data-parallax="scroll"
    data-image-src="../../../../../assets/img/advert-campaigns/longonot/mountain_road.jpg" data-natural-width="1400"
    data-natural-height="470">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>3 Days 2 Nights Mombasa Beach Daze</h1>

                    <span class=""></span>
                </div>
                <div class="col-md-4">
                    <div id="price_single_main">
                        two quartets <span style="color:#f3ef07e1;"><sup>kshs</sup>14,999 </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>

                <li>3 Days 2 Nights Mombasa Beach Daze</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->


    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-8" id="single_tour_desc">
                <div id="single_tour_feat">
                    <ul>
                        <!-- <li><i class="icon_set_1_icon-4"></i>Museum</li> -->
                        <li><i class="icon_set_1_icon-83"></i>12 Hours</li>
                        <!-- <li><i class="icon_set_1_icon-97"></i>Audio guide</li> -->
                        <li><i class="icon_set_1_icon-29"></i>Tour guide</li>
                        <li><i class="icon_set_1_icon-13"></i>Accessibiliy</li>
                        <li><i class="icon_set_1_icon-82"></i>16 Likes</li>
                        <!-- <li><i class="icon_set_1_icon-22"></i>Pet allowed</li> -->

                    </ul>
                </div>

                <div id="Img_carousel" class="slider-pro">
                    <div class="sp-slides">

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/diani-wasini/medium/Diani-wasini@2x-50.jpg"
                                data-small="../../../../../assets/img/packages-carousel/diani-wasini/small/Diani-wasini@2x-50.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/diani-wasini/medium/Diani-wasini@2x-50.jpg"
                                data-large="../../../../../assets/img/packages-carousel/diani-wasini/large/Diani-wasini@2x-50.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/diani-wasini/large/Diani-wasini@2x-50.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_10-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_10@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_10-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_10@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_10@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_4-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_4@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_4-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_4@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_4@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_7-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_7@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_7-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_7@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_7@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_5@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_5@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_5@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_6-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_6@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_6-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_6@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_6@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_3-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_3@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_3-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_3@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_3@2x-100.jpg">
                        </div>

                        <div class="sp-slide">
                            <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                                data-src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_9-100.jpg"
                                data-small="../../../../../assets/img/packages-carousel/longonot/small/mt longonot_9@0.5x-100.jpg"
                                data-medium="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_9-100.jpg"
                                data-large="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_9@2x-100.jpg"
                                data-retina="../../../../../assets/img/packages-carousel/longonot/large/mt longonot_9@2x-100.jpg">
                        </div>>
                    </div>
                    <div class="sp-thumbnails">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_2-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_10-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_4-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_7-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_5-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_6-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_3-100.jpg">
                        <img alt="Image" class="sp-thumbnail"
                            src="../../../../../assets/img/packages-carousel/longonot/medium/mt longonot_9-100.jpg">
                    </div>
                </div>

                <hr>

                <div class="row">

                    <div class="col-lg-12">

                        <h5><strong> OLISKIA WAPI WEWE YOU CAN’T GO TO MOMBASA FOR BABY SHOWER, LADIES TRIP OR BIRTHDAY
                                PACKAGE WITH A LUXURY YACHT EXPERIENCE!!</strong></h5>
                        <br>
                        <div>

                            If your birthday isn’t enough reason to stay in a 5 star apartments in Mombasa- Jumeirah
                            Beachfront Apartments & enjoy a
                            luxury Yacht, making memories with your “Bongi” is great excuse to treat yourself to a big
                            holiday with your friends.

                        </div>
                        <div>
                            <strong>
                                Tag someone who celebrating their event
                            </strong>
                        </div>

                        <div class="row row-spacing">
                            <div class="col-md-6">

                                <table class="price-table">
                                    <thead>
                                        <tr>
                                            <th>Package</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Yatch Experience</td>
                                            <td>14,999</td>
                                        </tr>
                                        <tr class="active-row">
                                            <td>Without Yatch Experience</td>
                                            <td>12,999</td>
                                        </tr>
                                        <tr>

                                        </tr>
                                        <!-- and so on... -->
                                    </tbody>
                                </table>
                            </div>


                        </div>

                        <div>
                            <h4>What's included?</h4>
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Return Sgr Tickets on Economy Class
                                </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Return Sgr Train Transfers to and fro
                                    the Hotel </li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> One Hour Yacht Luxury Experience</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 2 Nights’ accommodation in a
                                    4-bedroom Apartment</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Hotel is on Self Catering</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Enjoy Hotel Amenities including the
                                    Swimming Pool and WIFI</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h4><strong>PAYMENTS AND RESERVATIONS</strong></h4>
                        <div>
                            Reserve by making a 50% down payment and clear the balance before departure.
                        </div>
                        <div>
                            Payments can be done to Paybill Number <strong>874323</strong> Account name:
                            <strong>H-ART OF AFRICA SAFARIS LTD</strong>
                        </div>
                        <br>
                        <div>
                            <strong>
                                Please note that the packages are based on a group of 8 sharing a 4 bedroom Apartment
                            </strong>
                        </div>
                        <br>


                    </div>
                </div>


            </div>

            <!--End  single_tour_desc-->

            <aside class="col-lg-4">
                <div class="box_style_1 expose">
                    <a class="btn_full" href="/contact">Confirm Attendance</a>
                </div>
                <div class="box_style_4">
                    <i class="icon_set_1_icon-90"></i>
                    <h4><span>Book</span> by phone</h4>
                    <a href="tel://254208000243" class="phone need_help_right">+254 20 8000 243</a>
                    <a href="tel://00254721913293" class="phone need_help_right">+254 721 913 293</a>
                    <small>Monday to Saturday 7.00am - 8.00pm</small>
                </div>
            </aside>

        </div>
        <!--End row -->
    </div>
    <!--End container -->
    <!--start of footer-->

    <app-footer></app-footer>

    <!--End of footer-->

    <div id="overlay"></div>
    <!-- Mask on input focus -->

</main>