<div class="widget" id="cat_blog">
    <h4>Blog Articles</h4>
    <ul>
        <li>
            <a href="/all-blogs">All Blogs</a>
        </li>
        <li>
            <a href="/nairobi-national-park-blog">Nairobi National Park</a>
        </li>
        <li>
            <a href="/longonot-blog">Mt Longonot Hike</a>
        </li>
        <li>
            <!-- <a href="#">Tips for travellers</a> -->
        </li>
        <!-- <li>
            <a href="#">Events</a>
        </li> -->
    </ul>
</div>