<section class="parallax-window" data-parallax="scroll" data-image-src="../../../../assets/img/package-landing-pages/scenic-view.jpg"
    data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1">
        <div class="animated fadeInDown">
            <h1>About us</h1>
            <p>See how H-art of Afrca Safaris makes you find the inspiration in your daily life with our awesome tours</p>
        </div>
    </div>
</section>
<!-- End Section -->

<main>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->

    <div class="container margin_60">

        <div class="main_title">
            <h2>Some <span>good </span>reasons</h2>
            <!--<p>Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.</p>-->
        </div>

        <div class="row">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="feature container-height">
                    <i class="icon_set_1_icon-30 about-Us-Icons"></i>
                    <h3><span>Chiefly </span>Convinient</h3>
                    <p>
                        We H-ART OF AFRICA SAFARIS LTD are the first boutique premium travel service that specializes in
                        Small Group Tours, Private Luxury Tours and Customized Tours to East Africa. Our specialty is
                        Customized Tours where we offer the most exceptional rate for small groups (like a couple). We
                        ensure the visit to Africa is memorable by arming ourselves with the best guides, vehicles, tour
                        equipment, and the best travel rates this side of the Sahara.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="feature container-height">
                    <i class="icon_set_1_icon-41 about-Us-Icons"></i>
                    <h3><span>Outsanding </span>Uniqueness</h3>
                    <p>
                        We guarantee every safari is never the same, by tailor-making each visit to your needs and
                        budget, including the best recommendations. We additionally offer our clients the extraordinary
                        privilege of amending or including more details to their trip. A good example is a client may
                        want to add a Nairobi excursion (site seeing) to their itinerary before the safari.
                    </p>
                </div>
            </div>
        </div>
        <!-- End row -->
        <div class="row">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature container-height">
                    <i class="icon_set_1_icon-59 about-Us-Icons"></i>
                    <h3><span>Swift </span> Services</h3>
                    <p>
                        We in addition offer other robust services like hotel, resort, homestay booking, transportation
                        reservation, tour guide service, translator/interpreter services and event organizer/charity
                        trip facilitator. Thus, making our company the most flexible and disruptive in the market. In
                        our company luxury is our basic package and our luxury packages leave you feeling like royalty
                        from the moment you land in Kenya.
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.4s">
                <div class="feature container-height">
                    <i class="icon_set_1_icon-61 about-Us-Icons" ></i>
                    <h3><span>Client </span>Focused</h3>
                    <p>
                        H-ART OF AFRICA SAFARIS LTD stands on another level unique from all other companies because we
                        focus on the clients and not the profits. The joy and comfort of our clients are our key reward.
                        We are the sole company that makes sure you keep coming back to East Africa as your main tourism
                        destination. We strongly urge anyone and everyone to come forward and experience the differences
                        of our services compared to a regular travel agency.
                    </p>
                </div>
            </div>
        </div>
        <!-- End row -->
        <div class="row">

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="feature container-height">
                    <i class="icon_set_1_icon-41 about-Us-Icons" ></i>     
                    <h3><span>"What </span>We Offer"</h3>
                    <ul>
                        
                        <li>City excursions</li>
                        <li>Hotel or Homestay booking</li>
                        <li>Honeymoon holidays</li>
                        <li>Beach holidays</li>
                        <li>Mountain climbing</li>
                        <li> Safari Booking</li>
                        <li>Car rentals</li>
                        <li> Building & Conference</li>
                    </ul>
                </div>
            </div>         

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="feature container-height">
                    <i class="icon_set_1_icon-41 about-Us-Icons" ></i>
                    <h3><span>"What </span>We Facilitate"</h3>
                    <ul>
                        <li>Hotel and resort booking</li>
                        <li>Transportation reservation</li>
                        <li>Tour guide service</li>
                        <li>Translator/ Interpreter service</li>
                        <li>Event Organizer/ Charity trip facilitator</li>
                    </ul>               
                </div>
            </div>

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature container-height">
                    <i class="icon_set_1_icon-61 about-Us-Icons" ></i>
                    <h3><span>Reputable </span>Partnerships</h3>
                    <p>
                        We are, furthermore, a reputable destination management company who supports its international
                        partners with the most outstanding quality in service, tariff, and availability. Our partners
                        have been enjoying our efficiency and effectiveness in serving our clients and instantaneous
                        responses in a critical situation.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature container-height">
                    <i class="icon_set_1_icon-30 about-Us-Icons" ></i>
                    <h3><span>Broaden </span>Our Scope</h3>
                        <p>H-ART OF AFRICA SAFARIS LTD has officially partnered with 
                            <a href="https://www.safaribookings.com/" target="_blank">SafariBookings.com</a> 
                            to broaden the scope of our online presence</p>                
                        
                </div>
            </div>
        </div>
    </div>

    <!-- End container -->
    <br>
    <!-- End container-fluid  -->
    <div class="container">
         <div class="main_title">
            <h2 >WORKING <span>TOGETHER</span> TO CREATE
                SUCCESSFUL <span>TOURS</span> AROUND THE <span>WORLD</span></h2>
         </div>
        <div id="Img_carousel" class="slider-pro">
            <div class="sp-slides">

            
                <div class="sp-slide">
                    <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                        data-src="../../../../../assets/img/about-us/carousel/medium/0.5About-Us_3-100.jpg"
                        data-small="../../../../../assets/img/about-us/carousel/small/0.5About-Us_3@0.5x-100.jpg"
                        data-medium="../../../../../assets/img/about-us/carousel/medium/0.5About-Us_3-100.jpg"
                        data-large="../../../../../assets/img/about-us/carousel/large/0.5About-Us_3@2x-100.jpg"
                        data-retina="../../../../../assets/img/about-us/carousel/large/0.5About-Us_3@2x-100.jpg">
                </div>

                <div class="sp-slide">
                    <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                    data-src="../../../../../assets/img/about-us/carousel/medium/0About-Us_4-100.jpg"
                    data-small="../../../../../assets/img/about-us/carousel/small/0About-Us_4@0.5x-100.jpg"
                    data-medium="../../../../../assets/img/about-us/carousel/medium/0About-Us_4-100.jpg"
                    data-large="../../../../../assets/img/about-us/carousel/large/0About-Us_4@2x-100.jpg"
                    data-retina="../../../../../assets/img/about-us/carousel/large/0About-Us_4@2x-100.jpg">
                </div>

                <div class="sp-slide">
                    <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                    data-src="../../../../../assets/img/about-us/carousel/medium/1About-Us-100.jpg"
                    data-small="../../../../../assets/img/about-us/carousel/small/1About-Us@0.5x-100.jpg"
                    data-medium="../../../../../assets/img/about-us/carousel/medium/1About-Us-100.jpg"
                    data-large="../../../../../assets/img/about-us/carousel/large/1About-Us@2x-100.jpg"
                    data-retina="../../../../../assets/img/about-us/carousel/large/1About-Us@2x-100.jpg">
                </div>

                <div class="sp-slide">
                    <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                    data-src="../../../../../assets/img/about-us/carousel/medium/About-Us_1.0-100.jpg"
                    data-small="../../../../../assets/img/about-us/carousel/small/2About-Us_1@0.5x-100.jpg"
                    data-medium="../../../../../assets/img/about-us/carousel/medium/About-Us_1.0-100.jpg"
                    data-large="../../../../../assets/img/about-us/carousel/large/2About-Us_1@2x-100.jpg"
                    data-retina="../../../../../assets/img/about-us/carousel/large/2About-Us_1@2x-100.jpg">
                </div>

                <div class="sp-slide">
                    <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                    data-src="../../../../../assets/img/about-us/carousel/medium/About-Us_1.1-100.jpg"
                    data-small="../../../../../assets/img/about-us/carousel/small/3About-Us_5@0.5x-100.jpg"
                    data-medium="../../../../../assets/img/about-us/carousel/medium/About-Us_1.1-100.jpg"
                    data-large="../../../../../assets/img/about-us/carousel/large/2About-Us_1@2x-100.jpg"
                    data-retina="../../../../../assets/img/about-us/carousel/large/3About-Us_5@2x-100.jpg">
                </div>

                <div class="sp-slide">
                    <img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
                    data-src="../../../../../assets/img/about-us/carousel/medium/About-Us_2-100.jpg"
                    data-small="../../../../../assets/img/about-us/carousel/small/About-Us_2@0.5x-100.jpg"
                    data-medium="../../../../../assets/img/about-us/carousel/medium/About-Us_2-100.jpg"
                    data-large="../../../../../assets/img/about-us/carousel/large/About-Us_2@2x-100.jpg"
                    data-retina="../../../../../assets/img/about-us/carousel/large/About-Us_2@2x-100.jpg">
                </div>

                
            </div>
            <div class="sp-thumbnails">
                
                <img alt="Image" class="sp-thumbnail"
                    src="../../../../../assets/img/about-us/carousel/medium/0.5About-Us_3-100.jpg">
                <img alt="Image" class="sp-thumbnail"
                    src="../../../../../assets/img/about-us/carousel/medium/0About-Us_4-100.jpg">
                <img alt="Image" class="sp-thumbnail"
                    src="../../../../../assets/img/about-us/carousel/medium/1About-Us-100.jpg">
                <img alt="Image" class="sp-thumbnail"
                    src="../../../../../assets/img/about-us/carousel/medium/About-Us_1.0-100.jpg">
                <img alt="Image" class="sp-thumbnail"
                    src="../../../../../assets/img/about-us/carousel/medium/About-Us_1.1-100.jpg">
                <img alt="Image" class="sp-thumbnail"
                src="../../../../../assets/img/about-us/carousel/medium/About-Us_2-100.jpg">
                
            </div>
        </div>

    </div>

    <div class="container mission-vision-cont">
        <div class="row">
            <div class="col-md-6 ">
                <h2><strong>Mission</strong></h2>
                <p>Before travel: Online Customer Service is available (24hrs, Monday - Sunday, GMT+7). Responses are
                    guaranteed within 24 business hours. However in most cases you will receive your answer within 2 - 3
                    hours on a business day. H-ART OF AFRICA SAFARIS LTD is dedicated to providing you a fast and
                    impressive booking experience meeting all your travel needs.</p>
                <p>During travel: While vacationing with us, H-ART OF AFRICA SAFARIS LTD tour guides and drivers, those
                    who are “on the field” with you, will provide first-hand assistance to most of your instant requests
                    or issues raised. The office staff with great communication channels, expertise skills and a
                    lifetime of experiences in the business are always responsively backing up. Our staff will do
                    everything possible to meet and exceed your expectations.</p>
                <p>Additionally as a reputable destination management company we support international partners with the
                    best quality in service, tariff, and availability. Our partners have been enjoying our efficiency
                    and effectiveness in serving our clients and swift responses in a critical situation.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h2 ><strong><span>Vision</span></strong></h2>
                <p>We do not want to just show our guests new places but also make them feel comfortable and content.
                    Going on a trip with H-ART OF AFRICA SAFARIS LTD is not only about extending knowledge but also
                    about the further development of acceptance of all different cultures in East Africa. The
                    development of the understanding and acceptance of all diverse ethnic cultures on planet earth, will
                    in our eyes allow us to live in peace and harmony. We strongly urge anyone and everyone to come
                    forward and experience the differences of our services compared to a regular travel agency. We are
                    very sure we will not only open your eyes to these cultures and experiences but also your heart to
                    them.</p>
                <p>To broaden the scope of our online presence, H-ART OF AFRICA SAFARIS LTD has officially partnered
                    with SafariBookings.com</p>
            </div>
        </div>
    </div>
</main>
<!-- End main -->


<!--start of footer-->

<app-footer></app-footer>

<!--End of footer-->


<div id="toTop"></div><!-- Back to top button -->

<!-- Search Menu -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
    <form role="search" id="searchform" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="icon_set_1_icon-78"></i>
        </button>
    </form>
</div><!-- End Search Menu -->

<!-- Sign In Popup -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
    <div class="small-dialog-header">
        <h3>Sign In</h3>
    </div>
    <form>
        <div class="sign-in-wrapper">
            <a href="#0" class="social_bt facebook">Login with Facebook</a>
            <a href="#0" class="social_bt google">Login with Google</a>
            <div class="divider"><span>Or</span></div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" id="email">
                <i class="icon_mail_alt"></i>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password" value="">
                <i class="icon_lock_alt"></i>
            </div>
            <div class="clearfix add_bottom_15">
                <div class="checkboxes float-left">
                    <input id="remember-me" type="checkbox" name="check">
                    <label for="remember-me">Remember Me</label>
                </div>
                <div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
            </div>
            <div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
            <div class="text-center">
                Don’t have an account? <a href="javascript:void(0);">Sign up</a>
            </div>
            <div id="forgot_pw">
                <div class="form-group">
                    <label>Please confirm login email below</label>
                    <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                    <i class="icon_mail_alt"></i>
                </div>
                <p>You will receive an email containing a link allowing you to reset your password to a new preferred
                    one.</p>
                <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
            </div>
        </div>
    </form>
    <!--form -->
</div>