<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../assets/img/hart/domestic/travel_desert.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header tour_titles">Highlights of 4 Days Marsabit, Chalbi Desert and Samburu Tour
					</h2>
					<!-- <span>Marsabit, Chalbi Desert and Samburu Tour.</span>						 -->
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/domestics">Domestic Tours</a>
				</li>
				<li>Marsabit, Chalbi Desert and Samburu Tour</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->


	<div class="collapse" id="collapseMap">
		<div id="map" class="map"></div>
	</div>
	<!-- End Map -->

	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">
				<div id="single_tour_feat">
					<!-- <h2>Highlights of 4 Days Marsabit, Chalbi Desert and Samburu Tour
						</h2> -->
				</div>

				<!-- Map button for tablets/mobiles -->

				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/1_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/1_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/1_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/1_large.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/2_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/2_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/2_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/2_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/3_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/3_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/3_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/3_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/4_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/4_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/4_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/4_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/5_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/5_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/5_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/5_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/6_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/6_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/6_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/6_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/7_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/7_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/7_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/7_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/8_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/8_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/8_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/8_large.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-small="../../../../../assets/img/slider_single_tour/9_small.jpg"
								data-medium="../../../../../assets/img/slider_single_tour/9_medium.jpg"
								data-large="../../../../../assets/img/slider_single_tour/9_large.jpg"
								data-retina="../../../../../assets/img/slider_single_tour/9_large.jpg">
						</div>
					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/1_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/2_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/3_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/4_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/5_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/6_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/7_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/8_medium.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../assets/img/slider_single_tour/9_medium.jpg">
					</div>
				</div>

				<hr>
				<!--Begining of  tour itinerary description-->
				<div class="row">

					<div class="col-lg-9">
						<h4> <strong>Marsabit, Chalbi Desert and Samburu Tour</strong> </h4>
						<p>
							Northern Kenya Expedition- The Chalbi Desert in Marsabit – a small desert in northern Kenya,
							situated near the border with Ethiopia.
						</p>
						<p>4 Days 3 Night Overland Truck Camping Experience at Ksh 24,150 per person Sharing a Tent</p>
						<h4><strong>Package Includes:-</strong></h4>
						<ul>
							<li>Meals on Safari</li>
							<li>Transport on Overland truck and 4X4 Land Cruiser</li>
							<li>Camping and Bandas accommodation on sharing basis</li>
							<li>Professional Tour Guide</li>
							<li>Lake Paradise Visit/Tour</li>
							<li>Chalbi Desert Tour</li>
						</ul>
						<br>
						<h4><strong>Package Excludes:</strong></h4>
						<ul>
							<li>Activity Extras: Ngare Ndare Tour</li>
							<li>En-route lunches and drinks at designated stops on the first and last day.</li>
							<li>Personal items as listed above</li>
							<li>Tips for Guides</li>
							<li>Medical and Insurance Expenses</li>
						</ul>
						<br>

						<h4><strong>DETAILED ITINERARY</strong></h4> <br>
						<h4><strong> Day 1: Nairobi to Marsabit</strong></h4>
						<p>
							Depart early from Nairobi on Overland truck and drive north past Nanyuki and the beautiful
							farmlands of Timau to stop for fuel at Isiolo. Drive north and stop over for photos and
							sightseeing at Mt. Ololokwe before proceed to Marsabit, a cool mountain town in the North.
							Drive up to Lake Marsabit in time to see the animals coming out for an evening drink. The
							sunset from the hills are also worth the drive. Camp at the park gate for the night.
						</p>
						<h4><strong>Day 2: Marsabit to Chalbi Desert – North Horr/Kalacha</strong> </h4>
						<p>After breakfast embark on crossing the great Chalbi desert. The journey leads you to a
							beautiful oasis at the edge of the Chalbi desert.The vast landscapes and sand dunes will
							amaze you. The crossing with skilled drivers on sand is thrilling. Spend the evening in
							bandas at the edge of the desert. The nights are great for stargazing.</p>

						<h4><strong>Day 3: Kalacha – Marsabit – Samburu</strong></h4>
						<p>Depart East to connect to the main highway, where you switch from the 4X4 to the truck and
							continue south to Samburu National park. This is a great park for viewing the big five riht
							from your campsite at the edge of the river. Dinner and overnight in the park</p>
						<br>

						<h4><strong>Day 4: Samburu to Nairobi</strong></h4>
						<p>Enjoy an early morning game drive in the park. You may also stop over at Ngare Ndare if time
							allow. Later in the day depart south to Nairobi to arrive late in the evening</p>
						<app-request-quote-button></app-request-quote-button>
					</div>
				</div>

			</div>
			<!--End of tour itinerary description-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>

	</div>

</main>
<!-- End main -->

<app-footer></app-footer>

<div id="toTop"></div><!-- Back to top button -->