<section class="parallax-window" data-parallax="scroll"
	data-image-src="../../../../../assets/img/package-landing-pages/park-jeep.jpg" data-natural-width="1400"
	data-natural-height="470">
	<div class="parallax-content-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="page-header tour_titles">Highlights of 12 Days Bush and Beach Safari Tour</h2>
					
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End section -->

<main>
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a>
				</li>
				<li><a href="/safaris">Safaris Tours</a>
				</li>
				<li>12 Days Bush and Beach Safari Tour</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->




	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-8" id="single_tour_desc">
				<div id="single_tour_feat">
					
				</div>



				<div id="Img_carousel" class="slider-pro">
					<div class="sp-slides">
                        <!--Try to find pictures with families enjoying the trip on this package they will be more convincing-->
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara _71000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara _7500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara _71000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara _72000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara _72000x1333.jpg">
						</div>
						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara _131000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara _13500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara _131000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara _132000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara _132000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_41000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_4500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_41000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_42000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_42000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_91000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_9500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_91000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_92000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_92000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_31000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_3500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_31000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_32000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_32000x1333.jpg">
						</div>

						<div class="sp-slide">
							<img alt="Image" class="sp-image" src="../../../../../assets/css/images/blank.gif"
								data-src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_11000x667.jpg"
								data-small="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/small/The Great Mara and Amboseli_1500x333.jpg"
								data-medium="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_11000x667.jpg"
								data-large="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_12000x1333.jpg"
								data-retina="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/large/The Great Mara and Amboseli_12000x1333.jpg">
						</div>


					</div>
					<div class="sp-thumbnails">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara _71000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara _131000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_41000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_91000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_31000x667.jpg">
						<img alt="Image" class="sp-thumbnail"
							src="../../../../../../../assets/img/packages-carousel/the-great-mara-and-amboseli/medium/The Great Mara and Amboseli_11000x667.jpg">


					</div>
				</div>

				<hr>

				<div class="row">

					<div class="col-lg-9">

						<div >
							<h4 class="package-content" > <strong>12 Days Bush and Beach Safari </strong> </h4>
							<div class="package-content">
                                Start your Kenyan family safari in Nairobi; the vibrant, exciting place and Africa’s fourth 
                                largest city. You and your family/friends will explore Nairobi's cafe culture, unbridled 
                                nightlife, National Museum, the Karen Blixen Museum.
                            </div>

							<h4 class="package-content"><strong>DETAILED ITINERARY</strong></h4>
							<h4 class="package-content"><strong> Day 1-2: Welcome to Kenya</strong></h4>
							<div class="package-content">
                                On arrival at Jomo Kenyatta International Airport, you will be met and transferred to the Hotel. 
                                This will be your home for the next two nights with your bed and breakfast included.
                            </div>
                            <div class="package-content">
                                Enjoy buffet dinner as well as city tour that will give you the opportunity 
                                to spot Nairobi's National Museum, the Karen Blixen Museum, unbridled nightlife and cafe culture.
                            </div>
							<h4 class="package-content"><strong>Day 3-4: Lake Nakuru National Park</strong> </h4>
                            
                            <div class="package-content">
                                <!--Replace hotel with one with contract rate-->
                                Drive to Lake Naivasha Sopa Lodge; set in 150 acres of grasslands studded with Acacia bushes and trees. 
                                The resort is not only home to resident giraffe, waterbuck and both Vervet and Colobus monkeys, but it 
                                is also a night stop for the hippos when they leave the lake every night to come and trim the grass on 
                                the expansive lawns.
                            </div>
                            <div class="package-content">
                                You will stay for two nights with all your meals included. Highlights will be boat rides on the lake, morning 
                                and afternoon game drives, picnic lunch and nature walks.
                            </div>
							<h4 class="package-content"><strong>Day 5-7: Kings of the Jungle Tour</strong></h4>
							<div class="package-content">
                                Masai Mara Sopa Lodge is one of the first lodges to be built in the Masai Mara Game Reserve. 
                                It's located on the slopes of Oloongams Hills. 
                                This will be your abode for the next three nights with all your meals included.
                            </div>
							<h4 class="package-content"><strong>Day 8-11: Beach Excursion</strong></h4>
							<div class="package-content">
                                Drive to Nairobi and after lunch, you will be transferred to Jomo Kenyatta International Airport for the scheduled
                                 flight to Mombasa. When you arrive at Mombasa Airport you will be transported to the a prestigous hotel Beach Resort & Spa.
                            </div>
                            <div class="package-content">
                                Spend four nights with your bed and breakfast as well as lunch included (Half Board). Enjoy the beauty of Mombasa and visit 
                                the Minazi Café, Lido Seafood Grill, Cocos Beach Bar, Tulia Spa & Health Bar and over the Indian ocean. 
                            </div>
                            <h4 class="package-content"><strong>Day 12: End of Service</strong></h4>
							<div class="package-content">
                                After breakfast, you and your family will be transferred to Mombasa airport for your scheduled flight to Nairobi.
                            </div>

							<app-request-quote-button></app-request-quote-button>

						</div>

						<!-- End row  -->
					</div>
				</div>

			</div>
			<!--End  single_tour_desc-->

			<aside class="col-lg-4">
				<app-book-by-phone-right></app-book-by-phone-right>
			</aside>
		</div>
		<!--End row -->
	</div>
	<!--End container -->


</main>
<!-- End main -->

<app-footer></app-footer>

<div id="toTop"></div><!-- Back to top button -->