@media screen and (max-width: 720px) {    
    .video_title {
        font-size: 16px !important;
    }

    .video_description {
        font-size: 10px !important;
    }

    .video_title[_ngcontent-ccr-c354] {
        font-size: 16px !important;
    }
}

.video_title {
    font-size: 26px !important;
}

.video_description {
    font-size: 20px !important;
}
.intro-bottom{
    text-align: center;
}
.reason-cards{
    transition: transform 0.5s;
}
