@media screen and (max-width: 720px) {    
    .video_title {
        font-size: 16px !important;
    }

    .video_description {
        font-size: 10px !important;
    }

    .video_title[_ngcontent-ccr-c354] {
        font-size: 16px !important;
    }

    .banner h4 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        margin-left: 0;
        padding: 0;
        color: #ffffff;
        font-family: "Gochi Hand", cursive;
    }

    .read-more-mobile {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.video_title {
    font-size: 26px !important;
}

.video_description {
    font-size: 20px !important;
}
.intro-bottom{
    text-align: center;
}
.reason-cards{
    transition: transform 0.5s;
}

.longonot{
    margin-left: 10px;
}

.banner h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    margin-left: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Gochi Hand", cursive;
}

.banner a {
    position: absolute;
    top: 35%;
    margin-left: 0;
}

.items-list{
    list-style-type: none;
}

.price_description {
    margin-right: 50px;
}

.title-spacing {
    margin-top: 40px;
}
#rev_slider_54_1_wrapper{
    margin:0px auto;
    background:transparent;
    padding:0px;
    margin-top:0px;
    margin-bottom:0px;
}
#rev_slider_54_1{
    display:none;
}
.home-page-icons{
    color: #417a04;
}

#view-safaris {
    margin-bottom: 65px;
}

.top-banner{
    color: hsla(46, 93%, 47%, 0.906);
}
